<script type="text/javascript" src="/js/libs/jquery/jquery.js"></script>
<script src="/js/adop/layout.js"></script>
<!-- ADOP JS -->
<script type="text/javascript" src="/js/adop/loadingoverlay/loadingoverlay.js"></script>
<script type="text/javascript" src="/js/adop/common.js"></script>
<script type="text/javascript" src="/js/adop/auth.js"></script>

