<!--<div class="footer-wrapper">-->
    <div class="footer-body">
        <div class="footer-left">
            <div class="footer-address">
                ADOP
            </div>
            <div class="footer-detail">
                <a href="mailto:px@adop.cc">px@adop.cc</a><br>
                (06173) 서울특별시 강남구 테헤란로 623 삼성빌딩 10층
                <br>
                Biz No. 214-88-82841 | Tel. 02-2052-6256
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-sns">
                <img src="/img/footer_facebook.png">
                <img src="/img/footer_instagram.png">
                <img src="/img/footer_linkedin.png">
                <img src="/img/footer_twitter.png">
            </div>
        </div>
    </div>
<!--</div>-->