<!--<div class="nav my-campaigns-mobile-nav">-->
    <div class="nav__container">
        <div class="menu" style="display: none;">
            <div class="menu__container">
                <div class="menu__content">
                    <ul class="menu__list">
                        <li class="menu__button menu__manager">
                                <span class="menu__icon">
                                    <span class="icon">
                                        <i class="far fa-handshake-alt fa-lg"></i>
                                    </span>
                                </span>
                            <span class="menu__text">내 매니저</span>
                        </li>
                        <li class="router-link-active menu__button menu__campaign">
                                <span class="menu__icon">
                                    <span class="icon">
                                        <i class="far fa-folder fa-lg"></i>
                                    </span>
                                </span>
                            <span class="menu__text">내 광고</span>
                        </li>
                        <li class="menu__button menu__account">
                                <span class="menu__icon">
                                    <span class="icon">
                                        <i class="far fa-user fa-lg"></i>
                                    </span>
                                </span>
                            <span class="menu__text">사용자 설정</span>
                        </li>
                        <li class="menu__button menu__help">
                                <span class="menu__icon">
                                    <span class="icon">
                                        <i class="far fa-envelope fa-lg"></i>
                                    </span>
                                </span>
                            <span class="menu__text">문의하기</span>
                        </li>
                        <div class="box-new-mobile">
                            <i class="fal fa-plus"></i>
                            <span class="box-new-mobile__text">새 광고 만들기</span>
                        </div>
                        <div class="box-new-mobile express">
                                <span class="icon" style="color: rgb(255, 255, 255); font-size: 13px;">
                                    <i class="far fa-magic fa-lg"></i>
                                </span>
                            <span class="box-new-mobile__text">ADOP에게 부탁하기</span>
                        </div>
                        <div class="box-new-mobile blog">
                            <a class="box-new-mobile__text" href="https://blog.naver.com/adrielai"
                               target="_blank">
                                <img src="/img/left_nav_blog.png">
                                아드리엘 블로그 보기
                            </a>
                        </div>
                    </ul>
                </div>
                <div class="menu__bottom">
                        <span class="menu__logout">
                            <span class="icon" style="color: rgb(102, 102, 102);">
                                <i class="far fa-sign-out fa-lg"></i>
                            </span>
                        </span>
                </div>
            </div>
        </div>
        <div class="nav__left">
            <a href="https://adriel.ai/kr" target="_blank">
                <img src="/img/logo_adop_150x50.png"></a>
        </div>
        <div class="nav__right">
            <button>
                <div class="menu-button"></div>
            </button>
        </div>
    </div>
<!--</div>-->