<!--<div class="left-nav-wrapper my-campaigns-left-nav">-->
    <ul>
        <li class="top-logo">
            <a href="http://adop.cc" target="_blank">
                <img src="/img/logo_adop_150x50.png">
            </a>
        </li>
        <li class="left-menu campaign"><!-- router-link-active -->
            <span class="img-holder">
                <span class="icon">
                    <i class="far fa-folder fa-lg"></i>
                </span>
            </span>
            <a href="/myCampaigns">
                <span class="left-title">내 광고</span>
            </a>
        </li>
        <li class="left-menu setting">
            <span class="img-holder">
                <span class="icon">
                    <i class="far fa-user fa-lg"></i>
                </span>
            </span>
            <a href="/info">
                <span class="left-title">사용자 설정</span>
            </a>
        </li>
        <li class="left-menu help">
            <span class="img-holder">
                <span class="icon">
                    <i class="far fa-envelope fa-lg"></i>
                </span>
            </span>
            <a href="/help">
                <span class="left-title">문의하기</span>
            </a>
        </li>
        <li class="left-menu newCamp">
            <a href="/newCampaignModal">
                <span><i class="fal fa-plus"></i>새 광고 만들기</span>
            </a>
        </li>
        <li class="left-menu expressCamp express-button">
            <a href="/express">
                <span>
                    <span class="icon"><i class="far fa-magic fa-lg"></i></span>ADOP에게 부탁하기
                </span>
            </a>
        </li>
    </ul>
    <div class="bottomWrapper">
        <a href="/logout">
            <span class="logout">
                <span class="icon" style="color: rgb(102, 102, 102);">
                    <i class="far fa-sign-out fa-lg"></i>
                </span>
                <span class="logout-title">로그아웃</span>
            </span>
        </a>
    </div>
<!--</div>-->