.profile-setting {
    min-width: 494px
}

.profile-setting .control-label {
    font-size: 14px
}

.profile-setting .profile-form .form-input {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px
}

.profile-setting .profile-form .form-input label {
    color: #797d88;
    width: 120px;
    display: inline-block
}

.profile-setting .profile-form .form-input > span {
    width: calc(100% - 125px);
    display: inline-block;
    cursor: pointer;
    min-height: 18px
}

.profile-setting .profile-form .form-input input {
    color: #fff;
    background-color: #8090a0;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 10px;
    border: 0;
    width: 300px
}

.profile-setting .profile-form .form-input.country {
    border-bottom: none;
    padding-bottom: 0
}

.profile-setting .password-form .form-input {
    margin: 10px 0
}

.profile-setting .password-form label {
    color: #797d88;
    width: 100%
}

.profile-setting .password-form input {
    color: #fff;
    background-color: #8090a0;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 10px;
    border: 0;
    width: 100%
}

.profile-setting .email-report-form {
    margin-top: 10px
}

.profile-setting .email-report-form h1 {
    font-size: 16px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700
}

.profile-setting .email-report-form hr {
    margin: 10px 0
}

.profile-setting .email-report-form .form-input > label {
    color: #797d88;
    font-size: 14px
}

.profile-setting .email-report-form + .adriel-buttons-wrapper {
    margin-top: 30px
}

.profile-setting .lang-setting {
    width: 100%;
    margin-top: 12px;
    background-color: #fff;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.profile-setting .lang-setting > img {
    margin-right: 5px
}

.profile-setting .lang-setting > span {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    color: #4d5058;
    font-weight: 700
}

.profile-setting .lang-setting .control {
    margin-left: auto
}

.profile-setting .lang-setting .control .select {
    font-size: 14px
}

.profile-setting .delete-account {
    display: block;
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #797d88
}

.profile-setting .delete-account:hover {
    text-decoration: underline
}

.profile-setting .remove-account-modal .confirm-modal-wrapper {
    width: 450px;
    border-radius: 10px;
    padding: 30px 15px 15px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%)
}

.profile-setting .remove-account-modal .confirm-modal-wrapper span {
    text-align: center;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    color: #333
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .remove-account-modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .remove-account-modal-body .close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .remove-account-modal-body__title {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #999;
    margin-top: 10px
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .remove-account-modal-body__content {
    font-size: 14px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    color: #222;
    margin-top: 20px
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .remove-account-modal-body__input {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #393c3f;
    text-align: left
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .remove-account-modal-body__input > input {
    margin-top: 5px
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .adriel-buttons-wrapper {
    margin-top: 30px
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .adriel-buttons-wrapper button {
    height: 40px
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .adriel-buttons-wrapper.cannot-delete-button button {
    width: 100%
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .cannot-delete {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #222;
    width: 100%
}

.profile-setting .business-cert {
    margin-top: 12px
}

.payment-method-list {
    max-height: 180px;
    overflow: auto
}

.CouponList .coupon-form input {
    color: #fff;
    background-color: #8090a0;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 10px;
    border: 0
}

.AccountSetting {
    min-height: 100vh;
    padding-top: 90px;
    padding-bottom: 60px;
    padding-left: 180px
}

.AccountSetting .container {
    max-width: 1000px
}

.AccountSetting .billing-history-btn {
    background-color: #5aabe3;
    color: #fff;
    font-weight: 500;
    padding: 0 15px;
    border-radius: 5px;
    border: none
}

@media screen and (max-width: 800px) {
    #main-route-view .AccountSetting {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto
    }

    #main-route-view .AccountSetting .mobile-nav {
        display: block
    }

    #main-route-view .AccountSetting .left-nav {
        display: none
    }

    #main-route-view .AccountSetting .profile-setting {
        min-width: 0
    }
}