.profile-setting {
    min-width: 494px
}

.profile-setting .control-label {
    font-size: 14px
}

.profile-setting .profile-form .form-input {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px
}

.profile-setting .profile-form .form-input label {
    color: #797d88;
    width: 120px;
    display: inline-block
}

.profile-setting .profile-form .form-input > span {
    width: calc(100% - 125px);
    display: inline-block;
    cursor: pointer;
    min-height: 18px
}

.profile-setting .profile-form .form-input input {
    color: #fff;
    background-color: #8090a0;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 10px;
    border: 0;
    width: 300px
}

.profile-setting .profile-form .form-input.country {
    border-bottom: none;
    padding-bottom: 0
}

.profile-setting .password-form .form-input {
    margin: 10px 0
}

.profile-setting .password-form label {
    color: #797d88;
    width: 100%
}

.profile-setting .password-form input {
    color: #fff;
    background-color: #8090a0;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 10px;
    border: 0;
    width: 100%
}

.profile-setting .email-report-form {
    margin-top: 10px
}

.profile-setting .email-report-form h1 {
    font-size: 16px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700
}

.profile-setting .email-report-form hr {
    margin: 10px 0
}

.profile-setting .email-report-form .form-input > label {
    color: #797d88;
    font-size: 14px
}

.profile-setting .email-report-form + .adriel-buttons-wrapper {
    margin-top: 30px
}

.profile-setting .lang-setting {
    width: 100%;
    margin-top: 12px;
    background-color: #fff;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.profile-setting .lang-setting > img {
    margin-right: 5px
}

.profile-setting .lang-setting > span {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    color: #4d5058;
    font-weight: 700
}

.profile-setting .lang-setting .control {
    margin-left: auto
}

.profile-setting .lang-setting .control .select {
    font-size: 14px
}

.profile-setting .delete-account {
    display: block;
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #797d88
}

.profile-setting .delete-account:hover {
    text-decoration: underline
}

.profile-setting .remove-account-modal .confirm-modal-wrapper {
    width: 450px;
    border-radius: 10px;
    padding: 30px 15px 15px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%)
}

.profile-setting .remove-account-modal .confirm-modal-wrapper span {
    text-align: center;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    color: #333
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .remove-account-modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .remove-account-modal-body .close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .remove-account-modal-body__title {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #999;
    margin-top: 10px
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .remove-account-modal-body__content {
    font-size: 14px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    color: #222;
    margin-top: 20px
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .remove-account-modal-body__input {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #393c3f;
    text-align: left
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .remove-account-modal-body__input > input {
    margin-top: 5px
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .adriel-buttons-wrapper {
    margin-top: 30px
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .adriel-buttons-wrapper button {
    height: 40px
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .adriel-buttons-wrapper.cannot-delete-button button {
    width: 100%
}

.profile-setting .remove-account-modal .confirm-modal-wrapper .cannot-delete {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #222;
    width: 100%
}

.profile-setting .business-cert {
    margin-top: 12px
}

.payment-method-list {
    max-height: 180px;
    overflow: auto
}

.CouponList .coupon-form input {
    color: #fff;
    background-color: #8090a0;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 10px;
    border: 0
}

.AccountSetting {
    min-height: 100vh;
    padding-top: 90px;
    padding-bottom: 60px;
    padding-left: 180px
}

.AccountSetting .container {
    max-width: 1000px
}

.AccountSetting .billing-history-btn {
    background-color: #5aabe3;
    color: #fff;
    font-weight: 500;
    padding: 0 15px;
    border-radius: 5px;
    border: none
}

@media screen and (max-width: 800px) {
    #main-route-view .AccountSetting {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto
    }

    #main-route-view .AccountSetting .mobile-nav {
        display: block
    }

    #main-route-view .AccountSetting .left-nav {
        display: none
    }

    #main-route-view .AccountSetting .profile-setting {
        min-width: 0
    }
}















.adriel-buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.adriel-buttons-wrapper button {
    font-size: 14px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    width: calc(50% - 5px)
}

.adriel-buttons-wrapper button.cancel {
    background-color: #999
}

.adriel-buttons-wrapper button.confirm {
    background-color: #5aabe3
}

.loading-adriel-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%)
}

.animated-logo {
    width: 200px;
    height: 249px;
    background: url(/img/loading_sprites.png) 0;
    -webkit-animation: play-data-v-01abfa69 4.5s steps(70) infinite;
    animation: play-data-v-01abfa69 4.5s steps(70) infinite
}

.loading-msg {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #4d5058;
    text-align: center;
    white-space: pre-line
}

@-webkit-keyframes play-data-v-01abfa69 {
    to {
        background-position: -14000px
    }
}

@keyframes play-data-v-01abfa69 {
    to {
        background-position: -14000px
    }
}

.payment-method {
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px
}

.payment-method.selected {
    border: 2px solid #5aabe3
}

.payment-method .img-card-type {
    width: 50px;
    margin-right: 10px;
    vertical-align: middle
}

.payment-method .card-number {
    font-size: 15px
}

.payment-method .expiration {
    font-size: 14px
}

.add-payment-method {
    max-width: 650px;
    width: 100%
}

.add-payment-method .card-type {
    height: 45px
}

.add-payment-method .card-type img {
    height: 40px;
    vertical-align: middle
}

.add-payment-method #card-form .form-input {
    margin: 10px 0
}

.add-payment-method #card-form .form-input label {
    color: #797d88;
    width: 135px;
    display: inline-block
}

.add-payment-method #card-form .form-input .input-wrapper {
    color: #fff;
    background-color: #fff;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc
}

.add-payment-method .buttons-wrapper {
    margin-top: 30px;
    padding: 0 15px 15px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.add-payment-method .buttons-wrapper button {
    width: 205px;
    font-size: 18px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    height: 50px
}

.add-payment-method .buttons-wrapper button:first-child {
    background-color: #999;
    margin-right: 10px
}

.add-payment-method .buttons-wrapper button:last-child {
    background-color: #5aabe3;
    margin-left: 10px
}

.add-payment-method .buttons-wrapper button:disabled {
    cursor: not-allowed
}

.add-payment-method .buttons-wrapper span {
    text-align: center;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    color: #333
}

.add-payment-method .payment-info-ko {
    color: #ef646f;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px
}

@media screen and (max-width: 800px) {
    .add-payment-method button {
        width: 155px
    }
}

.coupon.selectable {
    cursor: pointer
}

.coupon {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    padding: 0 10px
}

.coupon .coupon-top, .coupon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.coupon .coupon-top b {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #333
}

.coupon > img {
    margin-right: 10px
}

.coupon .coupon-amount {
    margin-left: auto;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #333
}

.coupon .coupon-bottom {
    display: block
}

.coupon .expired {
    margin-left: 10px;
    font-size: 10px;
    color: red
}

.coupon .consumed, .coupon .end-date {
    font-size: 12px;
    margin-left: 5px
}

@media screen and (max-width: 599px) {
    .coupon .coupon-img {
        width: 35px;
        margin-right: 10px
    }

    .coupon .coupon-amount, .coupon b {
        font-size: 12px !important
    }
}

.business-cert-box {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: .7px .7px 10px 0 rgba(0, 0, 0, .1);
    box-shadow: .7px .7px 10px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    padding: 15px 15px 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.business-cert-box.highlight {
    border: 1px solid #ef646f
}

.business-cert-box .top-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.business-cert-box .top-area--title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    font-weight: 600;
    color: #4d5058
}

.business-cert-box .top-area--number {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-right: auto;
    margin-left: 18px
}

.business-cert-box .top-area > input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    border-radius: 3px;
    border: 2px solid #ccc;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    color: #333
}

.business-cert-box .top-area > input:focus {
    outline: none;
    border: 2px solid #5aabe3
}

.business-cert-box .top-area > button {
    height: 35px;
    border-radius: 3px;
    background-color: #5aabe3;
    font-size: 14px;
    color: #fff;
    padding: 0 25px
}

.business-cert-box .top-area > button:hover {
    background-color: #519acc
}

.business-cert-box .top-area > img {
    cursor: pointer
}

.business-cert-box .bottom-area {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.business-cert-box .bottom-area > span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 12px;
    color: #797d88;
    margin-left: 5px
}

.business-cert-box.modal-type {
    padding: 0;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: 15px
}

.business-cert-box.modal-type .top-area > input {
    margin: 0
}

.business-cert-box.modal-type .adriel-buttons-wrapper {
    margin-top: 20px
}

.business-cert-box.modal-type .adriel-buttons-wrapper button {
    height: 50px
}

@media screen and (max-width: 799px) {
    .business-cert-box .top-area {
        display: block
    }

    .business-cert-box .top-area button {
        width: 100%;
        margin-top: 10px
    }
}