.terms-policy-wrapper {
    width: 650px;
}

:after, :before {
    font-family: Roboto, Noto Sans, sans-serif;
    line-height: 140%
}

body, html {
    width: 100%;
    height: 100%;
    font-size: 100%
}

body, dl, figure, h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin: 0;
    padding: 0
}

button, input, select, textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer
}

li {
    list-style: none
}

a, a:hover {
    text-decoration: none
}

img {
    border: none
}

.margin-top-medium {
    margin-top: 15px
}

.margin-bottom-medium {
    margin-bottom: 15px
}

.text-center {
    text-align: center
}

.clearfix {
    content: "";
    display: table;
    clear: both
}

.font-size-small {
    font-size: 14px
}

.font-size-medium {
    font-size: 16px
}

.font-size-big {
    font-size: 18px
}

.font-size-huge {
    font-size: 24px
}

.list-nest-level-1 {
    padding-left: 12px
}

.list-nest-level-1 li {
    list-style-type: disc;
    margin-bottom: 6px
}

.list-nest-level-2 {
    padding-left: 12px
}

.list-nest-level-2 li {
    list-style-type: circle;
    margin-bottom: 6px
}

.font-color-12 {
    color: #333
}

.terms-agree-container {
    position: relative;
    border-radius: 10px;
    padding: 30px;
    overflow-y: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    font-size: 14px
}

.terms-agree >  {
    display: block
}

.agree-term-btn-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 20px
}

.agree-term-btn {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    width: 150px;
    height: 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: #5aabe3;
    border-radius: 5px;
    border: none
}

.agree-term-btn:hover {
    cursor: pointer
}

.terms-agree-img {
    position: absolute;
    right: 20px;
    top: 30px;
    cursor: pointer
}

.terms-agree-title {
    color: #2b80ba;
    margin-bottom: 25px;
    display: block;
    font-weight: 700
}

.terms-agree-title-desc {
    font-size: 18px
}

.terms-agree-title-inline {
    font-weight: 700
}

.terms-agree-each {
    margin-bottom: 25px
}

.terms-agree-each:last-child {
    margin-bottom: 0
}

.terms-agree-strong {
    font-weight: 700
}

.terms-list-title {
    text-decoration: underline;
    margin-bottom: 15px;
    font-weight: 700
}

.terms-list-item {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px
}

.terms-list-item:last-child {
    margin-bottom: 0
}

.terms-agree-normal {
    font-size: 14px;
    margin-top: 15px
}

.terms-agree-normal-desc {
    margin-bottom: 15px
}

.terms-agree-normal-desc a {
    word-break: break-all
}

.terms-agree-normal-line {
    display: inline
}

.terms-agree-link:active, .terms-agree-link:visited {
    font-weight: 700
}

.terms-agree-list-item {
    margin-bottom: 5px
}

.terms-agree-divider {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin: 30px 0
}