.resize-observer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    pointer-events: none;
    display: block;
    overflow: hidden;
    opacity: 0
}

.resize-observer object {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1
}

.dwPJRl {
    position: fixed;
    z-index: 20
}

.jKRfqj {
    position: fixed;
    right: 25px;
    top: 25px;
    position: fixed;
    right: 25px;
    top: 25px;
    position: fixed;
    right: 25px;
    top: 25px
}

@media screen and (max-width: 800px) {
    .jKRfqj {
        right: 45px;
        top: 25px
    }
}

.bxTwgj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font: 600 16px Rubik, sans-serif, Noto Sans;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    background-color: #accaf9;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0
}

.fKIEJr {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: center;
    align-self: center
}

.rPqxe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 200px
}

@media screen and (max-width: 800px) {
    .rPqxe {
        margin-top: 15px
    }
}

.gvbzhC {
    width: 310px;
    height: 250px;
    margin: 9.5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 20px
}

.gvbzhC > div {
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    border: 2px dashed #b3b9c6;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0
}

.gvbzhC > div:hover {
    border-color: #5aabe3
}

@media screen and (max-width: 800px) {
    .gvbzhC {
        width: 250px;
        height: 190px;
        font-size: 16px
    }
}

.ecSwOd:hover .fa-plus {
    color: #5aabe3
}

.ecSwOd > .fa-plus {
    font-size: 40px;
    color: #b3b9c6
}

@media screen and (max-width: 800px) {
    .ecSwOd > .fa-plus {
        font-size: 30px
    }
}

.ecSwOd span {
    font-family: 'Rubik', 'sans-serif', "'Noto Sans'";
    font-weight: 800;
    color: #797d88;
    margin-top: 5px
}

.eCRSYx:hover .icon {
    color: #5aabe3
}

.eCRSYx .icon {
    color: #b3b9c6;
    font-size: 22px
}

@media screen and (max-width: 800px) {
    .eCRSYx .icon {
        font-size: 18px
    }
}

.eCRSYx .express-content {
    -webkit-text-align: center;
    text-align: center;
    white-space: pre-wrap;
    -webkit-text-align: center;
    text-align: center;
    white-space: pre-wrap;
    -webkit-text-align: center;
    text-align: center;
    white-space: pre-wrap;
    font: 800 18px 'Rubik', 'sans-serif', 'Noto Sans';
    color: #797d88;
    -webkit-text-align: center;
    text-align: center;
    white-space: pre-wrap
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-content {
        font-size: 15px
    }
}

.eCRSYx .express-title {
    -webkit-text-align: center;
    text-align: center;
    margin-top: 14px;
    -webkit-text-align: center;
    text-align: center;
    margin-top: 14px;
    -webkit-text-align: center;
    text-align: center;
    margin-top: 14px;
    font: 600 14px 'Rubik', 'sans-serif', 'Noto Sans';
    -webkit-text-align: center;
    text-align: center;
    margin-top: 14px;
    color: #797d88
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-title {
        font-size: 12px
    }
}

.eCRSYx .express-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 800
}

.eCRSYx .express-info .origin {
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    margin-right: 4px;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    margin-right: 4px;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    margin-right: 4px;
    font: 16px 'Rubik', 'sans-serif', 'Noto Sans';
    color: #999;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    margin-right: 4px
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .origin {
        font-size: 14px
    }
}

.eCRSYx .express-info .discount {
    font: 20px 'Rubik', 'sans-serif', 'Noto Sans';
    color: #797d88
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .discount {
        font-size: 18px
    }
}

.kVTPPt {
    line-height: 1.5;
    letter-spacing: normal;
    -webkit-text-align: center;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    white-space: pre-line;
    line-height: 1.5;
    letter-spacing: normal;
    -webkit-text-align: center;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    white-space: pre-line;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    -webkit-text-align: center;
    text-align: center;
    color: #797d88;
    width: 100%;
    margin-top: 30px;
    white-space: pre-line
}

@media screen and (max-width: 800px) {
    .kVTPPt {
        font-size: 15px
    }
}

.vue-line-clamp {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis
}

.jEHniV {
    width: 100%;
    height: 65px;
    border-radius: 5px;
    box-shadow: 0.7px 0.7px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.kgoqoH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px
}

.dmSCrH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.ekjmhw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font: 600 16px Rubik, sans-serif, Noto Sans;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    background-color: #5aabe3
}

.firlgR {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font: 600 16px Rubik, sans-serif, Noto Sans;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    background-color: #accaf9
}

.eVdpYN {
    font: 600 15px Rubik, sans-serif, Noto Sans;
    color: #4d5058;
    margin-left: 5px;
    margin-right: 10px
}

.ipRhFw {
    font: 11px Rubik, sans-serif, Noto Sans;
    border-radius: 555px;
    border: solid 1px #ccc;
    background-color: #fff;
    color: #999;
    padding: 0 7px
}

.iTTfMH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5aabe3;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    color: #fff
}

.iTTfMH:hover {
    background: #519acc
}

.iTTfMH:last-child {
    margin-left: 10px
}

.dduuAc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f2f3f5;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    color: 666666;
    border: solid 1px #ddd
}

.dduuAc:hover {
    background: #eee
}

.dduuAc:last-child {
    margin-left: 10px
}

@media screen and (max-width: 800px) {
    .jKRfqj {
        right: 45px;
        top: 25px
    }
}

.gyhYTK {
    font: 20px 'Rubik', 'sans-serif', 'Noto Sans';
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity 0.4s, background-color 0.2s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.4s, background-color 0.2s, transform 0.3s;
    transition: opacity 0.4s, background-color 0.2s, transform 0.3s;
    color: #333;
    -webkit-text-align: center;
    text-align: center;
    padding: 0 20px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-line;
    margin: 0;
    box-shadow: none;
    border: solid 2px #5aabe3;
    background-color: #f2fcff;
    position: relative
}

.jtuviG {
    font: 20px 'Rubik', 'sans-serif', 'Noto Sans';
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity 0.4s, background-color 0.2s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.4s, background-color 0.2s, transform 0.3s;
    transition: opacity 0.4s, background-color 0.2s, transform 0.3s;
    border: solid 1px #999;
    background-color: #f7f7f7;
    color: #333;
    -webkit-text-align: center;
    text-align: center;
    padding: 0 20px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-line;
    margin: 0
}

.fReYNV {
    color: #5aabe3;
    position: absolute;
    font-size: 18px;
    top: 5px;
    right: 5px
}

.seRiz {
    margin-top: 30px
}

.seRiz .onboarding-app-url--boxes .onboarding-basic-box {
    width: 31%;
    height: 150px;
    margin: 0
}

@media screen and (max-width: 800px) {
    .jKRfqj {
        right: 45px;
        top: 25px
    }
}

@media screen and (max-width: 800px) {
    .rPqxe {
        margin-top: 15px
    }
}

@media screen and (max-width: 800px) {
    .gvbzhC {
        width: 250px;
        height: 190px;
        font-size: 16px
    }
}

@media screen and (max-width: 800px) {
    .ecSwOd > .fa-plus {
        font-size: 30px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .icon {
        font-size: 18px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-content {
        font-size: 15px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-title {
        font-size: 12px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .origin {
        font-size: 14px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .discount {
        font-size: 18px
    }
}

@media screen and (max-width: 800px) {
    .kVTPPt {
        font-size: 15px
    }
}

@media screen and (max-width: 800px) {
    .gvbzhC {
        width: 250px;
        height: 190px;
        font-size: 16px
    }
}

@media screen and (max-width: 800px) {
    .ecSwOd > .fa-plus {
        font-size: 30px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .icon {
        font-size: 18px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-content {
        font-size: 15px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-title {
        font-size: 12px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .origin {
        font-size: 14px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .discount {
        font-size: 18px
    }
}

.guKJGy i {
    font-size: 40px;
    color: #ccc;
    cursor: pointer
}

.guKJGy i:hover {
    color: #999
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none
    }

    .guKJGy {
        top: 19px;
        right: 10px
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none
    }
}

@media screen and (max-width: 800px) {
    .jKRfqj {
        right: 45px;
        top: 25px
    }
}

@media screen and (max-width: 800px) {
    .rPqxe {
        margin-top: 15px
    }
}

@media screen and (max-width: 800px) {
    .gvbzhC {
        width: 250px;
        height: 190px;
        font-size: 16px
    }
}

@media screen and (max-width: 800px) {
    .ecSwOd > .fa-plus {
        font-size: 30px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .icon {
        font-size: 18px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-content {
        font-size: 15px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-title {
        font-size: 12px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .origin {
        font-size: 14px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .discount {
        font-size: 18px
    }
}

@media screen and (max-width: 800px) {
    .kVTPPt {
        font-size: 15px
    }
}

.guKJGy {
    position: fixed;
    right: 35px;
    top: 45px;
    z-index: 2;
    position: fixed;
    right: 35px;
    top: 45px;
    z-index: 2;
    position: fixed;
    right: 35px;
    top: 45px;
    z-index: 2;
    position: fixed;
    right: 35px;
    top: 45px;
    z-index: 2;
    position: fixed;
    right: 35px;
    top: 45px;
    z-index: 2
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none
    }

    .guKJGy {
        top: 19px;
        right: 10px
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none
    }
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none
    }

    .guKJGy {
        top: 19px;
        right: 10px
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none
    }
}

.fKfSyG {
    width: 100%;
    border: solid 2px #5aabe3;
    box-shadow: 0 0 10px 0 rgba(90, 171, 227, 0.5);
    border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.fKfSyG .tags-container.locations-tags {
    margin: 0;
    padding: 0 5px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.fKfSyG .tags-container.locations-tags .tags-element {
    margin: 5px 3.5px;
    color: #fff;
    height: 25px;
    padding: 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    background-color: #f3b94d;
    height: 30px
}

.fKfSyG .tags-container.locations-tags .tags-element .tags-text {
    font: 14px/31px 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    margin: 5px 3.5px
}

@media screen and (max-width: 800px) {
    .fKfSyG .tags-container.locations-tags .tags-element .tags-text {
        font-size: 12px
    }
}

.fWyjJF {
    width: 100%;
    border: solid 1px #999;
    border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.fWyjJF .tags-container.locations-tags {
    margin: 0;
    padding: 0 5px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.fWyjJF .tags-container.locations-tags .tags-element {
    margin: 5px 3.5px;
    color: #fff;
    height: 25px;
    padding: 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    background-color: #f3b94d;
    height: 30px
}

.fWyjJF .tags-container.locations-tags .tags-element .tags-text {
    font: 14px/31px 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    margin: 5px 3.5px
}

@media screen and (max-width: 800px) {
    .fWyjJF .tags-container.locations-tags .tags-element .tags-text {
        font-size: 12px
    }
}

.bqJemK {
    position: relative;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    padding: 0 5px;
    width: 185px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.bqJemK .control {
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    padding: 1px 0
}

.bqJemK input {
    height: 35px;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-family: 'Roboto', "'Noto Sans'", "'Font Awesome 5 Pro'", sans-serif;
    padding: 0;
    line-height: 36px
}

.bqJemK input:focus, .bqJemK input:active {
    box-shadow: none
}

.bqJemK input::-webkit-input-placeholder {
    opacity: 0.7;
    font: 400 16px 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4)
}

.bqJemK input::-moz-placeholder {
    opacity: 0.7;
    font: 400 16px 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4)
}

.bqJemK input:-ms-input-placeholder {
    opacity: 0.7;
    font: 400 16px 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4)
}

.bqJemK input::placeholder {
    opacity: 0.7;
    font: 400 16px 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4)
}

.bqJemK .v-spinner {
    top: 12px;
    right: 5px;
    position: absolute
}

@media screen and (max-width: 800px) {
    .bqJemK input {
        height: 35px
    }

    .bqJemK .v-spinner {
        top: 6px;
        right: 5px
    }
}

@media screen and (max-width: 800px) {
    .gvbzhC {
        width: 250px;
        height: 190px;
        font-size: 16px
    }
}

@media screen and (max-width: 800px) {
    .ecSwOd > .fa-plus {
        font-size: 30px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .icon {
        font-size: 18px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-content {
        font-size: 15px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-title {
        font-size: 12px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .origin {
        font-size: 14px
    }
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .discount {
        font-size: 18px
    }
}

@media screen and (max-width: 800px) {
    .kVTPPt {
        font-size: 15px
    }
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none
    }

    .guKJGy {
        top: 19px;
        right: 10px
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none
    }
}

@media screen and (max-width: 800px) {
    .fKfSyG .tags-container.locations-tags .tags-element .tags-text {
        font-size: 12px
    }
}

@media screen and (max-width: 800px) {
    .fWyjJF .tags-container.locations-tags .tags-element .tags-text {
        font-size: 12px
    }
}

@media screen and (max-width: 800px) {
    .bqJemK input {
        height: 35px
    }

    .bqJemK .v-spinner {
        top: 6px;
        right: 5px
    }
}

.iiBfIA {
    width: 100%
}

.iiBfIA .suggestions {
    border-radius: 3px;
    border: solid 1px #ddd;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    overflow-y: scroll
}

.iiBfIA .suggestions div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.iiBfIA .suggestions h3 {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px
}

.iiBfIA .suggestions i {
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    background-color: #eee;
    line-height: 25px;
    -webkit-text-align: center;
    text-align: center;
    font-size: 13px;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
    bottom: 3px
}

.iiBfIA .suggestions i:hover {
    opacity: 0.7
}

.iiBfIA .suggestions-tags .tags-element {
    border-radius: 15px;
    border: solid 1px #ddd;
    background-color: #f2f4f5;
    color: #2b80ba;
    height: 30px
}

.iiBfIA .suggestions-tags .tags-element:hover {
    background-color: #ddd
}

.iiBfIA .suggestions-tags .tags-element .tags-text {
    font: 14px/27px 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif
}

.hBoRrB {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px
}

.hBoRrB i {
    position: relative;
    color: #5aabe3;
    top: 2px;
    left: 4px
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    .hBoRrB i {
        top: 7px
    }
}

.hXDKcu {
    width: 100%;
    border: solid 1px #999;
    border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.hXDKcu .tags-container.keywords-tags {
    margin: 0;
    padding: 0 5px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.hXDKcu .tags-container.keywords-tags .tags-element {
    margin: 5px 3.5px;
    color: #fff;
    height: 25px;
    padding: 0 10px;
    border-radius: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    max-width: 100%;
    background-color: #5aabe3;
    height: 30px
}

.hXDKcu .tags-container.keywords-tags .tags-element .tags-text {
    font: 14px/31px 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    margin: 5px 3.5px
}

.hXDKcu .tags-container.placeholder-tags .tags-element {
    background-color: #fff;
    color: #5aabe3;
    border: 1.5px solid #5aabe3
}

.hXDKcu .tags-container.placeholder-tags .tags-element .tags-text {
    font: 600 14px/29px font-rubik
}

@media screen and (max-width: 800px) {
    .hXDKcu .tags-container.locations-tags .tags-element .tags-text {
        font-size: 12px
    }
}

.dzYHMW {
    position: relative;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    padding: 0 5px;
    width: 185px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.dzYHMW .control {
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    padding: 1px 0
}

.dzYHMW input {
    height: 35px;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-family: 'Roboto', "'Noto Sans'", "'Font Awesome 5 Pro'", sans-serif;
    padding: 0;
    line-height: 36px
}

.dzYHMW input:focus, .dzYHMW input:active {
    box-shadow: none
}

.dzYHMW input::-webkit-input-placeholder {
    opacity: 0.7;
    font: 400 16px 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4)
}

.dzYHMW input::-moz-placeholder {
    opacity: 0.7;
    font: 400 16px 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4)
}

.dzYHMW input:-ms-input-placeholder {
    opacity: 0.7;
    font: 400 16px 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4)
}

.dzYHMW input::placeholder {
    opacity: 0.7;
    font: 400 16px 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4)
}

.dzYHMW .enter-icon-wrapper {
    width: 30px;
    height: 30px;
    border: solid 1px #e6e5ea;
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s
}

.dzYHMW .enter-icon-wrapper:hover {
    background-color: #f0efef
}

.dzYHMW .v-spinner {
    top: 12px;
    right: 5px;
    position: absolute
}

@media screen and (max-width: 800px) {
    .dzYHMW input {
        height: 35px
    }

    .dzYHMW .v-spinner {
        top: 6px;
        right: 5px
    }
}

.kibdMu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    margin: 25px 0 -15px;
    width: 100%
}

@media screen and (max-width: 800px) {
    .kibdMu {
        margin: 25px 0 -7.5px
    }
}

.caLEVt {
    width: calc(50% - 15px);
    height: 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0
}

@media screen and (max-width: 800px) {
    .caLEVt {
        width: calc(50% - 7.5px)
    }
}

.jzbxSD {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px
}

.iDEouh {
    font: 16px 'Rubik', 'sans-serif', 'Noto Sans';
    color: #333;
    margin-left: 10px
}

@media screen and (max-width: 800px) {
    .iDEouh {
        font-size: 14px
    }
}

@keyframes resizeanim {
    from {
        opacity: 0
    }
    to {
        opacity: 0
    }
}

.resize-triggers {
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0
}

.resize-triggers, .resize-triggers > div, .contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden
}

.resize-triggers > div {
    background: #eee;
    overflow: auto
}

.contract-trigger:before {
    width: 200%;
    height: 200%
}

.gfVZxn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Rubik', 'sans-serif', "'Noto Sans'"
}

.gfVZxn .dropdown-wrapper a {
    font-family: 'Rubik', 'sans-serif', "'Noto Sans'"
}

.gfVZxn .dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden
}

.kCFpgW {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 25px;
    border-radius: 2px;
    border: solid 1px #ccc;
    background-color: #f2f3f5;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer
}

.kCFpgW:hover {
    background: #eee
}

.kcPNS {
    font-size: 13px;
    color: #34383f;
    margin-right: 10px
}

@media screen and (max-width: 800px) {
    .kcPNS {
        font-size: 12px
    }
}

.cnfauy {
    font: 13px 'Rubik', 'sans-serif', 'Noto Sans';
    color: #666
}

@media screen and (max-width: 800px) {
    .cnfauy {
        font-size: 12px
    }
}

.fQWaAL {
    margin-left: 12px
}

.cOiSSH {
    opacity: 0;
    visibility: none;
    pointer-events: none;
    width: 1px;
    height: 1px;
    z-index: -1
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none
    }

    .guKJGy {
        top: 19px;
        right: 10px
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none
    }
}

.iZwXYM {
    font-family: 'Rubik', 'sans-serif', "'Noto Sans'";
    width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
    padding: 50px 75px 30px
}

@media screen and (max-width: 800px) {
    .iZwXYM {
        width: 100vw;
        height: 100%;
        padding: 50px 15px 15px;
        overflow-y: auto
    }
}

.gxQeAb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ehnOYB {
    font: 20px 'Rubik', 'sans-serif', 'Noto Sans';
    -webkit-text-align: center;
    text-align: center;
    color: #333;
    white-space: pre
}

.hzBpyU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    margin: 55px -7px 0
}

.gMrCZV {
    font: 700 16px 'Rubik', 'sans-serif', 'Noto Sans';
    height: 50px;
    border-radius: 3px;
    -webkit-text-align: center;
    text-align: center;
    width: 50%;
    color: #fff7f7;
    margin: 0 7px;
    background-color: #999
}

.ioNykI {
    font: 700 16px 'Rubik', 'sans-serif', 'Noto Sans';
    height: 50px;
    border-radius: 3px;
    -webkit-text-align: center;
    text-align: center;
    width: 50%;
    color: #fff7f7;
    margin: 0 7px;
    background-color: #5aabe3
}

.ekCwIS {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer
}

@media screen and (max-width: 800px) {
    .cfXfAu .modal-content {
        max-height: initial;
        height: 100vh
    }
}

.dYCGzl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #8b919a;
    position: relative
}

.fzwkiK {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #8b919a;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 0
}

.bLQEcw {
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(90, 171, 227, 0.3);
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

.bUcuDv {
    top: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7)
}

.kWkuYp {
    height: 150px;
    border-radius: 5px;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px #5aabe3
}

.gKucxI {
    font: 14px Rubik, sans-serif, Noto Sans;
    -webkit-text-align: center;
    text-align: center;
    color: #333;
    white-space: pre-line
}

.cwuOBl {
    font: 600 13px Rubik, sans-serif, Noto Sans;
    height: 30px;
    border-radius: 3px;
    background-color: #5aabe3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-text-align: center;
    text-align: center;
    color: #fff;
    margin-top: 15px
}

.eSOxZU {
    display: inline-block;
    width: 90%
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none
    }

    .guKJGy {
        top: 19px;
        right: 10px
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none
    }
}

.oBcqD {
    font: 600 12px 'Rubik', 'sans-serif', 'Noto Sans';
    color: #4b4f56;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none
    }

    .guKJGy {
        top: 19px;
        right: 10px
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none
    }
}

.dNqpdv {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    position: relative
}

.dNqpdv i {
    position: relative;
    color: #5aabe3;
    top: 2px;
    left: 4px
}

.dNqpdv p {
    display: inline-block;
    width: 90%
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    .dNqpdv i {
        top: 7px
    }
}

.gJuHiw {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    max-width: 750px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .gJuHiw {
        width: 90vw;
    }
}

.bUOELf {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    font-size: 20px;
    -webkit-text-align: center;
    text-align: center;
    color: #333333;
}

@media screen and (max-width: 800px) {
    .bUOELf {
        font-size: 18px;
    }
}

.kibdMu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    margin: 25px 0 -15px 0;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .kibdMu {
        margin: 25px 0 -7.5px 0;
    }
}

.caLEVt {
    width: calc(50% - 15px);
    height: 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0;
}

@media screen and (max-width: 800px) {
    .caLEVt {
        width: calc(50% - 7.5px);
    }
}

.jzbxSD {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
}

.iDEouh {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    font-size: 16px;
    color: #333333;
    margin-left: 10px;
}

@media screen and (max-width: 800px) {
    .iDEouh {
        font-size: 14px;
    }
}

.DxFAp {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    width: 750px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    padding: 50px 75px 30px 75px;
}

@media screen and (max-width: 800px) {
    .DxFAp {
        width: 100vw;
        height: 100%;
        padding: 50px 15px 15px 15px;
        overflow-y: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.kGoQNU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    margin: 0 -7px;
    margin-top: 55px;
}

@media screen and (max-width: 800px) {
    .kGoQNU {
        margin-top: auto;
    }
}

.vjekw {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    height: 50px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    -webkit-text-align: center;
    text-align: center;
    width: 50%;
    color: #fff7f7;
    margin: 0 7px;
    background-color: #999999;
}

@media screen and (max-width: 800px) {
    .vjekw {
        font-size: 14px;
    }
}

.kJOcYd {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    height: 50px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    -webkit-text-align: center;
    text-align: center;
    width: 50%;
    color: #fff7f7;
    margin: 0 7px;
    background-color: #5aabe3;
}

@media screen and (max-width: 800px) {
    .kJOcYd {
        font-size: 14px;
    }
}


.bFKLkf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px !important;
}

.bFKLkf > * {
    margin: 0 5px;
}

.eDkOLX {
    cursor: pointer;
    font-size: 30px;
    padding: 0 5px;
    position: relative;
    top: 2px;
    margin-left: 3px;
}

.eDkOLX:hover {
    color: #999;
}

.dhRUwQ {
    width: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.kNHBpi {
    cursor: pointer;
}

.bKYYHk {
    font-family: Rubik, sans-serif, Noto Sans;
    font-size: 12px;
    color: #333333;
}

.QYUOP {
    width: 21px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    background-image: url('/imgets/img/icons/preview_copy.png');
}

.QYUOP:hover {
    background-image: url('/imgets/img/icons/preview_copy_active.png');
}


.dmSCrH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fNZUBY {
    font-family: Rubik, sans-serif, Noto Sans;
    font-size: 11px;
    -webkit-text-align: left;
    text-align: left;
    margin-left: 5px;
    color: #999999;
}

.hCaNPW {
    will-change: grid-row-end;
}

.ghyOiQ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
    border-radius: 5px;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    cursor: default;
}

.gANVZr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px #3b5998;
    background-color: white;
}

.bQpEUW {
    font-family: Rubik, sans-serif, Noto Sans;
    font-size: 13px;
    -webkit-text-align: center;
    text-align: center;
    color: #333333;
    margin-bottom: 10px;
    max-width: 100%;
}

.bqczYz {
    font-family: Rubik, sans-serif, Noto Sans;
    font-size: 13px;
    color: #666666;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
}

.eSOxZU {
    display: inline-block;
    width: 90%;
}


.kCFpgW {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 25px;
    border-radius: 2px;
    border: solid 1px #cccccc;
    background-color: #f2f3f5;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.kCFpgW:hover {
    background: #eee;
}


.oBcqD {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    color: #4b4f56;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}


.gGHRKU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #3b5998;
    padding: 7px 30px;
    min-height: 30px;
}

.YiRfL {
    height: 14px;
}

.dpCOTT {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.hNrtld {
    font-family: Rubik, sans-serif, Noto Sans;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 30px;
    min-width: 1000px;
    position: relative;
}

@media screen and (max-width: 800px) {
    .hNrtld {
        width: 90vw;
        min-width: initial;
    }
}

.eSKsvO {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -5px;
    position: relative;
    z-index: 1;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.hvTNfA {
    margin: 0 5px;
    background-color: transparent;
    width: 50px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
    padding: 0;
    border: none;
}

.iWSpwb {
    margin: 0 5px;
    background-color: transparent;
    width: 50px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
    padding: 0;
    border: 1px solid #cccccc;
}

.ieIRaI {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    border-radius: 100px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.ieIRaI::before {
    background-color: #797d88;
    border-radius: 100px;
    content: 'All';
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.ieIRaI {;
}

.grqTjK {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    border-radius: 100px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background-image: url('/imgets/img/icons/ads_tab_facebook_active.png');
    background-color: #385c8e;;
    opacity: 0.65;
    background-color: transparent;
    background-image: url('/imgets/img/icons/ads_tab_facebook.png');
}

.bvHQCD {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    border-radius: 100px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background-image: url('/imgets/img/icons/ads_tab_instagram_active.png');
    background-color: #d12798;;
    opacity: 0.65;
    background-color: transparent;
    background-image: url('/imgets/img/icons/ads_tab_instagram.png');
}

.iSspRQ {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    border-radius: 100px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background-image: url('/imgets/img/icons/ads_tab_google.png');
    background-color: #fff;;
    opacity: 0.65;
    background-color: transparent;
}

.hJsBFl {
    margin: 20px 0 -10px 0;
    will-change: height;
    display: grid;
    grid-gap: 20px;
    grid-row-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: 0;
}

.hJsBFl.IE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    margin: 10px -10px -20px -10px;
}

.jZyUFj {
    grid-row-end: span 2;
}

.jZyUFj .onboarding-ad-container {
    max-width: 700px;
}

.jZyUFj .onboarding-ad-preview--header .buttons-container .edit-btn {
    display: none;
    pointer-events: none;
}

.jZyUFj .onboarding-ad-preview--header .buttons-container .dropdown {
    margin: 0;
}

.jZyUFj .onboarding-ad-preview--header .buttons-container .dropdown-content .dropdown-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.jZyUFj:hover {
    cursor: pointer;
    border-color: transparent;
}

.jZyUFj:hover::before {
    content: '';
    position: absolute;
    pointer-events: none;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 2px solid #5aabe3;
    background-color: transparent;
    z-index: 2;
    border-radius: 5px;
    margin: -2px;
}

.jZyUFj:hover .onboarding-ad-preview--header {
    border-color: #5aabe3;
}

.ghfxdX {
    height: 250px;
    min-width: 320px;
    border-radius: 5px;
    background-color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    border: 2px dashed #b3b9c6;
}

.ghfxdX .active-icon {
    display: none;
}

.ghfxdX:hover .normal-icon {
    display: none;
}

.ghfxdX:hover .active-icon {
    display: block;
}

@media screen and (max-width: 800px) {
    .ghfxdX {
        min-width: 290px;
    }
}

.cFARnc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.dOJKAF {
    font-family: Rubik, sans-serif, Noto Sans;
    margin-top: 15px;
    font-size: 18px;
    -webkit-text-align: center;
    text-align: center;
    color: #797d88;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .dOJKAF {
        font-size: 16px;
    }
}

.hbXgBx {
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.hbXgBx .nav-above {
    margin-left: auto;
}


.Mnnvn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 9px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    bottom: 1px;
    font-weight: 600;
}

.Mnnvn i {
    padding: 0 1.5px;
}

.dYCGzl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #8b919a;
    position: relative;
}

.ggqhUQ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #8b919a;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 90%;
}

.bLQEcw {
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(90, 171, 227, 0.3);
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.bUcuDv {
    top: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

.kWkuYp {
    height: 150px;
    border-radius: 5px;
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px #5aabe3;
}

.gKucxI {
    font-family: Rubik, sans-serif, Noto Sans;
    font-size: 14px;
    -webkit-text-align: center;
    text-align: center;
    color: #333333;
    white-space: pre-line;
}

.cwuOBl {
    font-family: Rubik, sans-serif, Noto Sans;
    height: 30px;
    border-radius: 3px;
    background-color: #5aabe3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    -webkit-text-align: center;
    text-align: center;
    color: white;
    margin-top: 15px;
}

.eSOxZU {
    display: inline-block;
    width: 90%;
}

.ipRhFw {
    font-family: Rubik, sans-serif, Noto Sans;
    border-radius: 555px;
    border: solid 1px #cccccc;
    background-color: white;
    font-size: 11px;
    color: #999999;
    padding: 0 7px;
}

.ggwftf {
    font-family: Rubik, sans-serif, Noto Sans;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 25px;
    border-radius: 3px;
    border: solid 1px #dddddd;
    background-color: #f2f3f5;
    font-size: 11px;
    color: #666666;
}

.ggwftf:hover {
    background-color: #eee;
}


.bNtVZv {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #accaf9;
}

.fYrnwP {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #DF8218;
}

.dwPJRl {
    position: fixed;
    z-index: 20;
}

.yAcEL {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    .yAcEL {
        background-color: rgba(0, 0, 0, 0.65);
    }
}

.jKRfqj {
    position: fixed;
    right: 25px;
    top: 25px;
}

@media screen and (max-width: 800px) {
    .jKRfqj {
        right: 45px;
        top: 25px;
    }
}

.iNxTqM {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Rubik, sans-serif, Noto Sans;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #E24141;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

.jECMnQ {
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    position: absolute;
    top: 40px;
    right: 0;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    padding-bottom: 10px;
}

.itPskP {
    width: 100%;
    padding: 10px;
    background-color: #2b80ba;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cgZKDE {
    font-family: Rubik, sans-serif, Noto Sans;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.dhnyvc {
    font-family: Rubik, sans-serif, Noto Sans;
    font-size: 12px;
    color: white;
    margin-top: 5px;
}

.CxRJr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
}

.jobTWV {
    padding: 15px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: solid 1px #eeeeee;
}

.hRNTVb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    word-break: break-word;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.iJFFnI {
    font-family: Rubik, sans-serif, Noto Sans;
    font-size: 13px;
    font-weight: 600;
    color: #4d5058;
    margin-bottom: 5px;
}

.dRAAv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #5aabe3;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.dRAAv:hover {
    background: #519acc;
}

.dRAAv {
    color: white;
    min-height: 30px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 7px;
}

.jRyuLu {
    font-family: Rubik, sans-serif, Noto Sans;
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.bDjjbP {
    width: 100%;
    padding: 15px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.bDjjbP:hover {
    background-color: #f5f5f5;
}

.cqssfX {
    font-family: Rubik, sans-serif, Noto Sans;
    font-size: 13px;
    color: #4d5058;
    margin-left: 5px;
    margin-right: 5px;
    margin-right: 10px;
}