.resize-observer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    pointer-events: none;
    display: block;
    overflow: hidden;
    opacity: 0
}

.resize-observer object {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1
}

.dwPJRl {
    position: fixed;
    z-index: 20;
}

.jKRfqj {
    position: fixed;
    right: 25px;
    top: 25px;
}

@media screen and (max-width: 800px) {
    .jKRfqj {
        right: 45px;
        top: 25px;
    }
}

.bxTwgj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Rubik, sans-serif, Noto Sans;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #accaf9;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

.fKIEJr {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: center;
    align-self: center;
}

.rPqxe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 200px;
}

@media screen and (max-width: 800px) {
    .rPqxe {
        margin-top: 15px;
    }
}

.gvbzhC {
    width: 310px;
    height: 250px;
    margin: 9.5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 20px;
}

.gvbzhC > div {
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    border: 2px dashed #b3b9c6;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.gvbzhC > div:hover {
    border-color: #5aabe3;
}

@media screen and (max-width: 800px) {
    .gvbzhC {
        width: 250px;
        height: 190px;
        font-size: 16px;
    }
}

.ecSwOd:hover .fa-plus {
    color: #5aabe3;
}

.ecSwOd > .fa-plus {
    font-size: 40px;
    color: #b3b9c6;
}

@media screen and (max-width: 800px) {
    .ecSwOd > .fa-plus {
        font-size: 30px;
    }
}

.ecSwOd span {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-weight: 800;
    color: #797d88;
    margin-top: 5px;
}

.eCRSYx:hover .icon {
    color: #5aabe3;
}

.eCRSYx .icon {
    color: #b3b9c6;
    font-size: 22px;
}

@media screen and (max-width: 800px) {
    .eCRSYx .icon {
        font-size: 18px;
    }
}

.eCRSYx .express-content {
    font-size: 18px;
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-weight: 800;
    color: #797d88;
    -webkit-text-align: center;
    text-align: center;
    white-space: pre-wrap;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-content {
        font-size: 15px;
    }
}

.eCRSYx .express-title {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 14px;
    -webkit-text-align: center;
    text-align: center;
    margin-top: 14px;
    font-weight: 600;
    color: #797d88;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-title {
        font-size: 12px;
    }
}

.eCRSYx .express-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 800;
}

.eCRSYx .express-info .origin {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 16px;
    color: #999999;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    margin-right: 4px;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .origin {
        font-size: 14px;
    }
}

.eCRSYx .express-info .discount {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 20px;
    color: #797d88;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .discount {
        font-size: 18px;
    }
}

.kVTPPt {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    -webkit-text-align: center;
    text-align: center;
    color: #797d88;
    width: 100%;
    margin-top: 30px;
    white-space: pre-line;
}

@media screen and (max-width: 800px) {
    .kVTPPt {
        font-size: 15px;
    }
}

.vue-line-clamp {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
}

.jEHniV {
    width: 100%;
    height: 65px;
    border-radius: 5px;
    box-shadow: 0.7px 0.7px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.kgoqoH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
}

.dmSCrH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ekjmhw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Rubik, sans-serif, Noto Sans;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #5aabe3;
}

.firlgR {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Rubik, sans-serif, Noto Sans;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #accaf9;
}

.eVdpYN {
    font-family: Rubik, sans-serif, Noto Sans;
    font-size: 15px;
    font-weight: 600;
    color: #4d5058;
    margin-left: 5px;
    margin-right: 10px;
}

.ipRhFw {
    font-family: Rubik, sans-serif, Noto Sans;
    border-radius: 555px;
    border: solid 1px #cccccc;
    background-color: white;
    font-size: 11px;
    color: #999999;
    padding: 0 7px;
}

.iTTfMH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5aabe3;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.iTTfMH:hover {
    background: #519acc;
}

.iTTfMH {
    color: white;
}

.iTTfMH:last-child {
    margin-left: 10px;
}

.dduuAc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f2f3f5;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.dduuAc:hover {
    background: #eee;
}

.dduuAc {
    color: 666666;
    border: solid 1px #dddddd;
}

.dduuAc:last-child {
    margin-left: 10px;
}

.dwPJRl {
    position: fixed;
    z-index: 20;
}

.jKRfqj {
    position: fixed;
    right: 25px;
    top: 25px;
}

@media screen and (max-width: 800px) {
    .jKRfqj {
        right: 45px;
        top: 25px;
    }
}

.bxTwgj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Rubik, sans-serif, Noto Sans;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #accaf9;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

.gyhYTK {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity 0.4s, background-color 0.2s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.4s, background-color 0.2s, transform 0.3s;
    transition: opacity 0.4s, background-color 0.2s, transform 0.3s;
    border: solid 1px #999999;
    background-color: #f7f7f7;
    font-size: 20px;
    color: #333333;
    -webkit-text-align: center;
    text-align: center;
    padding: 0 20px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-line;
    margin: 0;
    box-shadow: none;
    border: solid 2px #5aabe3;
    background-color: #f2fcff;
    position: relative;
}

.jtuviG {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity 0.4s, background-color 0.2s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.4s, background-color 0.2s, transform 0.3s;
    transition: opacity 0.4s, background-color 0.2s, transform 0.3s;
    border: solid 1px #999999;
    background-color: #f7f7f7;
    font-size: 20px;
    color: #333333;
    -webkit-text-align: center;
    text-align: center;
    padding: 0 20px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-line;
    margin: 0;
}

.fReYNV {
    color: #5aabe3;
    position: absolute;
    font-size: 18px;
    top: 5px;
    right: 5px;
}

.seRiz {
    margin-top: 30px;
}

.seRiz .onboarding-app-url--boxes .onboarding-basic-box {
    width: 31%;
    height: 150px;
    margin: 0;
}

.dwPJRl {
    position: fixed;
    z-index: 20;
}

.jKRfqj {
    position: fixed;
    right: 25px;
    top: 25px;
}

@media screen and (max-width: 800px) {
    .jKRfqj {
        right: 45px;
        top: 25px;
    }
}

.bxTwgj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Rubik, sans-serif, Noto Sans;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #accaf9;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

.fKIEJr {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: center;
    align-self: center;
}

.rPqxe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 200px;
}

@media screen and (max-width: 800px) {
    .rPqxe {
        margin-top: 15px;
    }
}

.gvbzhC {
    width: 310px;
    height: 250px;
    margin: 9.5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 20px;
}

.gvbzhC > div {
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    border: 2px dashed #b3b9c6;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.gvbzhC > div:hover {
    border-color: #5aabe3;
}

@media screen and (max-width: 800px) {
    .gvbzhC {
        width: 250px;
        height: 190px;
        font-size: 16px;
    }
}

.ecSwOd:hover .fa-plus {
    color: #5aabe3;
}

.ecSwOd > .fa-plus {
    font-size: 40px;
    color: #b3b9c6;
}

@media screen and (max-width: 800px) {
    .ecSwOd > .fa-plus {
        font-size: 30px;
    }
}

.ecSwOd span {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-weight: 800;
    color: #797d88;
    margin-top: 5px;
}

.eCRSYx:hover .icon {
    color: #5aabe3;
}

.eCRSYx .icon {
    color: #b3b9c6;
    font-size: 22px;
}

@media screen and (max-width: 800px) {
    .eCRSYx .icon {
        font-size: 18px;
    }
}

.eCRSYx .express-content {
    font-size: 18px;
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-weight: 800;
    color: #797d88;
    -webkit-text-align: center;
    text-align: center;
    white-space: pre-wrap;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-content {
        font-size: 15px;
    }
}

.eCRSYx .express-title {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 14px;
    -webkit-text-align: center;
    text-align: center;
    margin-top: 14px;
    font-weight: 600;
    color: #797d88;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-title {
        font-size: 12px;
    }
}

.eCRSYx .express-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 800;
}

.eCRSYx .express-info .origin {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 16px;
    color: #999999;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    margin-right: 4px;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .origin {
        font-size: 14px;
    }
}

.eCRSYx .express-info .discount {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 20px;
    color: #797d88;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .discount {
        font-size: 18px;
    }
}

.kVTPPt {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    -webkit-text-align: center;
    text-align: center;
    color: #797d88;
    width: 100%;
    margin-top: 30px;
    white-space: pre-line;
}

@media screen and (max-width: 800px) {
    .kVTPPt {
        font-size: 15px;
    }
}

.gvbzhC > div {
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    border: 2px dashed #b3b9c6;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.gvbzhC > div:hover {
    border-color: #5aabe3;
}

@media screen and (max-width: 800px) {
    .gvbzhC {
        width: 250px;
        height: 190px;
        font-size: 16px;
    }
}

.ecSwOd:hover .fa-plus {
    color: #5aabe3;
}

.ecSwOd > .fa-plus {
    font-size: 40px;
    color: #b3b9c6;
}

@media screen and (max-width: 800px) {
    .ecSwOd > .fa-plus {
        font-size: 30px;
    }
}

.ecSwOd span {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-weight: 800;
    color: #797d88;
    margin-top: 5px;
}

.eCRSYx:hover .icon {
    color: #5aabe3;
}

.eCRSYx .icon {
    color: #b3b9c6;
    font-size: 22px;
}

@media screen and (max-width: 800px) {
    .eCRSYx .icon {
        font-size: 18px;
    }
}

.eCRSYx .express-content {
    font-size: 18px;
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-weight: 800;
    color: #797d88;
    -webkit-text-align: center;
    text-align: center;
    white-space: pre-wrap;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-content {
        font-size: 15px;
    }
}

.eCRSYx .express-title {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 14px;
    -webkit-text-align: center;
    text-align: center;
    margin-top: 14px;
    font-weight: 600;
    color: #797d88;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-title {
        font-size: 12px;
    }
}

.eCRSYx .express-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 800;
}

.eCRSYx .express-info .origin {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 16px;
    color: #999999;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    margin-right: 4px;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .origin {
        font-size: 14px;
    }
}

.eCRSYx .express-info .discount {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 20px;
    color: #797d88;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .discount {
        font-size: 18px;
    }
}

.guKJGy i {
    font-size: 40px;
    color: #cccccc;
    cursor: pointer;
}

.guKJGy i:hover {
    color: #999;
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none;
    }

    .guKJGy {
        top: 19px;
        right: 10px;
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none;
    }
}

.gyhYTK {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity 0.4s, background-color 0.2s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.4s, background-color 0.2s, transform 0.3s;
    transition: opacity 0.4s, background-color 0.2s, transform 0.3s;
    border: solid 1px #999999;
    background-color: #f7f7f7;
    font-size: 20px;
    color: #333333;
    -webkit-text-align: center;
    text-align: center;
    padding: 0 20px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-line;
    margin: 0;
    box-shadow: none;
    border: solid 2px #5aabe3;
    background-color: #f2fcff;
    position: relative;
}

.jtuviG {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity 0.4s, background-color 0.2s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.4s, background-color 0.2s, transform 0.3s;
    transition: opacity 0.4s, background-color 0.2s, transform 0.3s;
    border: solid 1px #999999;
    background-color: #f7f7f7;
    font-size: 20px;
    color: #333333;
    -webkit-text-align: center;
    text-align: center;
    padding: 0 20px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-line;
    margin: 0;
}

.fReYNV {
    color: #5aabe3;
    position: absolute;
    font-size: 18px;
    top: 5px;
    right: 5px;
}

.dwPJRl {
    position: fixed;
    z-index: 20;
}

.jKRfqj {
    position: fixed;
    right: 25px;
    top: 25px;
}

@media screen and (max-width: 800px) {
    .jKRfqj {
        right: 45px;
        top: 25px;
    }
}

.bxTwgj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Rubik, sans-serif, Noto Sans;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #accaf9;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

.fKIEJr {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: center;
    align-self: center;
}

.rPqxe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 200px;
}

@media screen and (max-width: 800px) {
    .rPqxe {
        margin-top: 15px;
    }
}

.gvbzhC {
    width: 310px;
    height: 250px;
    margin: 9.5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 20px;
}

.gvbzhC > div {
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    border: 2px dashed #b3b9c6;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.gvbzhC > div:hover {
    border-color: #5aabe3;
}

@media screen and (max-width: 800px) {
    .gvbzhC {
        width: 250px;
        height: 190px;
        font-size: 16px;
    }
}

.ecSwOd:hover .fa-plus {
    color: #5aabe3;
}

.ecSwOd > .fa-plus {
    font-size: 40px;
    color: #b3b9c6;
}

@media screen and (max-width: 800px) {
    .ecSwOd > .fa-plus {
        font-size: 30px;
    }
}

.ecSwOd span {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-weight: 800;
    color: #797d88;
    margin-top: 5px;
}

.eCRSYx:hover .icon {
    color: #5aabe3;
}

.eCRSYx .icon {
    color: #b3b9c6;
    font-size: 22px;
}

@media screen and (max-width: 800px) {
    .eCRSYx .icon {
        font-size: 18px;
    }
}

.eCRSYx .express-content {
    font-size: 18px;
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-weight: 800;
    color: #797d88;
    -webkit-text-align: center;
    text-align: center;
    white-space: pre-wrap;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-content {
        font-size: 15px;
    }
}

.eCRSYx .express-title {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 14px;
    -webkit-text-align: center;
    text-align: center;
    margin-top: 14px;
    font-weight: 600;
    color: #797d88;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-title {
        font-size: 12px;
    }
}

.eCRSYx .express-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 800;
}

.eCRSYx .express-info .origin {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 16px;
    color: #999999;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    margin-right: 4px;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .origin {
        font-size: 14px;
    }
}

.eCRSYx .express-info .discount {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 20px;
    color: #797d88;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .discount {
        font-size: 18px;
    }
}

.kVTPPt {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    -webkit-text-align: center;
    text-align: center;
    color: #797d88;
    width: 100%;
    margin-top: 30px;
    white-space: pre-line;
}

@media screen and (max-width: 800px) {
    .kVTPPt {
        font-size: 15px;
    }
}

.guKJGy {
    position: fixed;
    right: 35px;
    top: 45px;
    z-index: 2;
}

.guKJGy i {
    font-size: 40px;
    color: #cccccc;
    cursor: pointer;
}

.guKJGy i:hover {
    color: #999;
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none;
    }

    .guKJGy {
        top: 19px;
        right: 10px;
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none;
    }
}

.guKJGy {
    position: fixed;
    right: 35px;
    top: 45px;
    z-index: 2;
}

.guKJGy i {
    font-size: 40px;
    color: #cccccc;
    cursor: pointer;
}

.guKJGy i:hover {
    color: #999;
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none;
    }

    .guKJGy {
        top: 19px;
        right: 10px;
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none;
    }
}

.fKfSyG {
    width: 100%;
    border: solid 1px #999999;
    border: solid 2px #5aabe3;
    box-shadow: 0 0 10px 0 rgba(90, 171, 227, 0.5);
    border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fKfSyG .tags-container.locations-tags {
    margin: 0;
    padding: 0 5px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fKfSyG .tags-container.locations-tags .tags-element {
    margin: 5px 3.5px;
    color: #ffffff;
    height: 25px;
    padding: 0 10px;
    border-radius: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    max-width: 100%;
    background-color: #f3b94d;
    height: 30px;
}

.fKfSyG .tags-container.locations-tags .tags-element .tags-text {
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    font-size: 14px;
    line-height: 31px;
    margin: 5px 3.5px;
}

@media screen and (max-width: 800px) {
    .fKfSyG .tags-container.locations-tags .tags-element .tags-text {
        font-size: 12px;
    }
}

.fWyjJF {
    width: 100%;
    border: solid 1px #999999;
    border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fWyjJF .tags-container.locations-tags {
    margin: 0;
    padding: 0 5px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fWyjJF .tags-container.locations-tags .tags-element {
    margin: 5px 3.5px;
    color: #ffffff;
    height: 25px;
    padding: 0 10px;
    border-radius: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    max-width: 100%;
    background-color: #f3b94d;
    height: 30px;
}

.fWyjJF .tags-container.locations-tags .tags-element .tags-text {
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    font-size: 14px;
    line-height: 31px;
    margin: 5px 3.5px;
}

@media screen and (max-width: 800px) {
    .fWyjJF .tags-container.locations-tags .tags-element .tags-text {
        font-size: 12px;
    }
}

.bqJemK {
    position: relative;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    padding: 0 5px;
    width: 185px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.bqJemK .control {
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    padding: 1px 0;
}

.bqJemK input {
    height: 35px;
    background-color: #ffffff;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    padding: 0;
    line-height: 36px;
}

.bqJemK input:focus, .bqJemK input:active {
    box-shadow: none;
}

.bqJemK input::-webkit-input-placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4);
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.bqJemK input::-moz-placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4);
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.bqJemK input:-ms-input-placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4);
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.bqJemK input::placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4);
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.bqJemK .v-spinner {
    top: 12px;
    right: 5px;
    position: absolute;
}

@media screen and (max-width: 800px) {
    .bqJemK input {
        height: 35px;
    }

    .bqJemK .v-spinner {
        top: 6px;
        right: 5px;
    }
}


.gvbzhC > div {
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    border: 2px dashed #b3b9c6;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.gvbzhC > div:hover {
    border-color: #5aabe3;
}

@media screen and (max-width: 800px) {
    .gvbzhC {
        width: 250px;
        height: 190px;
        font-size: 16px;
    }
}

.ecSwOd:hover .fa-plus {
    color: #5aabe3;
}

.ecSwOd > .fa-plus {
    font-size: 40px;
    color: #b3b9c6;
}

@media screen and (max-width: 800px) {
    .ecSwOd > .fa-plus {
        font-size: 30px;
    }
}

.ecSwOd span {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-weight: 800;
    color: #797d88;
    margin-top: 5px;
}

.eCRSYx:hover .icon {
    color: #5aabe3;
}

.eCRSYx .icon {
    color: #b3b9c6;
    font-size: 22px;
}

@media screen and (max-width: 800px) {
    .eCRSYx .icon {
        font-size: 18px;
    }
}

.eCRSYx .express-content {
    font-size: 18px;
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-weight: 800;
    color: #797d88;
    -webkit-text-align: center;
    text-align: center;
    white-space: pre-wrap;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-content {
        font-size: 15px;
    }
}

.eCRSYx .express-title {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 14px;
    -webkit-text-align: center;
    text-align: center;
    margin-top: 14px;
    font-weight: 600;
    color: #797d88;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-title {
        font-size: 12px;
    }
}

.eCRSYx .express-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 800;
}

.eCRSYx .express-info .origin {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 16px;
    color: #999999;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    margin-right: 4px;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .origin {
        font-size: 14px;
    }
}

.eCRSYx .express-info .discount {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';;
    font-size: 20px;
    color: #797d88;
}

@media screen and (max-width: 800px) {
    .eCRSYx .express-info .discount {
        font-size: 18px;
    }
}

.kVTPPt {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    -webkit-text-align: center;
    text-align: center;
    color: #797d88;
    width: 100%;
    margin-top: 30px;
    white-space: pre-line;
}

@media screen and (max-width: 800px) {
    .kVTPPt {
        font-size: 15px;
    }
}

.guKJGy {
    position: fixed;
    right: 35px;
    top: 45px;
    z-index: 2;
}

.guKJGy i {
    font-size: 40px;
    color: #cccccc;
    cursor: pointer;
}

.guKJGy i:hover {
    color: #999;
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none;
    }

    .guKJGy {
        top: 19px;
        right: 10px;
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none;
    }
}

.fKfSyG {
    width: 100%;
    border: solid 1px #999999;
    border: solid 2px #5aabe3;
    box-shadow: 0 0 10px 0 rgba(90, 171, 227, 0.5);
    border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fKfSyG .tags-container.locations-tags {
    margin: 0;
    padding: 0 5px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fKfSyG .tags-container.locations-tags .tags-element {
    margin: 5px 3.5px;
    color: #ffffff;
    height: 25px;
    padding: 0 10px;
    border-radius: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    max-width: 100%;
    background-color: #f3b94d;
    height: 30px;
}

.fKfSyG .tags-container.locations-tags .tags-element .tags-text {
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    font-size: 14px;
    line-height: 31px;
    margin: 5px 3.5px;
}

@media screen and (max-width: 800px) {
    .fKfSyG .tags-container.locations-tags .tags-element .tags-text {
        font-size: 12px;
    }
}

.fWyjJF {
    width: 100%;
    border: solid 1px #999999;
    border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fWyjJF .tags-container.locations-tags {
    margin: 0;
    padding: 0 5px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fWyjJF .tags-container.locations-tags .tags-element {
    margin: 5px 3.5px;
    color: #ffffff;
    height: 25px;
    padding: 0 10px;
    border-radius: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    max-width: 100%;
    background-color: #f3b94d;
    height: 30px;
}

.fWyjJF .tags-container.locations-tags .tags-element .tags-text {
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    font-size: 14px;
    line-height: 31px;
    margin: 5px 3.5px;
}

@media screen and (max-width: 800px) {
    .fWyjJF .tags-container.locations-tags .tags-element .tags-text {
        font-size: 12px;
    }
}

.bqJemK {
    position: relative;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    padding: 0 5px;
    width: 185px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.bqJemK .control {
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    padding: 1px 0;
}

.bqJemK input {
    height: 35px;
    background-color: #ffffff;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    padding: 0;
    line-height: 36px;
}

.bqJemK input:focus, .bqJemK input:active {
    box-shadow: none;
}

.bqJemK input::-webkit-input-placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4);
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.bqJemK input::-moz-placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4);
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.bqJemK input:-ms-input-placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4);
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.bqJemK input::placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4);
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.bqJemK .v-spinner {
    top: 12px;
    right: 5px;
    position: absolute;
}

@media screen and (max-width: 800px) {
    .bqJemK input {
        height: 35px;
    }

    .bqJemK .v-spinner {
        top: 6px;
        right: 5px;
    }
}

.iiBfIA {
    width: 100%;
}

.iiBfIA .suggestions {
    border-radius: 3px;
    border: solid 1px #dddddd;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    overflow-y: scroll;
}

.iiBfIA .suggestions div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.iiBfIA .suggestions h3 {
    font-size: 14px;
    color: #333333;
    margin-bottom: 20px;
}

.iiBfIA .suggestions i {
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    background-color: #eeeeee;
    line-height: 25px;
    -webkit-text-align: center;
    text-align: center;
    font-size: 13px;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
    bottom: 3px;
}

.iiBfIA .suggestions i:hover {
    opacity: 0.7;
}

.iiBfIA .suggestions-tags .tags-element {
    border-radius: 15px;
    border: solid 1px #dddddd;
    background-color: #f2f4f5;
    color: #2b80ba;
    height: 30px;
}

.iiBfIA .suggestions-tags .tags-element:hover {
    background-color: #ddd;
}

.iiBfIA .suggestions-tags .tags-element .tags-text {
    line-height: 27px;
    font-size: 14px;
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.hBoRrB {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.hBoRrB i {
    position: relative;
    color: #5aabe3;
    top: 2px;
    left: 4px;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .hBoRrB i {
        top: 7px;
    }
}

.hXDKcu {
    width: 100%;
    border: solid 1px #999999;
    border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.hXDKcu .tags-container.keywords-tags {
    margin: 0;
    padding: 0 5px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.hXDKcu .tags-container.keywords-tags .tags-element {
    margin: 5px 3.5px;
    color: #ffffff;
    height: 25px;
    padding: 0 10px;
    border-radius: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    max-width: 100%;
    background-color: #5aabe3;
    height: 30px;
}

.hXDKcu .tags-container.keywords-tags .tags-element .tags-text {
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    font-size: 14px;
    line-height: 31px;
    margin: 5px 3.5px;
}

.hXDKcu .tags-container.placeholder-tags .tags-element {
    background-color: #fff;
    color: #5aabe3;
    border: 1.5px solid #5aabe3;
}

.hXDKcu .tags-container.placeholder-tags .tags-element .tags-text {
    font-family:
            font-rubik;
    font-weight: 600;
    font-size: 14px;
    line-height: 29px;
}

@media screen and (max-width: 800px) {
    .hXDKcu .tags-container.locations-tags .tags-element .tags-text {
        font-size: 12px;
    }
}

.dzYHMW {
    position: relative;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    padding: 0 5px;
    width: 185px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.dzYHMW .control {
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    padding: 1px 0;
}

.dzYHMW input {
    height: 35px;
    background-color: #ffffff;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
    padding: 0;
    line-height: 36px;
}

.dzYHMW input:focus, .dzYHMW input:active {
    box-shadow: none;
}

.dzYHMW input::-webkit-input-placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4);
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.dzYHMW input::-moz-placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4);
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.dzYHMW input:-ms-input-placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4);
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.dzYHMW input::placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.4);
    font-family: 'Roboto', 'Noto Sans', 'Font Awesome 5 Pro', sans-serif;
}

.dzYHMW .enter-icon-wrapper {
    width: 30px;
    height: 30px;
    border: solid 1px #e6e5ea;
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.dzYHMW .enter-icon-wrapper:hover {
    background-color: #f0efef;
}

.dzYHMW .v-spinner {
    top: 12px;
    right: 5px;
    position: absolute;
}

@media screen and (max-width: 800px) {
    .dzYHMW input {
        height: 35px;
    }

    .dzYHMW .v-spinner {
        top: 6px;
        right: 5px;
    }
}
.kibdMu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    margin: 25px 0 -15px 0;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .kibdMu {
        margin: 25px 0 -7.5px 0;
    }
}

.caLEVt {
    width: calc(50% - 15px);
    height: 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0;
}

@media screen and (max-width: 800px) {
    .caLEVt {
        width: calc(50% - 7.5px);
    }
}

.jzbxSD {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
}

.iDEouh {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    font-size: 16px;
    color: #333333;
    margin-left: 10px;
}

@media screen and (max-width: 800px) {
    .iDEouh {
        font-size: 14px;
    }
}

@keyframes resizeanim {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

.resize-triggers {
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0;
}

.resize-triggers, .resize-triggers > div, .contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.resize-triggers > div {
    background: #eee;
    overflow: auto;
}

.contract-trigger:before {
    width: 200%;
    height: 200%;
}

.gfVZxn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
}

.gfVZxn .dropdown-wrapper a {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
}

.gfVZxn .dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.kCFpgW {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 25px;
    border-radius: 2px;
    border: solid 1px #cccccc;
    background-color: #f2f3f5;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.kCFpgW:hover {
    background: #eee;
}

.kcPNS {
    font-size: 13px;
    color: #34383f;
    margin-right: 10px;
}

@media screen and (max-width: 800px) {
    .kcPNS {
        font-size: 12px;
    }
}

.cnfauy {
    font-size: 13px;
    color: #666666;
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
}

@media screen and (max-width: 800px) {
    .cnfauy {
        font-size: 12px;
    }
}

.fQWaAL {
    margin-left: 12px;
}

.cOiSSH {
    opacity: 0;
    visibility: none;
    pointer-events: none;
    width: 1px;
    height: 1px;
    z-index: -1;
}

.guKJGy {
    position: fixed;
    right: 35px;
    top: 45px;
    z-index: 2;
}

.guKJGy i {
    font-size: 40px;
    color: #cccccc;
    cursor: pointer;
}

.guKJGy i:hover {
    color: #999;
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none;
    }

    .guKJGy {
        top: 19px;
        right: 10px;
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none;
    }
}

.fReYNV {
    color: #5aabe3;
    position: absolute;
    font-size: 18px;
    top: 5px;
    right: 5px;
}

.iZwXYM {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    padding: 50px 75px 30px 75px;
}

@media screen and (max-width: 800px) {
    .iZwXYM {
        width: 100vw;
        height: 100%;
        padding: 50px 15px 15px 15px;
        overflow-y: auto;
    }
}

.seRiz {
    margin-top: 30px;
}

.seRiz .onboarding-app-url--boxes .onboarding-basic-box {
    width: 31%;
    height: 150px;
    margin: 0;
}

.gxQeAb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ehnOYB {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    font-size: 20px;
    -webkit-text-align: center;
    text-align: center;
    color: #333333;
    white-space: pre;
}

.hzBpyU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    margin: 0 -7px;
    margin-top: 55px;
}

.gMrCZV {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    height: 50px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    -webkit-text-align: center;
    text-align: center;
    width: 50%;
    color: #fff7f7;
    margin: 0 7px;
    background-color: #999999;
}

.ioNykI {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    height: 50px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    -webkit-text-align: center;
    text-align: center;
    width: 50%;
    color: #fff7f7;
    margin: 0 7px;
    background-color: #5aabe3;
}

.ekCwIS {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .cfXfAu .modal-content {
        max-height: initial;
        height: 100vh;
    }
}


.dYCGzl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #8b919a;
    position: relative;
}

.fzwkiK {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #8b919a;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 0%;
}

.bLQEcw {
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(90, 171, 227, 0.3);
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.bUcuDv {
    top: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

.kWkuYp {
    height: 150px;
    border-radius: 5px;
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px #5aabe3;
}

.gKucxI {
    font-family: Rubik, sans-serif, Noto Sans;
    font-size: 14px;
    -webkit-text-align: center;
    text-align: center;
    color: #333333;
    white-space: pre-line;
}

.cwuOBl {
    font-family: Rubik, sans-serif, Noto Sans;
    height: 30px;
    border-radius: 3px;
    background-color: #5aabe3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    -webkit-text-align: center;
    text-align: center;
    color: white;
    margin-top: 15px;
}

.eSOxZU {
    display: inline-block;
    width: 90%;
}

.guKJGy {
    position: fixed;
    right: 35px;
    top: 45px;
    z-index: 2;
}

.guKJGy i {
    font-size: 40px;
    color: #cccccc;
    cursor: pointer;
}

.guKJGy i:hover {
    color: #999;
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none;
    }

    .guKJGy {
        top: 19px;
        right: 10px;
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none;
    }
}

.gfVZxn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
}

.gfVZxn .dropdown-wrapper a {
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
}

.gfVZxn .dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.kCFpgW {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 25px;
    border-radius: 2px;
    border: solid 1px #cccccc;
    background-color: #f2f3f5;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.kCFpgW:hover {
    background: #eee;
}

.oBcqD {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Rubik', 'sans-serif', 'Noto Sans';
    color: #4b4f56;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}


.guKJGy {
    position: fixed;
    right: 35px;
    top: 45px;
    z-index: 2;
}

.guKJGy i {
    font-size: 40px;
    color: #cccccc;
    cursor: pointer;
}

.guKJGy i:hover {
    color: #999;
}

@media screen and (max-width: 800px) {
    .guKJGy.isWeb {
        display: none;
    }

    .guKJGy {
        top: 19px;
        right: 10px;
    }
}

@media screen and (min-width: 801px) {
    .guKJGy.isMobile {
        display: none;
    }
}

.dNqpdv {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    position: relative;
}

.dNqpdv i {
    position: relative;
    color: #5aabe3;
    top: 2px;
    left: 4px;
}

.dNqpdv p {
    display: inline-block;
    width: 90%;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .dNqpdv i {
        top: 7px;
    }
}
