.template-google-search-container {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #999;
    width: 100%
}

.template-google-search-container .template-google-search--body {
    padding: 15px 10px 30px 10px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.template-google-search-container .template-google-search--body.display-mode .title-area {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    color: #1a0dab;
    white-space: normal
}

.template-google-search-container .template-google-search--body.display-mode .description-area {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    text-align: left;
    color: #666;
    word-break: break-word;
    white-space: normal
}

.template-google-search-container .template-google-search--body > hr {
    width: 100%;
    margin: 15px 0
}

.template-google-search-container .template-google-search--body.edit-mode .title-area {
    margin: -5px -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.template-google-search-container .template-google-search--body.edit-mode .title-area .adriel-field-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 428px;
    width: auto
}

.template-google-search-container .template-google-search--body.edit-mode .title-area .adriel-field-wrapper > input {
    width: 100%
}

.template-google-search-container .template-google-search--body.edit-mode .title-area > * {
    margin: 5px 10px
}

.template-google-search-container .template-google-search--body.edit-mode .url-area {
    margin-top: 10px
}

.template-google-search-container .template-google-search--body.edit-mode .url-area .landing-url {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 10px
}

.template-google-search-container .template-google-search--body.edit-mode .url-area .landing-url input {
    width: 100%
}

.template-google-search-container .template-google-search--body.edit-mode .app-urls {
    margin: 5px 0 -5px 0
}

.template-google-search-container .template-google-search--body.edit-mode .app-urls .adriel-field-wrapper {
    margin: 5px 0;
    width: 100%
}

.template-google-search-container .template-google-search--body.edit-mode .app-urls .adriel-field-wrapper input {
    width: 100%
}

.template-google-search-container .template-google-search--body.edit-mode .descriptions-wrapper {
    margin: -5px 0
}

.template-google-search-container .template-google-search--body.edit-mode .descriptions-wrapper > * {
    margin: 5px 0
}

.template-google-search-container .template-google-search--body .option-plus-container {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.template-google-search-container .template-google-search--body .option-plus-container .icon {
    color: #ef646f;
    font-size: 14px;
    width: auto;
    height: auto
}

.template-google-search-container .template-google-search--body .option-plus-container .option-text {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 11px;
    color: #666;
    margin-left: 5px
}

.template-google-search-container .template-google-search--body .url-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5px
}

.template-google-search-container .template-google-search--body .url-area .url-badge {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 1px 4px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #006621;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    font-weight: 600;
    color: #006621
}

.template-google-search-container .template-google-search--body .url-area .url {
    margin-left: 5px;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    color: #006621
}

@media screen and (max-width: 800px) {
    .template-google-search-container .template-google-search--body .option-plus-container .icon {
        font-size: 12px
    }

    .template-google-search-container .template-google-search--body .option-plus-container .option-text {
        font-size: 11px
    }

    .template-google-search-container .template-google-search--body .url-area .url, .template-google-search-container .template-google-search--body .url-area .url-badge {
        font-size: 12px
    }
}

.template-google-display-container {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #999;
    width: 100%
}

.template-google-display-container .adriel-field-wrapper, .template-google-display-container .adriel-field-wrapper .adriel-field-input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.template-google-display-container .template-google-display--body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.template-google-display-container .template-google-display--body .img-video-load-fail {
    padding-top: 66%
}

.template-google-display-container .template-google-display--body .upload.control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.template-google-display-container .template-google-display--middle {
    background-color: #f3f3f3;
    padding: 5px 10px
}

.template-google-display-container .template-google-display--middle .titles-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.template-google-display-container .template-google-display--middle .display-title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    font-weight: 600;
    color: #4f4f4f
}

.template-google-display-container .template-google-display--middle .long-title {
    margin-top: 10px
}

.template-google-display-container .template-google-display--middle > img {
    margin-left: auto;
    cursor: pointer
}

.template-google-display-container .template-google-display--middle.editing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px
}

.template-google-display-container .template-google-display--middle.editing > * {
    width: 100%
}

.template-google-display-container .template-google-display--middle.editing .cta-btn {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 10px
}

.template-google-display-container .template-google-display--bottom {
    padding: 15px 10px 30px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.template-google-display-container .template-google-display--bottom .display-description {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    color: #666;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.template-google-display-container .template-google-display--bottom .display-business-name {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    color: #666;
    max-width: 100%;
    margin-top: 5px
}

.template-google-display-container .template-google-display--bottom .display-business-name.input-type {
    margin-top: 10px
}

.template-google-display-container .template-google-display--bottom .description-contaienr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.template-google-display-container .template-google-display--bottom .description-contaienr .img-video-wrapper {
    width: 60px;
    height: 60px;
    margin-right: 10px
}

.template-google-display-container .template-google-display--bottom .description-contaienr .img-video-wrapper .icon {
    font-size: 15px
}

.template-google-display-container .template-google-display--bottom .description-contaienr .img-video-wrapper .fallback-text {
    font-size: 12px;
    margin-top: 3px
}

.template-google-display-container .template-google-display--bottom .description-contaienr .upload.control {
    width: 60px;
    height: 60px;
    margin-right: 10px
}

.template-google-display-container .template-google-display--bottom .description-contaienr .upload.control .img-video-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ddd
}

.template-google-display-container .template-google-display--bottom .description-contaienr .upload.control .img-video-wrapper .success-text {
    margin-top: 3px;
    font-size: 12px
}

.template-google-display-container .template-google-display--bottom .description-contaienr .upload.control .img-video-wrapper .remove-icon {
    right: 5px;
    top: 5px
}

.template-google-display-container .template-google-display--bottom .url-area {
    margin: 5px 0 0 0
}

.template-google-display-container .template-google-display--bottom .url-area .adriel-field-wrapper {
    margin: 5px 0;
    width: 100%
}

@media screen and (max-width: 800px) {
    .template-google-display-container .template-google-display--middle .display-title {
        font-size: 14px
    }

    .template-google-display-container .template-google-display--bottom .display-business-name, .template-google-display-container .template-google-display--bottom .display-description {
        font-size: 12px
    }
}

.onboarding-ad-preview--google-uac {
    background-color: #eee;
    text-align: center;
    padding-bottom: 15px
}

.onboarding-ad-preview--google-uac .onboarding-uac-footer-img {
    max-width: 429px;
    width: 94%;
    height: auto
}

.template-google-uac-container {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%
}

.template-google-uac-container .template-google-uac--body {
    padding: 13px 10px 15px;
    background-color: #eee;
    border-radius: 0 0 5px 5px
}

.template-google-uac-container .template-google-uac--body .description-area {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 13px;
    text-align: left;
    color: #333;
    margin-top: 1px;
    background-color: #fff;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.template-google-uac-container .template-google-uac--body .description-area .description-text {
    display: block;
    overflow: hidden;
    line-height: 1.54;
    padding: 7px 14px 0
}

.template-google-uac-container .template-google-uac--body .description-area .install-btn {
    position: relative;
    width: 87px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    text-align: center;
    right: 15px;
    margin-top: 3px;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.template-google-uac-container .template-google-uac--body .description-area .install-btn .fa-arrow-to-bottom {
    color: #4d84ec;
    width: 13px;
    height: 15px;
    font-size: 15px
}

.template-google-uac-container .template-google-uac--body .description-area .install-btn .install-text {
    font-size: 14px;
    line-height: 28px;
    color: #1b1b1b;
    padding-left: 3px
}

.template-google-uac-container .template-google-uac--body .description-area .install-btn.edit-mode {
    margin-top: 12px;
    right: 10px
}

.template-google-uac-container .template-google-uac--body > hr {
    width: 100%;
    margin: 0;
    background-color: #eee
}

.template-google-uac-container .template-google-uac--body .uac-header-area {
    max-width: 429px;
    width: 100%;
    height: 45px;
    border-radius: 2px;
    background-color: #fff
}

.template-google-uac-container .template-google-uac--body .uac-header-area .fa-arrow-left {
    width: 17px;
    height: 17px;
    font-size: 17x;
    color: #9e9e9e;
    line-height: 45px;
    float: left;
    position: relative;
    left: 17px
}

.template-google-uac-container .template-google-uac--body .uac-header-area .fa-microphone {
    width: 15px;
    height: 21px;
    font-size: 21px;
    color: #9e9e9e;
    line-height: 45px;
    float: right;
    position: relative;
    right: 16px
}

.template-google-uac-container .template-google-uac--body .uac-content-area {
    max-width: 429px;
    width: 100%;
    height: auto;
    min-height: 156px;
    margin-top: 15px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .22);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .22);
    background-color: #fff
}

.template-google-uac-container .template-google-uac--body .uac-content-area .descriptions-wrapper {
    margin: -5px 0;
    margin-top: 10px
}

.template-google-uac-container .template-google-uac--body .uac-content-area .app-urls, .template-google-uac-container .template-google-uac--body .uac-content-area .descriptions-wrapper .adriel-field-has-error button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.template-google-uac-container .template-google-uac--body .uac-content-area .app-urls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: -5px 0;
    margin-top: 5px
}

.template-google-uac-container .template-google-uac--body .uac-content-area .app-urls .adriel-field-wrapper {
    width: 95%;
    margin: 0 auto;
    margin: 5px 0
}

.template-google-uac-container .template-google-uac--body .uac-content-area .app-urls .adriel-field-wrapper input {
    width: 100%
}

.template-google-uac-container .template-google-uac--body .uac-content-area > hr {
    width: 100%;
    margin: 0;
    background-color: #eee
}

.template-google-uac-container .template-google-uac--body .uac-content-area .google-uac-input {
    width: 95%;
    max-width: 398px;
    height: 30px;
    display: table;
    margin: 0 auto;
    margin-top: 10px
}

.template-google-uac-container .template-google-uac--body .uac-content-area .google-uac-input input {
    width: 100% !important
}

.template-google-uac-container .template-google-uac--body .uac-content-area .google-uac-input .character-counter-wrapper {
    height: 30px
}

.template-google-uac-container .template-google-uac--body .url-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
    background-color: #fff
}

.template-google-uac-container .template-google-uac--body .url-area .temp-img-box {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: #dcdcdc;
    text-align: center;
    margin: 0 15px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.template-google-uac-container .template-google-uac--body .url-area .temp-img-box .fa-image {
    width: 25px;
    height: 19px;
    font-size: 25px;
    color: #999;
    line-height: 50px
}

.template-google-uac-container .template-google-uac--body .url-area .uac-content-box {
    width: 75%
}

.template-google-uac-container .template-google-uac--body .url-area .uac-content-box .uac-app-name {
    width: 90%;
    height: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    color: #518ef8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.template-google-uac-container .template-google-uac--body .url-area .uac-content-box .uac-app-name app_search .fa-info-circle {
    float: right;
    position: relative;
    right: 10px;
    color: #ddd
}

.template-google-uac-container .template-google-uac--body .url-area .uac-content-box .uac-badge-box {
    text-align: left;
    width: 90%;
    overflow: hidden
}

.template-google-uac-container .template-google-uac--body .url-area .uac-content-box .url-badge {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 24px;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #4ca46e;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 12px;
    font-weight: 600;
    color: #4ca46e;
    margin-top: 3px
}

.template-google-uac-container .template-google-uac--body .url-area .uac-content-box .company-name {
    margin-left: 5px;
    height: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #333
}

.template-google-uac-container .template-google-uac--body .url-area .uac-content-box .stars-img {
    width: auto;
    height: 10px;
    margin-left: 7px
}

@media screen and (max-width: 800px) {
    .template-google-uac-container .template-google-uac--body .description-area .description-text {
        font-size: 12px
    }

    .template-google-uac-container .template-google-uac--body .url-area .uac-content-box .uac-app-name {
        font-size: 14px
    }

    .template-google-uac-container .template-google-uac--body .url-area .uac-content-box .company-name {
        font-size: 13px
    }
}

@media screen and (max-width: 381px) {
    .template-google-uac-container .template-google-uac--body .description-area .install-btn {
        margin-top: -10px
    }
}

.apple-search-msg-box {
    width: 95%;
    height: 56px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    border: 1px solid #ffc1c6;
    background-color: #ffe6e8;
    position: absolute;
    left: 9px;
    top: 50px
}

.apple-search-msg-box, .apple-search-msg-box .fa-ban {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.apple-search-msg-box .fa-ban {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0.4;
    -ms-flex: 0.4;
    flex: 0.4;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ef646f;
    font-size: 18px
}

@media screen and (max-width: 800px) {
    .apple-search-msg-box .fa-ban {
        font-size: 16px
    }
}

.apple-search-msg-box .fa-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0.4;
    -ms-flex: 0.4;
    flex: 0.4;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #999;
    left: 5px;
    font-size: 16px;
    position: relative
}

.apple-search-msg-box .fa-times:hover {
    color: #ccc
}

@media screen and (max-width: 800px) {
    .apple-search-msg-box .fa-times {
        font-size: 14px
    }
}

.apple-search-msg-box .apple-search-txt-box {
    font-size: 12px;
    font-weight: 400;
    color: #68161c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 75%
}

.apple-search-msg-box .apple-search-txt-box .apple-search-msg {
    text-align: left
}

.apple-search-msg-box .apple-search-txt-box .apple-search-link {
    font-weight: 700;
    color: #68161c;
    text-align: left;
    width: 80%;
    cursor: pointer;
    text-decoration: underline;
    -webkit-text-decoration-color: #68161c;
    text-decoration-color: #68161c;
    text-underline-position: under
}

@media screen and (max-width: 800px) {
    .apple-search-msg-box .apple-search-txt-box {
        font-size: 11px
    }
}

.apple-search-header {
    height: 40px;
    padding: 0 15px
}

.apple-search-header .search-bar {
    height: 40px;
    border-radius: 10px;
    background-color: #f1f1f3
}

.apple-search-header .search-bar i {
    font-size: 21px;
    line-height: 40px;
    padding-left: 10px;
    color: #929292
}

.apple-search-wrapper {
    padding: 15px 0;
    border-top: 2px solid #e2e8ee
}

.apple-search-wrapper .apple-search-body {
    padding: 0 15px;
    margin-top: 10px
}

.apple-search-wrapper .apple-search-body .apple-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.apple-search-wrapper .apple-search-body .apple-info-container .apple-logo-box .apple-logo {
    text-align: center;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    background-color: #dcdcdc
}

.apple-search-wrapper .apple-search-body .apple-info-container .apple-logo-box .apple-logo .logo {
    width: 100%;
    height: 100%
}

.apple-search-wrapper .apple-search-body .apple-info-container .apple-logo-box .apple-logo i {
    line-height: 55px;
    color: #999;
    font-size: 25px
}

.apple-search-wrapper .apple-search-body .apple-info-container .apple-info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 10px
}

.apple-search-wrapper .apple-search-body .apple-info-container .apple-info-box .apple-title {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #393b3d;
    -webkit-box-flex: 1px;
    -ms-flex: 1px;
    flex: 1px;
    overflow: hidden;
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media screen and (max-width: 800px) {
    .apple-search-wrapper .apple-search-body .apple-info-container .apple-info-box .apple-title {
        width: 140px
    }
}

.apple-search-wrapper .apple-search-body .apple-info-container .apple-info-box .apple-description {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #acadb2;
    position: relative;
    overflow: hidden;
    bottom: 2px;
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media screen and (max-width: 800px) {
    .apple-search-wrapper .apple-search-body .apple-info-container .apple-info-box .apple-description {
        width: 140px
    }
}

.apple-search-wrapper .apple-search-body .apple-info-container .apple-info-box .apple-adRating {
    position: relative;
    bottom: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.apple-search-wrapper .apple-search-body .apple-info-container .apple-info-box .apple-adRating .url-badge {
    border-radius: 5px;
    background-color: #97d1fc;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 1px 4px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    margin-right: 5px
}

.apple-search-wrapper .apple-search-body .apple-info-container .apple-info-box .apple-adRating .download-count {
    font-size: 12px;
    font-weight: 400;
    padding-left: 7px;
    color: #ccc;
    position: relative;
    top: .5px
}

.apple-search-wrapper .apple-search-body .apple-info-container .apple-button-box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.apple-search-wrapper .apple-search-body .apple-info-container .apple-button-box span {
    font-size: 15px;
    font-weight: 700;
    color: #3d92fb;
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    padding: 5px 21px;
    bottom: 2px
}

.apple-search-wrapper .apple-search-body .apple-screenshot-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.apple-search-wrapper .apple-search-body .apple-screenshot-container .apple-screenshot {
    position: relative;
    text-align: center;
    width: 33.3%;
    height: 0;
    padding-top: 55.5%;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff
}

.apple-search-wrapper .apple-search-body .apple-screenshot-container .apple-screenshot:not(:first-child) {
    margin-left: 10px
}

.apple-search-wrapper .apple-search-body .apple-screenshot-container .apple-screenshot i {
    color: #ccc;
    font-size: 25px;
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 100%
}

.apple-search-wrapper .apple-search-body .apple-screenshot-container .apple-screenshot .logo {
    width: 100%;
    height: 100%
}

@media screen and (max-width: 800px) {
    .apple-search-wrapper .apple-search-body .apple-info-container .apple-button-box span {
        font-size: 12px;
        padding: 5px 15px;
        bottom: 8px
    }
}

.onboarding-ad-preview--google-search .apple-search-wrapper {
    padding: 15px 0;
    margin-top: 10px;
    background-color: #edf6ff
}

.onboarding-ad-preview--google-search .apple-search-wrapper .apple-search-body {
    margin-top: 0
}

.tags-container {
    margin: -2.5px -3.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.tags-element {
    margin: 2.5px 3.5px;
    color: #fff;
    background-color: #7ebbd4;
    height: 25px;
    padding: 0 10px;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px
}

.tags-element.clickable {
    cursor: pointer
}

.tags-element img {
    margin-left: 5px;
    cursor: pointer
}

.tags-element:last-child {
    margin-right: 0
}

.tags-element .tags-text {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    line-height: 25px
}