.loading-adriel-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%)
}

.animated-logo {
    width: 200px;
    height: 249px;
    background: url(/img/loading_sprites.png) 0;
    -webkit-animation: play-data-v-01abfa69 4.5s steps(70) infinite;
    animation: play-data-v-01abfa69 4.5s steps(70) infinite
}

.loading-msg {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #4d5058;
    text-align: center;
    white-space: pre-line
}

@-webkit-keyframes play-data-v-01abfa69 {
    to {
        background-position: -14000px
    }
}

@keyframes play-data-v-01abfa69 {
    to {
        background-position: -14000px
    }
}

.add-payment-method {
    max-width: 650px;
    width: 100%
}

.add-payment-method .card-type {
    height: 45px
}

.add-payment-method .card-type img {
    height: 40px;
    vertical-align: middle
}

.add-payment-method #card-form .form-input {
    margin: 10px 0
}

.add-payment-method #card-form .form-input label {
    color: #797d88;
    width: 135px;
    display: inline-block
}

.add-payment-method #card-form .form-input .input-wrapper {
    color: #fff;
    background-color: #fff;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc
}

.add-payment-method .buttons-wrapper {
    margin-top: 30px;
    padding: 0 15px 15px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.add-payment-method .buttons-wrapper button {
    width: 205px;
    font-size: 18px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    height: 50px
}

.add-payment-method .buttons-wrapper button:first-child {
    background-color: #999;
    margin-right: 10px
}

.add-payment-method .buttons-wrapper button:last-child {
    background-color: #5aabe3;
    margin-left: 10px
}

.add-payment-method .buttons-wrapper button:disabled {
    cursor: not-allowed
}

.add-payment-method .buttons-wrapper span {
    text-align: center;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    color: #333
}

.add-payment-method .payment-info-ko {
    color: #ef646f;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px
}

@media screen and (max-width: 800px) {
    .add-payment-method button {
        width: 155px
    }
}

.payment-method {
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px
}

.payment-method.selected {
    border: 2px solid #5aabe3
}

.payment-method .img-card-type {
    width: 50px;
    margin-right: 10px;
    vertical-align: middle
}

.payment-method .card-number {
    font-size: 15px
}

.payment-method .expiration {
    font-size: 14px
}

.default-payment-method button {
    border: none;
    background-color: #4d5058
}

.default-payment-method button.disabled {
    background-color: #5aabe3
}

.fb-pages-modal-wrapper {
    background-color: #fff;
    border-radius: 10px;
    max-width: 450px
}

.add-instagram-page {
    width: calc(100% - 5px);
    text-align: left
}

.add-instagram-page img {
    vertical-align: text-bottom
}

.add-instagram-page span {
    margin-left: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #333
}

.add-instagram-page .page-elems-wrapper {
    margin-left: 20px;
    margin-top: 0
}

.add-instagram-page .page-elem-box {
    width: calc(100% - 23px) !important
}

.add-instagram-page .page-elem-box.selected {
    border: 2px solid #5aabe3
}

.fb-pages-modal-body {
    padding: 15px
}

.fb-pages-modal-body .desc-span {
    text-align: center;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: #333;
    width: 100%;
    word-break: keep-all;
    word-wrap: break-word
}

.notAuth-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.notAuth-contents > img {
    margin-top: 15px;
    cursor: pointer
}

.noPages-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.noPages-contents > img {
    margin-bottom: 15px;
    cursor: pointer
}

.pages-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.page-elems-wrapper {
    width: 100%;
    margin-top: 15px
}

.page-elems-wrapper .page-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 0
}

.page-elems-wrapper .page-elem.disabled {
    cursor: not-allowed
}

.page-elems-wrapper .page-elem .page-elem-img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px
}

.page-elems-wrapper .page-elem label {
    width: 100%
}

.page-elems-wrapper .page-elem label .control-label {
    width: calc(100% - 20px)
}

.page-elems-wrapper .page-elem .page-elem-box {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f4f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.page-elems-wrapper .page-elem .page-name {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #333
}

.page-elems-wrapper .page-elem .page-url {
    font-size: 12px;
    color: #797d88;
    margin-left: 4px
}

.page-elems-wrapper .page-elem .custom-radio.selected input[type=radio] + .check {
    width: 20px;
    height: 20px;
    border: 2px solid #5aabe3
}

.page-elems-wrapper .page-elem .custom-radio.selected input[type=radio] + .check:before {
    width: 10px;
    height: 10px
}

.page-elems-wrapper .page-elem .custom-radio.selected .control-label .page-elem-box {
    border: 2px solid #5aabe3
}

.fb-pages-modal-body .adriel-buttons-wrapper.fb-pages-buttons {
    margin-top: 30px
}

.fb-pages-modal-body .adriel-buttons-wrapper.fb-pages-buttons.noPages .cancel, .fb-pages-modal-body .adriel-buttons-wrapper.fb-pages-buttons.notAuth .cancel {
    width: 100%;
    background-color: #5aabe3
}

.fb-pages-modal-body .noPages-contents a {
    padding: 0 2px;
    border-bottom: 1px solid #5aabe3;
    margin-left: 2px
}

.fb-pages-modal-body .noPages-contents a:hover {
    color: #5aabe3
}

.progress-bar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0
}

.progress-bar-container .progress-bar {
    width: 265px;
    height: 7px;
    border-radius: 100px;
    background-color: #ddd;
    position: relative
}

.progress-bar-container .progress-bar-inner {
    background-color: #5aabe3;
    position: absolute;
    left: 0;
    top: 0;
    height: 7px;
    border-radius: 100px;
    -webkit-transition: width .2s;
    transition: width .2s
}

.progress-bar-container button {
    padding: 0 5px;
    margin: 0
}

.image-uploader-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.image-uploader-wrapper.is-loading {
    width: 74px;
    height: 50px;
    margin-bottom: 5px;
    -webkit-box-align: initial;
    -ms-flex-align: initial;
    align-items: normal;
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: normal
}

.image-uploader-wrapper.is-loading .image-place {
    background-image: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: default
}

.image-uploader-wrapper .upload {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3
}

.image-uploader-wrapper .image-uploader-img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%
}

.image-uploader-wrapper .image-uploader-img > img {
    position: absolute;
    z-index: 4;
    right: 5px;
    top: 5px
}

.image-uploader-wrapper .progress-bar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0
}

.image-uploader-wrapper .progress-bar-container .progress-bar {
    width: 265px;
    height: 7px;
    border-radius: 100px;
    background-color: #ddd;
    position: relative
}

.image-uploader-wrapper .progress-bar-container .progress-bar-inner {
    background-color: #5aabe3;
    position: absolute;
    left: 0;
    top: 0;
    height: 7px;
    border-radius: 100px;
    -webkit-transition: width .2s;
    transition: width .2s
}

.image-uploader-wrapper .progress-bar-container button {
    padding: 0 5px;
    margin: 0
}

.image-uploader-wrapper .opacity-mask:before {
    background-color: rgba(0, 0, 0, .35);
    opacity: 1;
    z-index: 1
}

.image-uploader-wrapper .upload .upload-draggable {
    border: none
}

.image-uploader-wrapper .img-video-load-fail.mp4 {
    height: 50px
}

.image-uploader-wrapper .img-video-load-fail.mp4 > div {
    display: none
}

.image-uploader-wrapper .img-video-load-fail.mp4 > img {
    width: 30px;
    height: 24px
}

.express-wrapper {
    height: auto;
    padding-top: 90px;
    padding-bottom: 60px;
    padding-left: 180px
}

.express-wrapper .express-body {
    max-width: 1000px;
    margin: 0 auto
}

.express-wrapper .express-body, .express-wrapper .express-body--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.express-wrapper .express-body--title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 30px;
    font-weight: 600;
    color: #333
}

.express-wrapper .express-body--title .top-title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #333
}

.express-wrapper .express-body--title .bottom-title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    color: #333
}

.express-wrapper .express-body .top-ment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px
}

.express-wrapper .express-body .top-ment .big-title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #5aabe3;
    margin-top: 10px
}

.express-wrapper .express-body .top-ment .small-title {
    margin-top: 20px;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: #000
}

.express-wrapper .express-body .top-ment .availables {
    margin-top: 20px
}

@media screen and (max-width: 800px) {
    .express-wrapper .express-body .top-ment .availables {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.express-wrapper .express-body .top-ment .availables__title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    color: #666;
    margin-right: 10px
}

.express-wrapper .express-body .top-ment .availables__tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -2.5px
}

.express-wrapper .express-body .top-ment .availables__tag-item {
    height: 25px;
    border-radius: 12.5px;
    border: 1px solid #999;
    padding: 0 10px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    color: #666;
    margin: 0 2.5px
}

.express-wrapper .express-includes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 60px
}

.express-wrapper .express-includes--title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #666;
    margin-bottom: 30px
}

.express-wrapper .express-includes--box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.express-wrapper .express-includes--box .box-each {
    width: calc((100% - 81px) / 4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.express-wrapper .express-includes--box .box-each .img {
    max-width: 130px;
    width: 100%
}

.express-wrapper .express-includes--box .box-each span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #333;
    margin-top: 20px;
    width: 100%
}

.express-wrapper .express-includes--next {
    width: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 54px;
    color: #5aabe3
}

.express-wrapper .express-includes--next .icon i {
    font-size: 30px
}

.express-wrapper .express-after {
    padding-top: 40px;
    padding-bottom: 40px
}

.express-wrapper .express-after ul {
    margin: -10px 0;
    margin-left: 20px
}

.express-wrapper .express-after ul li {
    list-style: disc;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    color: #666;
    margin: 10px 0;
    line-height: 24px
}

.express-wrapper .express-after ul li .highlight {
    color: #5aabe3;
    cursor: pointer
}

.express-wrapper .express-after ul li .highlight:hover {
    text-decoration: underline
}

.express-wrapper .facebookPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%
}

.express-wrapper .facebookPage .fb-pages-modal-wrapper {
    width: 100%;
    max-width: none
}

.express-wrapper .facebookPage .fb-pages-modal-body {
    padding: 0
}

.express-wrapper .facebookPage .fb-pages-modal-body .desc-span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #393c3f
}

.express-wrapper .facebookPage .fb-pages-modal-body .fetch-btn-wrapper {
    width: 100%;
    max-width: 540px
}

.express-wrapper .facebookPage .fb-pages-modal-body .auth-btn {
    height: 35px;
    width: 100%;
    border-radius: 3px;
    background-color: #4267b2;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin-top: 15px;
    -webkit-transition: background .3s;
    transition: background .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.express-wrapper .facebookPage .fb-pages-modal-body .auth-btn:hover {
    background-color: #29487d
}

.express-wrapper .facebookPage .fb-pages-modal-body .auth-btn img {
    width: 16px;
    margin-right: 10px
}

.express-wrapper .default-payment-method .default-payment-method-button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.express-wrapper .default-payment-method button:not(.modal-close) {
    width: 100%;
    max-width: 540px;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 13px;
    font-weight: 600;
    height: 35px
}

.express-wrapper .express-form {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(4, 0, 0, .15);
    box-shadow: 0 5px 15px 0 rgba(4, 0, 0, .15);
    background-color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.express-wrapper .express-form--img {
    width: 400px;
    height: auto;
    background: #eaedf2;
    border-radius: 3px;
    margin-right: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto
}

.express-wrapper .express-form--form {
    max-width: 600px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.express-wrapper .express-form--form .form-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.express-wrapper .express-form--form .form-input label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    color: #393c3f;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.express-wrapper .express-form--form .form-input label.optional {
    color: #999
}

.express-wrapper .express-form--form .form-input input, .express-wrapper .express-form--form .form-input textarea {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #666;
    background-color: #fff;
    margin-top: 5px
}

.express-wrapper .express-form--form .form-input textarea {
    font-size: 14px;
    border: 1px solid #cbd1d9;
    margin-top: 5px
}

.express-wrapper .express-form .media-list {
    margin: -5px;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.express-wrapper .express-form .image-uploader-wrapper * {
    cursor: pointer
}

.express-wrapper .express-form .image-uploader-wrapper .image-place {
    width: 80px;
    max-height: 100px
}

.express-wrapper .express-form .image-uploader-wrapper .img-video-wrapper {
    max-height: 100px;
    width: 100%
}

.express-wrapper .express-form .image-uploader-wrapper .img-video-wrapper .img-video-content {
    width: 80px;
    max-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.express-wrapper .express-form .image-uploader-wrapper .img-video-wrapper .img-video-content img {
    width: 80px;
    max-height: 100px
}

.express-wrapper .express-form .image-uploader-wrapper .img-video-wrapper .img-video-load-fail > img {
    padding: 0
}

.express-wrapper .express-form .image-uploader-wrapper.empty .image-place {
    height: 50px;
    border: 1px dashed #999;
    background-image: url(/img/proposal/ads_img_add_icon.png);
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative
}

.express-wrapper .submit-text {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #333
}

.express-wrapper .submit-text span {
    font-size: 12px;
    font-weight: 700;
    color: #666
}

.express-wrapper .submit-text b {
    font-weight: 700;
    color: #ef646f
}

.express-wrapper .express-submit {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: #5aabe3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    font-weight: 600;
    color: #fff
}

.express-wrapper .payment-label {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #393c3f
}

.express-wrapper .divider {
    width: 100%;
    height: 1px;
    background-color: #ccc
}

.express-wrapper .campaign-goal-label {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    color: #666
}

.express-wrapper .field-container > span {
    font-size: 14px
}

.express-wrapper .field-container .adriel-field-input {
    height: 33px
}

@media screen and (min-width: 800px) {
    .express-wrapper .onboarding-app-url-container {
        margin-top: 7px
    }

    .express-wrapper .onboarding-app-url-container .onboarding-app-url--boxes {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .express-wrapper .onboarding-app-url-container .onboarding-basic-box {
        padding: 0 15px;
        height: 35px;
        width: auto;
        font-size: 14px;
        -webkit-transition: width .3s;
        transition: width .3s;
        margin-right: 10px
    }

    .express-wrapper .onboarding-app-url-container .onboarding-basic-box.selected {
        padding-right: 35px
    }
}

@media screen and (max-width: 800px) {
    .express-wrapper .onboarding-app-url-container {
        margin-top: 7px
    }

    .express-wrapper .onboarding-app-url-container .onboarding-basic-box {
        height: auto;
        min-height: 80px
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    .express-wrapper .express-body--title {
        margin-left: 15px
    }

    .express-wrapper .express-body--contents {
        width: 90%;
        margin: 0 auto
    }

    .express-wrapper .express-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .express-wrapper .express-form--img {
        width: 100%;
        padding-top: 38%;
        margin-bottom: 15px
    }

    .express-wrapper .express-form--form {
        max-width: none
    }
}

@media screen and (max-width: 800px) {
    .express-wrapper {
        padding-left: 0;
        padding-top: 80px
    }

    .express-wrapper .mobile-nav {
        display: block;
        background-color: #eaedf2
    }

    .express-wrapper .left-nav {
        display: none
    }

    .express-wrapper .express-body--title {
        width: 100%;
        padding: 15px 0;
        background-color: #5aabe3;
        font-family: Rubik, "sans-serif", Noto Sans;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .express-wrapper .express-body--title .top-title {
        color: #fff;
        font-size: 16px
    }

    .express-wrapper .express-body--title .bottom-title {
        color: #fff;
        font-size: 20px
    }

    .express-wrapper .express-body--contents {
        margin: 0 15px
    }

    .express-wrapper .express-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .express-wrapper .express-form--img {
        width: 100%;
        padding-top: 38%;
        margin-bottom: 15px
    }

    .express-wrapper .express-form--form {
        max-width: none
    }

    .express-wrapper .express-includes--box {
        margin: -15px 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .express-wrapper .express-includes--box .box-each {
        width: 50%;
        margin: 15px 0
    }

    .express-wrapper .express-includes--next {
        display: none
    }
}

.express-url-input-popover-contents {
    max-width: 550px
}

.express-url-input-popover-contents .format {
    width: 250px
}

.express-url-input-popover-contents--each .each-title {
    color: #999;
    font-weight: 700;
    font-size: 12px
}

.express-url-input-popover-contents--each .each-content .format {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    color: #333;
    max-width: 300px
}

.express-url-input-popover-contents--each .each-content .format b {
    font-size: 12px;
    font-weight: 700;
    word-break: break-all;
    padding-left: 3px
}