.onboarding-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    margin: auto
}

.onboarding-selection--title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #333;
    white-space: pre-line
}

.onboarding-selection--boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px
}

.onboarding-selection--boxes .box {
    cursor: pointer;
    max-width: 500px;
    width: 48%;
    height: 400px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: trasnform .3s;
    transition: trasnform .3s;
    border: 1px solid #999;
    background-color: #f7f7f7
}

.onboarding-selection--boxes .box:hover {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 4.9px 4.9px 25px 0 rgba(0, 0, 0, .25);
    box-shadow: 4.9px 4.9px 25px 0 rgba(0, 0, 0, .25)
}

.onboarding-selection--boxes .box .badge {
    opacity: .65;
    border-radius: 15px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px 10px
}

.onboarding-selection--boxes .box .badge .normal {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    font-weight: 600;
    color: #146e93
}

.onboarding-selection--boxes .box .badge span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.onboarding-selection--boxes .box .title {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0
}

.onboarding-selection--boxes .box .contents, .onboarding-selection--boxes .box .title {
    font-family: Rubik, "sans-serif", Noto Sans;
    text-align: center;
    color: #333;
    white-space: pre-line
}

.onboarding-selection--boxes .box .contents {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 100%
}

.onboarding-selection--boxes .box button {
    min-width: 150px;
    padding: 0 20px 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 45px;
    border-radius: 3px
}

.onboarding-selection--boxes .box button .text {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 18px;
    color: #fff
}

.onboarding-selection--boxes .box button .icon {
    font-size: 12px
}

.onboarding-selection--boxes .box.first .badge {
    border: 2px solid #146e93
}

.onboarding-selection--boxes .box.first .badge .strike {
    opacity: .4;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    font-weight: 600;
    color: #146e93;
    text-decoration: line-through;
    margin-left: 4px
}

.onboarding-selection--boxes .box.first button {
    background-color: #146e93
}

.onboarding-selection--boxes .box.first button:hover {
    background: #0b5d7f
}

.onboarding-selection--boxes .box.second {
    margin-left: 80px
}

.onboarding-selection--boxes .box.second .badge {
    border: 2px solid #5aabe3
}

.onboarding-selection--boxes .box.second button {
    background-color: #5aabe3
}

.onboarding-selection--boxes .box.second button:hover {
    background: #519acc
}

@media screen and (max-width: 800px) {
    .onboarding-selection--title {
        display: none
    }

    .onboarding-selection--boxes {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0
    }

    .onboarding-selection--boxes .box {
        width: 100%;
        height: auto;
        padding: 60px 20px 40px 20px
    }

    .onboarding-selection--boxes .box .badge {
        top: 15px;
        right: 15px
    }

    .onboarding-selection--boxes .box .badge .normal, .onboarding-selection--boxes .box .badge span {
        font-size: 12px
    }

    .onboarding-selection--boxes .box .title {
        font-size: 24px
    }

    .onboarding-selection--boxes .box .contents {
        font-size: 12px
    }

    .onboarding-selection--boxes .box button {
        height: 30px
    }

    .onboarding-selection--boxes .box button .text {
        font-size: 12px
    }

    .onboarding-selection--boxes .box button .icon {
        font-size: 10px
    }

    .onboarding-selection--boxes .box.first .badge .strike {
        font-size: 12px
    }

    .onboarding-selection--boxes .box.second {
        margin-left: 0
    }
}

.onboarding-review-process {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.onboarding-review-process, .onboarding-review-process--contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.onboarding-review-process--contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.onboarding-review-process--contents .top-title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #4d5058
}

.onboarding-review-process--contents .details {
    white-space: pre-line;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    text-align: center;
    color: #4d5058;
    margin-top: 25px
}

.onboarding-review-process--contents .circles-container {
    margin-top: 30px;
    margin-bottom: 45px
}

.onboarding-review-process--contents .circles-container .circle-each {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #5aabe3;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #5aabe3;
    white-space: pre-line
}

.onboarding-review-process--contents .circles-container .icon {
    width: auto;
    height: auto;
    margin-left: 30px;
    margin-right: 30px
}

.onboarding-review-process--contents .additional {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    text-align: center;
    color: #4d5058
}

.onboarding-review-process--contents .next-btn {
    min-width: 200px;
    height: 50px;
    border-radius: 3px;
    background-color: #5aabe3;
    margin-top: 20px;
    margin-bottom: 15px
}

.onboarding-review-process--contents .next-btn .btn-text {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    color: #fff
}

.onboarding-review-process--contents .next-btn .icon {
    width: auto;
    height: auto;
    color: #fff;
    font-size: 13px;
    margin-left: 5px
}

.onboarding-review-process--contents .not-now {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 12px;
    color: #666;
    text-decoration: underline;
    cursor: pointer
}

@media screen and (max-width: 800px) {
    .onboarding-review-process--contents .top-title {
        font-size: 24px
    }

    .onboarding-review-process--contents .details {
        font-size: 16px
    }

    .onboarding-review-process--contents .circles-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .onboarding-review-process--contents .circles-container .circle-each {
        margin: 15px 0
    }

    .onboarding-review-process--contents .circles-container .icon {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .onboarding-review-process--contents .additional {
        font-size: 16px
    }

    .onboarding-review-process--contents .next-btn {
        width: 100%
    }

    .onboarding-review-process--contents .next-btn .btn-text {
        font-size: 16px
    }

    .onboarding-review-process--contents .next-btn .icon {
        font-size: 10px
    }

    .onboarding-review-process--contents .not-now {
        font-size: 12px
    }
}

.onboarding-ads-list-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 110px
}

.onboarding-ads-list-container .onboarding-ads-list--title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 24px;
    text-align: center;
    color: #333;
    white-space: pre-line
}

.onboarding-ads-list-container .onboarding-ads-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 35px -15px -15px -15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 100%;
    background-color: #fff
}

.onboarding-ads-list-container .onboarding-ads-list > div {
    margin: 15px;
    max-width: 360px;
    min-width: 300px
}

@media screen and (max-width: 800px) {
    .onboarding-ads-list-container {
        width: 100%;
        padding: 0
    }

    .onboarding-ads-list-container .onboarding-ads-list--title {
        text-align: left
    }

    .onboarding-ads-list-container .onboarding-ads-list {
        margin-top: 0
    }

    .onboarding-ads-list-container .onboarding-ads-list > div {
        margin-left: 0;
        margin-right: 0
    }

    .onboarding-full-page.adsList {
        padding-top: 50px
    }
}

.onboarding-finish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.onboarding-finish--title {
    font-size: 36px;
    font-weight: 700
}

.onboarding-finish--content, .onboarding-finish--title {
    font-family: Rubik, "sans-serif", Noto Sans;
    text-align: center;
    color: #4d5058
}

.onboarding-finish--content {
    font-size: 20px;
    margin-top: 15px
}

.onboarding-finish--buttons {
    margin-top: 30px
}

.onboarding-finish--buttons span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 18px;
    color: #666;
    cursor: pointer
}

.onboarding-finish--buttons span:hover {
    text-decoration: underline
}

.onboarding-finish--buttons button {
    height: 50px;
    border-radius: 3px;
    background-color: #5aabe3;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    color: #fff;
    padding: 0 40px;
    margin-left: 15px
}

.onboarding-finish--buttons button:hover {
    background-color: #519acc
}

@media screen and (max-width: 800px) {
    .onboarding-finish {
        margin-bottom: 5%
    }

    .onboarding-finish--title {
        white-space: pre-line;
        font-size: 24px
    }

    .onboarding-finish--content {
        font-size: 16px
    }

    .onboarding-finish--buttons span {
        text-decoration: underline
    }
}

.onboarding-full-page {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.onboarding-full-page--logo {
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
    z-index: 1;
    width: 114.6px;
    height: 35.2px
}

.onboarding-full-page--lang {
    position: absolute;
    top: 54px;
    right: 145px;
    margin: 0 -5px
}

.onboarding-full-page--lang > span {
    cursor: pointer;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    font-weight: 600;
    color: rgba(76, 80, 88, .4);
    margin: 0 5px
}

.onboarding-full-page--lang > span.selected {
    color: #4c5058
}

.onboarding-full-page--contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.onboarding-full-page--contents > .title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #333
}

@media screen and (max-width: 800px) {
    .onboarding-full-page {
        width: 90%;
        padding-top: 100px;
        padding-bottom: 100px
    }

    .onboarding-full-page--logo {
        top: 29px;
        left: 0;
        width: 73.9px;
        height: 22.7px
    }

    .onboarding-full-page--lang {
        top: 28px;
        right: 70px
    }

    .onboarding-full-page--contents > .title {
        display: none
    }
}

.onboarding-radio-group {
    margin: -15px 0
}

.onboarding-radio-group .radio-box {
    margin: 15px 0
}

.onboarding-radio-group .radio-box label.radio {
    width: 100%
}

.onboarding-radio-group .radio-box .control-label {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.onboarding-radio-group .radio-box.hasBanner .box--contents {
    padding-bottom: 5px
}

.onboarding-radio-group .radio-box.hasBanner .box--contents .box--left {
    color: #5aabe3
}

.onboarding-radio-group .radio-box.hasInput .box--contents {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    border: 2px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    color: #333
}

.onboarding-radio-group .radio-box.hasInput .box--contents input {
    height: 100%;
    border: none;
    width: 100%;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    color: #333
}

.onboarding-radio-group .radio-box.hasInput .box--contents input:active, .onboarding-radio-group .radio-box.hasInput .box--contents input:focus {
    outline: none
}

.onboarding-radio-group .radio-box.hasInput .box--contents input[type=number]::-webkit-inner-spin-button, .onboarding-radio-group .radio-box.hasInput .box--contents input[type=number]::-webkit-outer-spin-button {
    opacity: 1
}

.onboarding-radio-group .radio-box.hasInput .box--contents.budget input {
    margin-left: 3px
}

.onboarding-radio-group .radio-box.hasInput.selected .box--contents input, .onboarding-radio-group .radio-box.hasInput:hover .box--contents input {
    background-color: #deeffa
}

.onboarding-radio-group .radio-box.selected .box--contents, .onboarding-radio-group .radio-box:hover .box--contents {
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .15);
    border: 2px solid #5aabe3;
    background-color: #deeffa
}

.onboarding-radio-group .radio-box.selected .box--contents .banner--text:after, .onboarding-radio-group .radio-box:hover .box--contents .banner--text:after {
    background-color: #deeffa
}

.onboarding-radio-group .radio-box .box--contents {
    min-height: 50px;
    padding: 0 20px;
    white-space: pre-line;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
    color: #333;
    background-color: #fff;
    border: 2px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer
}

.onboarding-radio-group .radio-box .box--contents.selected, .onboarding-radio-group .radio-box .box--contents:hover {
    border: 2px solid #5aabe3;
    background-color: #deeffa
}

.onboarding-radio-group .radio-box .box--contents .box--left {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px
}

.onboarding-radio-group .radio-box .banner {
    width: 100%;
    margin-left: -22px;
    margin-top: 3px
}

.onboarding-radio-group .radio-box .banner--text {
    color: #fff;
    font-size: 11px;
    font-family: Rubik, "sans-serif", Noto Sans;
    margin-bottom: 4px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #5aabe3;
    text-align: left;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 25px;
    position: relative
}

.onboarding-radio-group .radio-box .banner--text:after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #fff;
    position: absolute;
    right: -10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

@media screen and (max-width: 800px) {
    .onboarding-radio-group .radio-box.hasInput .box--contents {
        font-size: 14px
    }

    .onboarding-radio-group .radio-box.hasInput .box--contents input {
        font-size: 14px;
        padding-top: 3px;
        padding-bottom: 3px
    }

    .onboarding-radio-group .radio-box .box--contents {
        min-height: 35px
    }

    .onboarding-radio-group .radio-box .box--contents .box--left {
        font-size: 14px
    }
}

.onboarding-length-tester-span {
    height: 100%;
    border: none;
    width: 100%;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    color: #333
}

@media screen and (max-width: 800px) {
    .onboarding-length-tester-span {
        font-size: 14px;
        padding-top: 3px;
        padding-bottom: 3px
    }
}

.onboarding-budget-selection-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

.onboarding-budget-selection-container .onboarding-budget-selection--description {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    color: #666;
    margin-top: 15px
}

.onboarding-budget-selection-container .onboarding-budget-selection--inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: -7.5px 0
}

.onboarding-budget-selection-container .onboarding-budget-selection--inputs .input-box {
    margin: 7.5px 0
}

.onboarding-budget-selection-container .onboarding-budget-selection--inputs .input-box > span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    color: #666
}

.onboarding-budget-selection-container .onboarding-budget-selection--inputs .input-box input {
    height: 50px
}

.onboarding-budget-selection-container .fade-enter-active, .onboarding-budget-selection-container .fade-leave-active {
    -webkit-transition-duration: 10ms;
    transition-duration: 10ms
}

@media screen and (max-width: 800px) {
    .onboarding-container .onboarding-basic-box {
        height: 130px;
        font-size: 14px
    }

    .onboarding-container .go-to-review-payment--mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 12px;
        margin-bottom: -10px
    }

    .onboarding-container .onboarding---mobile-nav-container {
        display: block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .onboarding-container .onboarding---mobile-nav-container .launch-warning {
        font-size: 11px;
        margin-top: 10px;
        width: 100%;
        text-align: right
    }

    .onboarding-container .onboarding---mobile-nav-container .prev {
        position: relative;
        left: auto;
        bottom: auto;
        height: 35px;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

    .onboarding-container .onboarding---mobile-nav-container .prev .icon {
        color: #666;
        font-size: 12px
    }

    .onboarding-container .onboarding---mobile-nav-container .prev .text-span {
        color: #666;
        font-size: 14px;
        margin-left: 5px
    }

    .onboarding-container .onboarding---mobile-nav-container .skip {
        height: 35px;
        border-radius: 3px;
        font-size: 14px;
        margin-left: auto
    }

    .onboarding-container .onboarding---mobile-nav-container .skip ~ .next {
        margin-left: 10px
    }

    .onboarding-container .onboarding---mobile-nav-container .next {
        height: 35px;
        font-size: 14px;
        margin-left: auto
    }

    .onboarding-container .onboarding---mobile-nav-container .next .icon {
        font-size: 10px
    }

    .onboarding-container .onboarding---mobile-nav-container.full-page {
        width: 100%;
        margin-bottom: 20px
    }

    .onboarding-container .onboarding---mobile-nav-container.full-page .go-to-review-payment {
        position: absolute;
        right: -3px;
        top: 40px
    }

    .onboarding-container .onboarding-nav-buttons, .onboarding-container .onboarding-nav-buttons-container, .onboarding-container .onboarding-nav-buttons-container.full-page {
        display: none
    }

    .adriel-field-wrapper.normal {
        border-width: 2px;
        font-size: 18px
    }

    .adriel-field-wrapper.normal input {
        width: 100%;
        height: 35px
    }

    .adriel-field-input {
        font-size: 12px;
        min-width: 120px
    }

    .adriel-field-textarea {
        font-size: 12px
    }

    .adriel-field-has-error button {
        top: 0;
        right: 1px
    }

    .adriel-field-has-error .fas {
        font-size: 16px;
        color: #ef646f
    }

    .onboarding-progressbar--wrapper {
        height: 5px
    }

    .onboarding-progressbar--text {
        height: 20px;
        font-size: 11px
    }
}

.onboarding-schedule-container {
    width: 100%
}

.onboarding-schedule-container .onboarding-schedule--boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.onboarding-schedule-container .onboarding-schedule--boxes .box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 48%;
    height: 150px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity .4s, background-color .2s, -webkit-transform .3s;
    transition: opacity .4s, background-color .2s, -webkit-transform .3s;
    transition: opacity .4s, background-color .2s, transform .3s;
    transition: opacity .4s, background-color .2s, transform .3s, -webkit-transform .3s;
    border: 1px solid #999;
    background-color: #f7f7f7;
    color: #333;
    padding: 0 20px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-line;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    text-align: center
}

.onboarding-schedule-container .onboarding-schedule--boxes .box.selected {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #5aabe3;
    background-color: #f2fcff;
    position: relative
}

.onboarding-schedule-container .onboarding-schedule--boxes .box.selected .icon {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    color: #5aabe3;
    background: #fff;
    top: -8px;
    right: -10px
}

.onboarding-schedule-container .onboarding-schedule--boxes .box.form {
    padding: 0 5px
}

.onboarding-schedule-container .onboarding-schedule--boxes .box:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2)
}

.onboarding-schedule-container .onboarding-schedule--boxes .box:hover:not(.selected) {
    opacity: .7
}

.onboarding-schedule-container .onboarding-schedule--inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: -7.5px 0
}

.onboarding-schedule-container .onboarding-schedule--inputs .input-box {
    margin: 7.5px 0
}

.onboarding-schedule-container .onboarding-schedule--inputs .input-box > span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    color: #666
}

.onboarding-schedule-container .onboarding-schedule--inputs .input-box input {
    height: 50px;
    border-radius: 0
}

.onboarding-schedule-container .onboarding-schedule--inputs input {
    border: 2px solid #ccc
}

.onboarding-schedule-container .onboarding-schedule--inputs .input-box input {
    font-size: 20px
}

.onboarding-schedule-container .datepicker .control.has-icons-left .icon, .onboarding-schedule-container .datepicker .control.has-icons-right .icon {
    top: 10px
}

@media screen and (max-width: 800px) {
    .onboarding-schedule-container .onboarding-schedule--boxes .box {
        font-size: 14px;
        padding: 10px
    }

    .onboarding-schedule-container .onboarding-schedule--inputs .input-box > span {
        font-size: 12px
    }

    .onboarding-schedule-container .onboarding-schedule--inputs .input-box input {
        height: 35px;
        font-size: 14px
    }

    .onboarding-schedule-container .datepicker .control.has-icons-left .icon, .onboarding-schedule-container .datepicker .control.has-icons-right .icon {
        top: 2px
    }
}

@media screen and (max-width: 800px) {
    .onboarding-container .onboarding-basic-box {
        height: 130px;
        font-size: 14px
    }

    .onboarding-container .go-to-review-payment--mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 12px;
        margin-bottom: -10px
    }

    .onboarding-container .onboarding---mobile-nav-container {
        display: block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .onboarding-container .onboarding---mobile-nav-container .launch-warning {
        font-size: 11px;
        margin-top: 10px;
        width: 100%;
        text-align: right
    }

    .onboarding-container .onboarding---mobile-nav-container .prev {
        position: relative;
        left: auto;
        bottom: auto;
        height: 35px;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

    .onboarding-container .onboarding---mobile-nav-container .prev .icon {
        color: #666;
        font-size: 12px
    }

    .onboarding-container .onboarding---mobile-nav-container .prev .text-span {
        color: #666;
        font-size: 14px;
        margin-left: 5px
    }

    .onboarding-container .onboarding---mobile-nav-container .skip {
        height: 35px;
        border-radius: 3px;
        font-size: 14px;
        margin-left: auto
    }

    .onboarding-container .onboarding---mobile-nav-container .skip ~ .next {
        margin-left: 10px
    }

    .onboarding-container .onboarding---mobile-nav-container .next {
        height: 35px;
        font-size: 14px;
        margin-left: auto
    }

    .onboarding-container .onboarding---mobile-nav-container .next .icon {
        font-size: 10px
    }

    .onboarding-container .onboarding---mobile-nav-container.full-page {
        width: 100%;
        margin-bottom: 20px
    }

    .onboarding-container .onboarding---mobile-nav-container.full-page .go-to-review-payment {
        position: absolute;
        right: -3px;
        top: 40px
    }

    .onboarding-container .onboarding-nav-buttons, .onboarding-container .onboarding-nav-buttons-container, .onboarding-container .onboarding-nav-buttons-container.full-page {
        display: none
    }

    .adriel-field-wrapper.normal {
        border-width: 2px;
        font-size: 18px
    }

    .adriel-field-wrapper.normal input {
        width: 100%;
        height: 35px
    }

    .adriel-field-input {
        font-size: 12px;
        min-width: 120px
    }

    .adriel-field-textarea {
        font-size: 12px
    }

    .adriel-field-has-error button {
        top: 0;
        right: 1px
    }

    .adriel-field-has-error .fas {
        font-size: 16px;
        color: #ef646f
    }

    .onboarding-progressbar--wrapper {
        height: 5px
    }

    .onboarding-progressbar--text {
        height: 20px;
        font-size: 11px
    }
}

.onboarding-ad-types-wrapper {
    width: 100%
}

.onboarding-ad-types-wrapper .boxes {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: -15px 0
}

.onboarding-ad-types-wrapper .onboarding-ad-types--box {
    margin: 15px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.onboarding-ad-types-wrapper .onboarding-ad-types--box > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.onboarding-ad-types-wrapper .onboarding-ad-types--box > div > div {
    margin-top: 9px
}

.onboarding-ad-types-wrapper .onboarding-ad-types--box > div > div img {
    margin-right: 10px
}

.onboarding-ad-types-wrapper .onboarding-ad-types--box span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    text-align: center;
    color: #333
}

.onboarding-ad-types-wrapper .onboarding-ad-types--coupon {
    margin-top: 15px
}

.onboarding-ad-types-wrapper .onboarding-ad-types--coupon .popover-trigger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.onboarding-ad-types-wrapper .onboarding-ad-types--coupon .popover-trigger:hover .coupon-title {
    text-decoration: underline
}

.onboarding-ad-types-wrapper .onboarding-ad-types--coupon .coupon-title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    font-weight: 600;
    color: #45a3e3
}

.onboarding-ad-types-wrapper .onboarding-ad-types--coupon .coupon-title:hover {
    text-decoration: underline
}

.onboarding-ad-types-wrapper .onboarding-ad-types--coupon .icon {
    width: auto;
    height: auto;
    color: #5aabe3;
    margin-left: 5px;
    cursor: pointer
}

@media screen and (max-width: 800px) {
    .onboarding-ad-types-wrapper {
        margin: -7px 0;
        margin-bottom: 30px
    }

    .onboarding-ad-types-wrapper .onboarding-ad-types--box {
        margin: 7px 0
    }

    .onboarding-ad-types-wrapper .onboarding-ad-types--box span, .onboarding-ad-types-wrapper .onboarding-ad-types--coupon .coupon-title {
        font-size: 14px
    }
}

.onboarding-ad-types-coupon-popover {
    max-width: 200px
}

@media screen and (max-width: 800px) {
    .onboarding-container .onboarding-basic-box {
        height: 130px;
        font-size: 14px
    }

    .onboarding-container .go-to-review-payment--mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 12px;
        margin-bottom: -10px
    }

    .onboarding-container .onboarding---mobile-nav-container {
        display: block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .onboarding-container .onboarding---mobile-nav-container .launch-warning {
        font-size: 11px;
        margin-top: 10px;
        width: 100%;
        text-align: right
    }

    .onboarding-container .onboarding---mobile-nav-container .prev {
        position: relative;
        left: auto;
        bottom: auto;
        height: 35px;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

    .onboarding-container .onboarding---mobile-nav-container .prev .icon {
        color: #666;
        font-size: 12px
    }

    .onboarding-container .onboarding---mobile-nav-container .prev .text-span {
        color: #666;
        font-size: 14px;
        margin-left: 5px
    }

    .onboarding-container .onboarding---mobile-nav-container .skip {
        height: 35px;
        border-radius: 3px;
        font-size: 14px;
        margin-left: auto
    }

    .onboarding-container .onboarding---mobile-nav-container .skip ~ .next {
        margin-left: 10px
    }

    .onboarding-container .onboarding---mobile-nav-container .next {
        height: 35px;
        font-size: 14px;
        margin-left: auto
    }

    .onboarding-container .onboarding---mobile-nav-container .next .icon {
        font-size: 10px
    }

    .onboarding-container .onboarding---mobile-nav-container.full-page {
        width: 100%;
        margin-bottom: 20px
    }

    .onboarding-container .onboarding---mobile-nav-container.full-page .go-to-review-payment {
        position: absolute;
        right: -3px;
        top: 40px
    }

    .onboarding-container .onboarding-nav-buttons, .onboarding-container .onboarding-nav-buttons-container, .onboarding-container .onboarding-nav-buttons-container.full-page {
        display: none
    }

    .adriel-field-wrapper.normal {
        border-width: 2px;
        font-size: 18px
    }

    .adriel-field-wrapper.normal input {
        width: 100%;
        height: 35px
    }

    .adriel-field-input {
        font-size: 12px;
        min-width: 120px
    }

    .adriel-field-textarea {
        font-size: 12px
    }

    .adriel-field-has-error button {
        top: 0;
        right: 1px
    }

    .adriel-field-has-error .fas {
        font-size: 16px;
        color: #ef646f
    }

    .onboarding-progressbar--wrapper {
        height: 5px
    }

    .onboarding-progressbar--text {
        height: 20px;
        font-size: 11px
    }
}

.onboarding-no-ads-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%
}

.onboarding-no-ads-wrapper .onboarding-no-ads--box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 48%;
    height: 150px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity .4s, background-color .2s, -webkit-transform .3s;
    transition: opacity .4s, background-color .2s, -webkit-transform .3s;
    transition: opacity .4s, background-color .2s, transform .3s;
    transition: opacity .4s, background-color .2s, transform .3s, -webkit-transform .3s;
    border: 1px solid #999;
    background-color: #f7f7f7;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 0 20px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-line;
    position: relative
}

.onboarding-no-ads-wrapper .onboarding-no-ads--box.selected {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #5aabe3;
    background-color: #f2fcff;
    position: relative
}

.onboarding-no-ads-wrapper .onboarding-no-ads--box.selected .icon {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    color: #5aabe3;
    background: #fff;
    top: -8px;
    right: -10px
}

.onboarding-no-ads-wrapper .onboarding-no-ads--box.form {
    padding: 0 5px
}

.onboarding-no-ads-wrapper .onboarding-no-ads--box:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2)
}

.onboarding-no-ads-wrapper .onboarding-no-ads--box:hover:not(.selected) {
    opacity: .7
}

.onboarding-no-ads-wrapper .onboarding-no-ads--box .box-badge {
    border: 2px solid #146e93;
    opacity: .65;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px 10px
}

.onboarding-no-ads-wrapper .onboarding-no-ads--box .box-badge .strike {
    opacity: .4;
    text-decoration: line-through;
    margin-left: 4px
}

.onboarding-no-ads-wrapper .onboarding-no-ads--box .box-badge .normal, .onboarding-no-ads-wrapper .onboarding-no-ads--box .box-badge .strike {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    font-weight: 600;
    color: #146e93
}

.onboarding-no-ads-wrapper .onboarding-no-ads--box .box-badge span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.onboarding-no-ads-wrapper .onboarding-no-ads--box .box-title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    text-align: center;
    color: #333
}

@media screen and (max-width: 800px) {
    .onboarding-no-ads-wrapper .onboarding-no-ads--box {
        height: 130px
    }

    .onboarding-no-ads-wrapper .onboarding-no-ads--box .box-title {
        font-size: 14px
    }
}

.onboarding-container {
    background: #fff
}

.onboarding-container .onboarding-basic-box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 48%;
    height: 150px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity .4s, background-color .2s, -webkit-transform .3s;
    transition: opacity .4s, background-color .2s, -webkit-transform .3s;
    transition: opacity .4s, background-color .2s, transform .3s;
    transition: opacity .4s, background-color .2s, transform .3s, -webkit-transform .3s;
    border: 1px solid #999;
    background-color: #f7f7f7;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 0 20px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-line
}

.onboarding-container .onboarding-basic-box.selected {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #5aabe3;
    background-color: #f2fcff;
    position: relative
}

.onboarding-container .onboarding-basic-box.selected .icon {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    color: #5aabe3;
    background: #fff;
    top: -8px;
    right: -10px
}

.onboarding-container .onboarding-basic-box.form {
    padding: 0 5px
}

.onboarding-container .onboarding-basic-box:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2)
}

.onboarding-container .onboarding-basic-box:hover:not(.selected) {
    opacity: .7
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.onboarding-container.onboarding-animate .child-component, .onboarding-container.onboarding-animate .onboarding-input--contents, .onboarding-container.onboarding-animate .onboarding-selection--boxes {
    -webkit-animation: fadein 1s;
    animation: fadein 1s
}

.onboarding-container .nav-btn.prev {
    position: absolute;
    left: 50px;
    bottom: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    padding: 0
}

.onboarding-container .nav-btn.prev .icon {
    font-size: 13px;
    color: #fff;
    width: auto;
    height: auto
}

.onboarding-container .nav-btn.prev .text-span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 18px;
    color: #fff;
    margin-left: 10px
}

.onboarding-container .nav-btn.prev:hover {
    opacity: .5
}

.onboarding-container .nav-btn.skip {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 18px;
    color: #666;
    padding: 0
}

.onboarding-container .nav-btn.skip:hover {
    color: #5aabe3
}

.onboarding-container .nav-btn.next {
    background-color: #5aabe3;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 18px;
    color: #fff;
    margin-left: 10px
}

.onboarding-container .nav-btn.next .icon {
    font-size: 14px;
    margin-left: 5px;
    width: auto;
    height: auto
}

.onboarding-container .nav-btn.next:hover {
    background: #4ea1da
}

.onboarding-container .nav-btn.next.disabled {
    cursor: not-allowed;
    background-color: #ddd;
    color: #aaa
}

.onboarding-container .go-to-review-payment {
    font-size: 14px;
    color: #5aabe3;
    cursor: pointer;
    margin-bottom: 5px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.onboarding-container .go-to-review-payment .text-span:hover {
    text-decoration: underline
}

.onboarding-container .go-to-review-payment--mobile, .onboarding-container .onboarding---mobile-nav-container {
    display: none
}

.onboarding-container .onboarding-nav-buttons {
    z-index: 2;
    background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(hsla(0, 0%, 100%, .8)), to(hsla(0, 0%, 100%, .6)));
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, .8), hsla(0, 0%, 100%, .6));
    bottom: 0;
    height: 93px;
    position: fixed;
    right: 0;
    padding-right: 50px;
    width: 54%
}

.onboarding-container .onboarding-nav-buttons-container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    pointer-events: none
}

.onboarding-container .onboarding-nav-buttons-container > * {
    pointer-events: auto
}

.onboarding-container .onboarding-nav-buttons-container .launch-warning {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 12px;
    color: #333
}

.onboarding-container .onboarding-nav-buttons-container .launch-warning a {
    color: #5aabe3
}

.onboarding-container .onboarding-nav-buttons-container button {
    padding: 0 25px;
    height: 45px;
    border-radius: 3px
}

.onboarding-container .onboarding-nav-buttons-container.full-page {
    left: 0;
    right: 0;
    padding-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 93px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(hsla(0, 0%, 100%, .8)), to(hsla(0, 0%, 100%, .6)));
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, .8), hsla(0, 0%, 100%, .6))
}

.onboarding-container .onboarding-nav-buttons-container.full-page .nav-btn {
    position: static
}

.onboarding-container .onboarding-nav-buttons-container.full-page .go-to-review-payment {
    position: absolute;
    right: 50px;
    top: -30px
}

.onboarding-container .onboarding-nav-buttons-container.full-page .nav-btn.prev {
    margin-left: 50px;
    margin-right: auto
}

.onboarding-container .onboarding-nav-buttons-container.full-page .nav-btn.prev .icon, .onboarding-container .onboarding-nav-buttons-container.full-page .nav-btn.prev .text-span {
    color: #666
}

.adriel-field-wrapper {
    position: relative
}

.adriel-field-wrapper.normal {
    font-size: 18px;
    border: 2px solid #ccc;
    background-color: #fff
}

.adriel-field-wrapper.normal input {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: none
}

.adriel-field-wrapper .v-spinner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    right: 10px
}

.adriel-field-has-error {
    position: relative
}

.adriel-field-has-error.normal {
    border-color: transparent
}

.adriel-field-has-error button {
    position: absolute;
    top: 0;
    height: 100%;
    right: 2px
}

.adriel-field-has-error .fas {
    font-size: 20px;
    color: #ef646f
}

.adriel-field-has-error input, .adriel-field-has-error textarea {
    border: 2px solid #ef646f !important;
    border-radius: 3px
}

.adriel-field-has-error input:active, .adriel-field-has-error input:focus, .adriel-field-has-error textarea:active, .adriel-field-has-error textarea:focus {
    outline-color: #ef646f;
    border-color: #ef646f
}

.adriel-field-has-error .character-counter-wrapper {
    right: 32px !important
}

.adriel-field-input {
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    max-width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    color: #333;
    min-width: 140px;
    height: 35px
}

.adriel-field-input.has-limit {
    padding-right: 45px;
    position: relative
}

.adriel-field-input:active, .adriel-field-input:focus {
    outline-color: #59abe3;
    border-color: #59abe3
}

.adriel-field-input:-webkit-autofill {
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px #fff inset
}

.adriel-field-input::-webkit-input-placeholder {
    color: rgba(57, 60, 63, .4)
}

.adriel-field-input::-moz-placeholder {
    color: rgba(57, 60, 63, .4)
}

.adriel-field-input:-ms-input-placeholder {
    color: rgba(57, 60, 63, .4)
}

.adriel-field-textarea {
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    max-width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    color: #333;
    resize: none;
    width: 100%;
    min-height: 35px;
    height: 35px;
    padding-bottom: 10px;
    overflow: hidden;
    will-change: height;
    padding-top: 10px
}

.adriel-field-textarea.has-limit {
    padding-right: 45px;
    position: relative
}

.adriel-field-textarea:active, .adriel-field-textarea:focus {
    outline-color: #59abe3;
    border-color: #59abe3
}

.adriel-field-textarea:-webkit-autofill {
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px #fff inset
}

.adriel-field-textarea::-webkit-input-placeholder {
    color: rgba(57, 60, 63, .4)
}

.adriel-field-textarea::-moz-placeholder {
    color: rgba(57, 60, 63, .4)
}

.adriel-field-textarea:-ms-input-placeholder {
    color: rgba(57, 60, 63, .4)
}

.adriel-field-error input, .adriel-field-error textarea {
    border: 2px solid #ef646f !important
}

.adriel-field-error input:active, .adriel-field-error input:focus, .adriel-field-error textarea:active, .adriel-field-error textarea:focus {
    outline-color: #ef646f !important;
    border-color: #ef646f !important
}

.onboarding-progressbar--wrapper {
    height: 7px;
    background-color: hsla(0, 0%, 100%, .7);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3
}

.onboarding-progressbar--bar {
    height: 100%;
    background-color: #2982bf;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.onboarding-progressbar--text {
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
    background-color: #2982bf;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 13px;
    color: #fff
}

@media screen and (max-width: 800px) {
    .onboarding-container .onboarding-basic-box {
        height: 130px;
        font-size: 14px
    }

    .onboarding-container .go-to-review-payment--mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 12px;
        margin-bottom: -10px
    }

    .onboarding-container .onboarding---mobile-nav-container {
        display: block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .onboarding-container .onboarding---mobile-nav-container .launch-warning {
        font-size: 11px;
        margin-top: 10px;
        width: 100%;
        text-align: right
    }

    .onboarding-container .onboarding---mobile-nav-container .prev {
        position: relative;
        left: auto;
        bottom: auto;
        height: 35px;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

    .onboarding-container .onboarding---mobile-nav-container .prev .icon {
        color: #666;
        font-size: 12px
    }

    .onboarding-container .onboarding---mobile-nav-container .prev .text-span {
        color: #666;
        font-size: 14px;
        margin-left: 5px
    }

    .onboarding-container .onboarding---mobile-nav-container .skip {
        height: 35px;
        border-radius: 3px;
        font-size: 14px;
        margin-left: auto
    }

    .onboarding-container .onboarding---mobile-nav-container .skip ~ .next {
        margin-left: 10px
    }

    .onboarding-container .onboarding---mobile-nav-container .next {
        height: 35px;
        font-size: 14px;
        margin-left: auto
    }

    .onboarding-container .onboarding---mobile-nav-container .next .icon {
        font-size: 10px
    }

    .onboarding-container .onboarding---mobile-nav-container.full-page {
        width: 100%;
        margin-bottom: 20px
    }

    .onboarding-container .onboarding---mobile-nav-container.full-page .go-to-review-payment {
        position: absolute;
        right: -3px;
        top: 40px
    }

    .onboarding-container .onboarding-nav-buttons, .onboarding-container .onboarding-nav-buttons-container, .onboarding-container .onboarding-nav-buttons-container.full-page {
        display: none
    }

    .adriel-field-wrapper.normal {
        border-width: 2px;
        font-size: 18px
    }

    .adriel-field-wrapper.normal input {
        width: 100%;
        height: 35px
    }

    .adriel-field-input {
        font-size: 12px;
        min-width: 120px
    }

    .adriel-field-textarea {
        font-size: 12px
    }

    .adriel-field-has-error button {
        top: 0;
        right: 1px
    }

    .adriel-field-has-error .fas {
        font-size: 16px;
        color: #ef646f
    }

    .onboarding-progressbar--wrapper {
        height: 5px
    }

    .onboarding-progressbar--text {
        height: 20px;
        font-size: 11px
    }
}

.onboarding-app-url--boxes div:nth-child(2) {
    margin-left: 3%;
    margin-right: 3%
}

.onboarding-mobile-ad-dirty {
    width: 100%;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 12px;
    text-align: left;
    color: #ef646f;
    margin-top: 15px
}

.onboarding-summary-container {
    width: 100%
}

.onboarding-summary-container hr {
    background-color: #ccc;
    height: 1px;
    margin-top: 20px
}

.onboarding-summary-container .onboarding-summary--boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.onboarding-summary-container .onboarding-summary--boxes .box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 48%;
    height: 150px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity .4s, background-color .2s, -webkit-transform .3s;
    transition: opacity .4s, background-color .2s, -webkit-transform .3s;
    transition: opacity .4s, background-color .2s, transform .3s;
    transition: opacity .4s, background-color .2s, transform .3s, -webkit-transform .3s;
    border: 1px solid #999;
    background-color: #f7f7f7;
    color: #333;
    padding: 0 20px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-line;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 20px;
    text-align: center
}

.onboarding-summary-container .onboarding-summary--boxes .box.selected {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #5aabe3;
    background-color: #f2fcff;
    position: relative
}

.onboarding-summary-container .onboarding-summary--boxes .box.selected .icon {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    color: #5aabe3;
    background: #fff;
    top: -8px;
    right: -10px
}

.onboarding-summary-container .onboarding-summary--boxes .box.form {
    padding: 0 5px
}

.onboarding-summary-container .onboarding-summary--boxes .box:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2)
}

.onboarding-summary-container .onboarding-summary--boxes .box:hover:not(.selected) {
    opacity: .7
}

.onboarding-summary-container .onboarding-summary--inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: -7.5px 0
}

.onboarding-summary-container .onboarding-summary--inputs .input-box {
    margin: 7.5px 0
}

.onboarding-summary-container .onboarding-summary--inputs .input-box > span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    color: #666
}

.onboarding-summary-container .onboarding-summary--inputs .input-box input {
    height: 50px;
    border-radius: 0
}

.onboarding-summary-container .datepicker .control.has-icons-left .icon, .onboarding-summary-container .datepicker .control.has-icons-right .icon {
    top: 10px
}

.onboarding-summary-container .skipped {
    color: #ef646f !important;
    white-space: nowrap
}

.onboarding-summary-container .skipped-text {
    font-size: 12px !important;
    vertical-align: 1px;
    border: 1px solid #ef646f;
    border-radius: 25px;
    padding: 1px 5px
}

.onboarding-summary-container .skipped-ads {
    color: #999;
    text-align: left;
    font-size: 12px;
    margin-left: 4px;
    margin-top: 2.5px
}

.onboarding-summary-container .summary-part {
    margin: -15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.onboarding-summary-container .summary-part .data-group {
    margin: 15px 0
}

.onboarding-summary-container .data-group label {
    min-width: 200px;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    font-weight: 600;
    color: #666
}

.onboarding-summary-container .data-group .data-value {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    color: #000;
    font-weight: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.onboarding-summary-container .data-group .data-value *, .onboarding-summary-container .data-group .data-value * > * {
    font-size: 14px
}

.onboarding-summary-container .data-group .data-value .icons {
    margin: 0 -2.5px;
    margin-left: 7.5px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.onboarding-summary-container .data-group .data-value .icons .icon {
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 0 2.5px;
    color: #999
}

.onboarding-summary-container .data-group .data-value .icons .icon:hover {
    color: #666
}

.onboarding-summary-container .data-group.ads .data-value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -5px
}

.onboarding-summary-container .data-group.ads .data-value .icons {
    margin-left: 2.5px
}

.onboarding-summary-container .data-group.ads .clickable {
    margin: 0 5px
}

.onboarding-summary-container .data-group.mobile-selected .data-value {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.onboarding-summary-container .data-group.mobile-selected .data-value > div {
    width: 100%
}

.onboarding-summary-container .row {
    border-bottom: 1px dotted #ccc;
    height: 33px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.onboarding-summary-container .row .info-tooltip {
    margin-left: 3px
}

.onboarding-summary-container .row.vat button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #f2f4f5;
    margin-left: 5px;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 11px;
    font-weight: 600;
    color: #666
}

.onboarding-summary-container p.description {
    font-size: 11px
}

.onboarding-summary-container .credit .credit-used {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    color: #ef646f !important
}

.onboarding-summary-container .credit .credit-total {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    color: #666
}

.onboarding-summary-container .credit button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 25px;
    padding: 0 10px;
    background-color: #f2f4f5;
    border: 1px solid #ddd;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-weight: 500;
    font-size: 12px;
    color: #666;
    margin-left: 5px
}

.onboarding-summary-container .price-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.onboarding-summary-container .price-part label {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    font-weight: 600;
    color: #666
}

.onboarding-summary-container .price-part label div {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 14px;
    font-weight: 600;
    color: #5aabe3;
    margin-top: 5px
}

.onboarding-summary-container .price-part label ~ p {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 11px;
    color: #999;
    margin-top: 13px
}

.onboarding-summary-container .price-details {
    width: 100%;
    margin-left: 40px
}

.onboarding-summary-container .price-details .row span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 12px;
    color: #333
}

@media screen and (min-width: 800px) {
    .onboarding-summary-container p.description {
        width: 184px;
        float: left
    }

    .onboarding-summary-container .data-group, .onboarding-summary-container .price-part {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .onboarding-summary-container .price-details {
        width: 100%
    }
}

@media screen and (max-width: 800px) {
    .onboarding-summary-container .summary-part {
        margin: -10px 0
    }

    .onboarding-summary-container .summary-part .data-group {
        margin: 10px 0
    }

    .onboarding-summary-container .data-group {
        margin-bottom: 10px
    }

    .onboarding-summary-container .data-group .data-value, .onboarding-summary-container .data-group label {
        display: block
    }

    .onboarding-summary-container .data-group.ads .clickable .text, .onboarding-summary-container .data-group.ads .skipped-ads {
        font-size: 12px
    }

    .onboarding-summary-container .price-part {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .onboarding-summary-container .price-details {
        margin-left: 0
    }

    .onboarding-summary-container .onboarding-summary--boxes .box {
        font-size: 14px;
        padding: 10px
    }

    .onboarding-summary-container .onboarding-summary--inputs .input-box > span {
        font-size: 12px
    }

    .onboarding-summary-container .onboarding-summary--inputs .input-box input {
        height: 35px
    }

    .onboarding-summary-container .datepicker .control.has-icons-left .icon, .onboarding-summary-container .datepicker .control.has-icons-right .icon {
        top: 2px
    }
}

@media screen and (max-width: 800px) {
    .onboarding-summary-container .data-group .data-value, .onboarding-summary-container .data-group label {
        font-size: 12px
    }

    .onboarding-summary-container .price-part label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 12px
    }

    .onboarding-summary-container .price-part label div {
        font-size: 12px;
        margin-top: 0;
        margin-left: 5px
    }
}

.fb-pages-modal-wrapper {
    background-color: #fff;
    border-radius: 10px;
    max-width: 450px
}

.add-instagram-page {
    width: calc(100% - 5px);
    text-align: left
}

.add-instagram-page img {
    vertical-align: text-bottom
}

.add-instagram-page span {
    margin-left: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #333
}

.add-instagram-page .page-elems-wrapper {
    margin-left: 20px;
    margin-top: 0
}

.add-instagram-page .page-elem-box {
    width: calc(100% - 23px) !important
}

.add-instagram-page .page-elem-box.selected {
    border: 2px solid #5aabe3
}

.fb-pages-modal-body {
    padding: 15px
}

.fb-pages-modal-body .desc-span {
    text-align: center;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: #333;
    width: 100%;
    word-break: keep-all;
    word-wrap: break-word
}

.notAuth-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.notAuth-contents > img {
    margin-top: 15px;
    cursor: pointer
}

.noPages-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.noPages-contents > img {
    margin-bottom: 15px;
    cursor: pointer
}

.pages-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.page-elems-wrapper {
    width: 100%;
    margin-top: 15px
}

.page-elems-wrapper .page-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 0
}

.page-elems-wrapper .page-elem.disabled {
    cursor: not-allowed
}

.page-elems-wrapper .page-elem .page-elem-img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px
}

.page-elems-wrapper .page-elem label {
    width: 100%
}

.page-elems-wrapper .page-elem label .control-label {
    width: calc(100% - 20px)
}

.page-elems-wrapper .page-elem .page-elem-box {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f4f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.page-elems-wrapper .page-elem .page-name {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #333
}

.page-elems-wrapper .page-elem .page-url {
    font-size: 12px;
    color: #797d88;
    margin-left: 4px
}

.page-elems-wrapper .page-elem .custom-radio.selected input[type=radio] + .check {
    width: 20px;
    height: 20px;
    border: 2px solid #5aabe3
}

.page-elems-wrapper .page-elem .custom-radio.selected input[type=radio] + .check:before {
    width: 10px;
    height: 10px
}

.page-elems-wrapper .page-elem .custom-radio.selected .control-label .page-elem-box {
    border: 2px solid #5aabe3
}

.fb-pages-modal-body .adriel-buttons-wrapper.fb-pages-buttons {
    margin-top: 30px
}

.fb-pages-modal-body .adriel-buttons-wrapper.fb-pages-buttons.noPages .cancel, .fb-pages-modal-body .adriel-buttons-wrapper.fb-pages-buttons.notAuth .cancel {
    width: 100%;
    background-color: #5aabe3
}

.fb-pages-modal-body .noPages-contents a {
    padding: 0 2px;
    border-bottom: 1px solid #5aabe3;
    margin-left: 2px
}

.fb-pages-modal-body .noPages-contents a:hover {
    color: #5aabe3
}

.onboarding-facebook-page {
    width: 100%
}

.onboarding-facebook-page .add-instagram-page {
    margin-top: 10px
}

.onboarding-facebook-page .add-instagram-page .page-elems-wrapper {
    margin-left: 20px
}

.onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box {
    background-color: transparent;
    max-width: 100%
}

.onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0
}

.onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .desc-span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    text-align: center;
    color: #666
}

.onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .fetch-btn-wrapper {
    margin-top: 20px
}

.onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .fetch-btn-wrapper button {
    width: 300px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #29487d;
    background-color: #4267b2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 18px;
    color: #fff
}

.onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .page-elems-wrapper .page-elem .custom-radio.selected .control-label .page-elem-box, .onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .page-elems-wrapper .page-elem .custom-radio:hover .control-label .page-elem-box {
    background-color: #deeffa;
    border: 2px solid #5aabe3
}

.onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .page-elems-wrapper {
    margin: 10px 0 -10px 0
}

.onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .page-elems-wrapper .page-elem {
    margin: 10px 0
}

.onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .page-elems-wrapper .page-elem .page-elem-box {
    height: 50px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .15)
}

.onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .page-elems-wrapper .page-elem .page-name {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    color: #333
}

.onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .page-elems-wrapper .page-elem .page-url {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    color: #666
}

@media screen and (max-width: 800px) {
    .onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .desc-span {
        font-size: 14px
    }

    .onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .fetch-btn-wrapper button {
        height: 40px;
        font-size: 16px
    }

    .onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .page-elems-wrapper .page-elem .page-elem-box {
        height: 35px
    }

    .onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .page-elems-wrapper .page-elem .page-name {
        font-size: 14px
    }

    .onboarding-facebook-page .fb-pages-modal-wrapper.fb-page-box .fb-pages-modal-body .page-elems-wrapper .page-elem .page-url {
        font-size: 12px
    }
}

.onboarding-website-visitors, .onboarding-website-visitors .visitors-no-tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.onboarding-website-visitors .visitors-no-tools {
    width: 100%
}

.onboarding-website-visitors .visitors-no-tools .no-contents {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.onboarding-website-visitors .tracker-buttons {
    max-width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.onboarding-website-visitors .login-btn, .onboarding-website-visitors .tracker-buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.onboarding-website-visitors .login-btn {
    height: 45px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-top: 15px
}

.onboarding-website-visitors .login-btn img {
    margin-right: 5px;
    width: 15px;
    height: 15px
}

.onboarding-website-visitors .login-btn span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 18px;
    color: #333
}

.onboarding-website-visitors .login-btn.pixel {
    background-color: #385c8e
}

.onboarding-website-visitors .login-btn.pixel span {
    color: #fff
}

.onboarding-website-visitors .ment-no-tools {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-weight: 700;
    font-size: 12px;
    color: #7c8392;
    text-align: center
}

.onboarding-website-visitors .ment-no-help {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-weight: 700;
    font-size: 12px;
    color: #5aabe3;
    text-decoration: underline;
    cursor: pointer
}

.onboarding-website-visitors .visitors-has-tools {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px
}

.onboarding-website-visitors .visitors-has-tools, .onboarding-website-visitors .visitors-has-tools .tracker-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%
}

.onboarding-website-visitors .visitors-has-tools.both > div:last-child {
    margin-top: 15px
}

.onboarding-website-visitors .visitors-ment-guide {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-weight: 900;
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-bottom: 5px
}

.onboarding-website-visitors .visitors-ment-guide + div {
    width: 100%
}

.onboarding-website-visitors .page-elem-box {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f4f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.onboarding-website-visitors .page-elem-box .delete-icon {
    margin-left: auto
}

.onboarding-website-visitors .page-elem-box .adriel-ellipsis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.onboarding-website-visitors .page-elem-box .adriel-ellipsis > img {
    width: 15px;
    height: 15px;
    margin-right: 10px
}

.onboarding-website-visitors .page-elem-box .page-name {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 12px;
    font-weight: 700;
    color: #333
}

.onboarding-website-visitors .page-elem-box .page-url {
    font-size: 12px;
    color: #797d88;
    margin-left: 4px
}

.onboarding-website-visitors .page-elem-box .not-found {
    font-size: 12px;
    color: #999
}

.onboarding-website-visitors .page-elem-box > span {
    max-width: calc(100% - 15px)
}

.onboarding-website-visitors .page-elem-box > img {
    cursor: pointer
}

.onboarding-website-visitors .visitors-no-tools .profile-no-contents-text {
    width: 100%
}

.onboarding-website-visitors .visitors-no-tools .ment-no-tools {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    text-align: center;
    color: #666;
    font-weight: 400
}

.onboarding-website-visitors .visitors-no-tools .ment-no-tools span:first-child {
    font-weight: 700;
    color: #666;
    font-family: Rubik, "sans-serif", Noto Sans
}

.onboarding-website-visitors .visitors-no-tools .ment-no-tools span.space {
    font-family: Rubik, "sans-serif", Noto Sans;
    display: block;
    margin-top: 5px;
    color: #666;
    font-weight: 400
}

.onboarding-website-visitors .visitors-tooltip {
    background-color: #eee;
    max-width: 295px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    font-family: Rubik, "sans-serif", Noto Sans;
    line-height: 16px;
    color: #797d88;
    width: 100%;
    text-align: center;
    padding: 5.6px 12px;
    position: relative
}

.onboarding-website-visitors .visitors-tooltip:after {
    content: "";
    border-width: 5px 5px 0 5px;
    border-style: solid;
    position: absolute;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
    border-color: #eee;
    z-index: 1
}

@media screen and (max-width: 800px) {
    .visitors-tooltip {
        margin-top: 10px
    }

    .onboarding-website-visitors .login-btn {
        height: 40px
    }

    .onboarding-website-visitors .login-btn span {
        font-size: 16px
    }

    .onboarding-website-visitors .ment-no-tools, .onboarding-website-visitors .visitors-no-tools .ment-no-tools {
        font-size: 14px
    }
}

.onboarding-fb-app--container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 320px
}

.onboarding-fb-app--container, .onboarding-fb-app--input-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.onboarding-fb-app--title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    text-align: center;
    color: #666
}

.onboarding-fb-app--title b {
    font-weight: 700
}

.onboarding-fb-app--btn {
    margin-top: 20px;
    min-width: 300px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #29487d;
    background-color: #4267b2;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 18px;
    color: #fff
}

.onboarding-fb-app--content-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%
}

.onboarding-fb-app--content-type .content-title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-weight: 900;
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-bottom: 5px
}

.onboarding-fb-app--content-type .content-title ~ div {
    width: 100%
}

.onboarding-fb-app--content-type .page-elem-box {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f4f5;
    width: 100%
}

.onboarding-fb-app--content-type .page-elem-box, .onboarding-fb-app--content-type .page-elem-box .adriel-ellipsis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.onboarding-fb-app--content-type .page-elem-box .adriel-ellipsis > img {
    width: 15px;
    height: 15px;
    margin-right: 10px
}

.onboarding-fb-app--content-type .page-elem-box .page-name {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 12px;
    font-weight: 700;
    color: #333
}

.onboarding-fb-app--content-type .page-elem-box .page-url {
    font-size: 12px;
    color: #797d88;
    margin-left: 4px
}

.onboarding-fb-app--content-type .page-elem-box .delete-icon {
    margin-left: auto;
    cursor: pointer
}

.onboarding-input--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto
}

.onboarding-input--container .contents-ul-bottom {
    display: none
}

.onboarding-input--container .contents-ul {
    margin-top: 20px
}

.onboarding-input--container .contents-ul li {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #d8efff
}

.onboarding-input--container .popover-container {
    position: absolute;
    left: 40px;
    top: 53px;
    z-index: 3
}

.onboarding-input--container .popover-container .icon {
    font-size: 27px;
    color: #5aabe3;
    width: auto;
    height: auto;
    cursor: pointer
}

.onboarding-input--container .popover-container .icon:hover {
    color: #519acc
}

.onboarding-input--container .popover-container .popover-content {
    position: absolute;
    left: 55px;
    top: 0;
    background: #f7f7f7;
    max-width: 320px;
    min-width: 300px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
    box-shadow: 0 0 7px rgba(0, 0, 0, .15);
    z-index: 2
}

.onboarding-input--container .popover-container .popover-content .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #666
}

.onboarding-input--container .popover-container .popover-content .close:hover {
    opacity: .7
}

.onboarding-input--container .popover-container .popover-content:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 6px 10px 6px 0;
    border-color: transparent #f7f7f7;
    display: block;
    width: 0;
    z-index: 1;
    left: -10px;
    top: 15px
}

.onboarding-input--container .popover-container .popover-content:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 6px 10px 6px 0;
    border-color: transparent #ccc;
    display: block;
    width: 0;
    z-index: 0;
    left: -11px;
    top: 15px
}

.onboarding-input--container .popover-container .popover-content .center {
    width: 95%;
    padding-right: 5px;
    height: auto;
    max-height: 430px;
    overflow-y: auto;
    margin: 0 auto
}

.onboarding-input--container .popover-container .popover-content .center * {
    font-size: 12px;
    color: #333;
    font-family: Rubik, "sans-serif", Noto Sans
}

.onboarding-input--container .popover-container .popover-content .center br {
    line-height: 160%
}

.onboarding-input--container .popover-container .popover-content .center p, .onboarding-input--container .popover-container .popover-content .center span {
    line-height: 120%
}

.onboarding-input--container .popover-container .popover-content .center b {
    display: block;
    margin-bottom: 3px
}

.onboarding-input--container .popover-container .popover-content .center a {
    text-decoration: underline;
    color: #5aabe3
}

.onboarding-input--container .onboarding-input--first {
    width: 45%;
    background-color: #5aabe3;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.onboarding-input--container .onboarding-input--first .logo-container {
    position: absolute;
    top: 50px;
    left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer
}

.onboarding-input--container .onboarding-input--first .logo-container .big-logo {
    display: block;
    width: 114.6px;
    height: 35.2px
}

.onboarding-input--container .onboarding-input--first .logo-container .small-logo {
    display: none
}

.onboarding-input--container .onboarding-input--contents {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    margin-top: -10%;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.onboarding-input--container .onboarding-input--contents .title-span {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 45px;
    font-weight: 400;
    text-align: left;
    color: #fefefe;
    white-space: pre-line;
    line-height: 120%
}

.onboarding-input--container .onboarding-input--second {
    width: 55%;
    position: relative;
    overflow-y: auto;
    background-color: #fff
}

.onboarding-input--container .onboarding-input--second, .onboarding-input--container .onboarding-input--second .child-component-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.onboarding-input--container .onboarding-input--second .child-component-container {
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    max-width: 670px
}

.onboarding-input--container .onboarding-input--second .child-component {
    margin-top: -10%;
    width: 100%;
    padding: 5px 0;
    margin-top: auto;
    margin-bottom: auto;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.onboarding-input--container .onboarding-input--second .child-component.form {
    margin-top: 50px
}

.onboarding-input--container .onboarding-input--second .child-component .onboarding-ad-preview {
    max-width: 450px;
    width: 100%
}

.onboarding-input--container .onboarding-input--second .child-component .onboarding-ad-preview.facebook, .onboarding-input--container .onboarding-input--second .child-component .onboarding-ad-preview.instagram {
    max-width: 400px
}

@media screen and (max-width: 800px) {
    .onboarding-input--container {
        width: 90%;
        height: auto;
        min-height: 100vh;
        margin: 0 auto;
        padding-top: 20px
    }

    .onboarding-input--container, .onboarding-input--container .contents-ul-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .onboarding-input--container .contents-ul-bottom {
        margin-top: auto;
        padding-bottom: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .onboarding-input--container .contents-ul {
        display: block;
        margin-top: 5px
    }

    .onboarding-input--container .contents-ul li {
        font-size: 11px;
        color: #999
    }

    .onboarding-input--container .popover-container {
        position: relative;
        left: auto;
        top: auto
    }

    .onboarding-input--container .popover-container .icon {
        font-size: 20px
    }

    .onboarding-input--container .popover-container .popover-content {
        bottom: 40px;
        left: 0;
        top: auto
    }

    .onboarding-input--container .popover-container .popover-content:after, .onboarding-input--container .popover-container .popover-content:before {
        top: auto;
        bottom: -11px;
        left: 5px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .onboarding-input--container .onboarding-input--first {
        width: 100%;
        background-color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: normal
    }

    .onboarding-input--container .onboarding-input--first .logo-container {
        position: relative;
        top: auto;
        left: auto;
        padding-top: 9px
    }

    .onboarding-input--container .onboarding-input--first .logo-container .big-logo {
        display: none
    }

    .onboarding-input--container .onboarding-input--first .logo-container .small-logo {
        width: 73.9px;
        height: 22.7px;
        display: block
    }

    .onboarding-input--container .onboarding-input--first > .prev {
        display: none !important
    }

    .onboarding-input--container .onboarding-input--contents {
        margin-top: 20px;
        padding-left: 0;
        padding-right: 0
    }

    .onboarding-input--container .onboarding-input--contents .title-span {
        font-size: 6vw;
        color: #333;
        white-space: normal
    }

    .onboarding-input--container .onboarding-input--contents .contents-ul {
        display: none
    }

    .onboarding-input--container .onboarding-input--second {
        width: 100%;
        overflow-x: hidden;
        padding-top: 0;
        padding-bottom: 30px
    }

    .onboarding-input--container .onboarding-input--second .popover-container {
        display: none
    }

    .onboarding-input--container .onboarding-input--second .child-component-container {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 35px;
        padding-top: 0;
        padding-bottom: 0
    }

    .onboarding-input--container .onboarding-input--second .child-component {
        overflow: visible;
        width: 100%;
        max-width: none
    }

    .onboarding-input--container .onboarding-input .prev .icon {
        font-size: 12px
    }

    .onboarding-input--container.schedule .onboarding-input--second {
        overflow-y: initial
    }
}

@media screen and (min-width: 1440px) {
    .onboarding-input--container .onboarding-input--contents .title-span {
        font-size: 55px
    }

    .onboarding-input--container .onboarding-input--contents .contents-ul li {
        font-size: 18px
    }
}