.topHeader {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.topHeader__top_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.topHeader__top_left > span {
    width: 65px;
    height: 65px;
    background-color: #ccc;
    border-radius: 50%;
    background-size: cover;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.topHeader__top_left_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 10px
}

.topHeader__top_left_title span:first-child {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #999
}

.topHeader__top_left_title span:first-child img {
    margin-left: 5px;
    cursor: pointer
}

.topHeader__top_left_title span:last-child {
    font-size: 24px;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-weight: 600;
    color: #4d5058
}

.indicator-wrapper {
    vertical-align: top;
    margin-top: 10px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 35px;
    margin-right: 20px
}

.indicator-wrapper, .indicators-real {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.indicator {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    overflow: visible;
    position: relative;
    width: 100px
}

.indicator.indicator-for-last {
    margin-right: -53px
}

.indicator.indicator-for-last:before {
    content: "";
    width: 65px;
    position: absolute;
    height: 2px;
    left: -33px;
    top: 17px;
    cursor: default;
    border-top: 2px dotted #5aabe3
}

.indicator.indicator-for-last:after {
    display: none
}

.indicator.indicator-for-last .indicator-number {
    background-color: #5aabe3;
    border-color: #5aabe3;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff
}

.indicator.indicator-for-last.deActive:before {
    border-top-color: #ccc
}

.indicator.indicator-for-last.deActive .indicator-number {
    background-color: #ccc;
    border-color: #ccc;
    cursor: default
}

.indicator.FORM:not(.step-index-3):after, .indicator:not(.step-index-2):after {
    content: "";
    width: 67px;
    position: absolute;
    height: 2px;
    background-color: #ccc;
    left: 67px;
    top: 17px;
    cursor: default
}

.indicator.step-done:not(.step-current):after {
    background-color: #5aabe3
}

.indicator.step-done .indicator-title {
    color: #5aabe3
}

.indicator.step-done .indicator-number {
    background-image: url(/img/icons/step_done_icon.png);
    background-repeat: no-repeat;
    border-color: #5aabe3;
    background-position: 50%;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    color: transparent
}

.indicator .indicator-number {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 2px solid #ccc;
    color: #999;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: hsla(0, 0%, 60%, .6);
    cursor: pointer
}

.indicator .indicator-number.step-done {
    background-image: url(/img/icons/step_done_icon.png);
    background-repeat: no-repeat;
    border-color: #5aabe3;
    background-position: 50%;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden
}

.indicator .indicator-title {
    font-size: 14px;
    color: #666;
    font-weight: 600;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    text-align: center;
    margin-top: 7px;
    white-space: pre;
    position: absolute;
    top: 35px
}

.topHeader .title-wrapper.proposal-top-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

div#app.blurred ~ .tooltip.adriel-tooltip.indicator-tooltip {
    display: none
}

.tooltip.indicator-tooltip[x-placement^=bottom] {
    background-color: #5aabe3;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 2
}

.tooltip.indicator-tooltip[x-placement^=bottom]:hover:after {
    visibility: hidden
}

.tooltip.indicator-tooltip[x-placement^=bottom]:hover span {
    display: block
}

.tooltip.indicator-tooltip[x-placement^=bottom] span {
    display: none
}

.tooltip.indicator-tooltip[x-placement^=bottom] .tooltip-inner {
    font-size: 11px;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    width: 170px
}

.tooltip.indicator-tooltip[x-placement^=bottom] .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #5aabe3;
    z-index: 1;
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0
}

@media screen and (max-width: 800px) {
    .topHeader {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-item-align: start;
        align-self: flex-start
    }

    .topHeader .topHeader__top_left {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        margin-top: 15px;
        width: 100%
    }

    .topHeader .topHeader__top_left_title span.big-title {
        font-size: 20px
    }

    .topHeader .express-link {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding: 10px 0;
        border-radius: 3px;
        background-color: #3286c0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .topHeader .express-link a {
        font-family: Rubik, "sans-serif", Noto Sans;
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        color: #fff
    }

    .topHeader .indicator-wrapper {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-right: 0
    }

    .topHeader .indicator-wrapper .indicator {
        width: auto
    }

    .topHeader .indicator-wrapper .indicator:after, .topHeader .indicator-wrapper .indicator:before {
        display: none
    }

    .topHeader .indicator-wrapper .indicator .indicator-title {
        white-space: pre;
        font-size: 12px
    }

    .topHeader .indicator-wrapper .indicator.indicator-for-last {
        margin-right: 0
    }
}

.proposalWrapper {
    min-height: 100vh;
    padding-left: 180px
}

.proposalWrapper.publish-available .nav-above > span.next {
    border: 2px solid #ddd;
    background-color: #f2f4f5;
    color: #666
}

.proposalWrapper.proposal_step_ads .contentWrapper, .proposalWrapper.proposal_step_form .contentWrapper {
    width: 90%
}

.contentWrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 1000px;
    min-width: 1000px;
    padding-top: 50px;
    padding-bottom: 60px;
    margin: 0 auto
}

.contentWrapper .goBtn, .contentWrapper .nextBtn, .contentWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.contentWrapper .goBtn, .contentWrapper .nextBtn {
    cursor: pointer;
    padding: 0 20px;
    height: 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #5aabe3;
    color: #fff;
    font-size: 18px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    border-radius: 3px
}

.contentWrapper .goBtn img, .contentWrapper .nextBtn img {
    margin-left: 10px
}

.contentWrapper .goBtn.disabled, .contentWrapper .nextBtn.disabled {
    background-color: #999;
    cursor: not-allowed
}

.contentWrapper .goBtn {
    padding: 0 20px;
    margin-bottom: 13px
}

.contentWrapper .goBtn.disabled {
    background-color: #ddd;
    color: hsla(0, 0%, 60%, .5);
    cursor: not-allowed
}

.contentWrapper .nextBtn {
    margin-left: auto
}

.nav-above {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.nav-above > button.reset-btn {
    margin-right: 10px;
    cursor: pointer;
    padding: 0 20px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f2f4f5;
    color: #666;
    font-size: 18px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    border-radius: 3px;
    z-index: 2;
    border: 2px solid #ddd
}

.nav-above > button.reset-btn.save {
    background-color: #5aabe3;
    color: #fff;
    border: none
}

.nav-above > span {
    font-size: 14px
}

.nav-above > span.next, .nav-above > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    cursor: pointer
}

.nav-above > span.next {
    padding: 0 20px;
    height: 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #5aabe3;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    z-index: 2;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.nav-above > span.next img {
    margin-left: 10px
}

.nav-above > span.next:hover {
    background-color: #519acc
}

.bottomNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px
}

.bottomNav .prevBtn {
    cursor: pointer;
    border: 3px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    height: 45px;
    background-color: #fff;
    border-radius: 3px
}

.bottomNav .prevBtn img {
    width: 11px;
    height: 20px
}

.launch-warning {
    text-align: right;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 11px;
    color: #4d5058;
    line-height: 14px;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.launch-warning a {
    color: #5aabe3;
    text-decoration: underline
}

.proposalWrapper .proposal-confirm-publish .confirm-modal-wrapper {
    width: 550px
}

.proposalWrapper .proposal-confirm-publish .confirm-modal-wrapper .modal-button-wrapper {
    width: 100%
}

.proposalWrapper .proposal-confirm-publish .confirm-modal-wrapper button {
    width: calc(50% - 5px)
}

@media screen and (max-width: 800px) {
    #main-route-view .proposalWrapper {
        padding-left: 0
    }

    #main-route-view .proposalWrapper .mobile-nav {
        display: block
    }

    #main-route-view .proposalWrapper .left-nav {
        display: none
    }

    #main-route-view .proposalWrapper .contentWrapper {
        padding-top: 80px;
        padding-bottom: 90px;
        min-width: 0;
        max-width: 1000px;
        width: 90%;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    #main-route-view .proposalWrapper .contentWrapper .goBtn, #main-route-view .proposalWrapper .contentWrapper .nav-above > button.reset-btn, #main-route-view .proposalWrapper .contentWrapper .next, #main-route-view .proposalWrapper .contentWrapper .nextBtn {
        font-size: 14px
    }
}

.fb-pages-modal-wrapper {
    background-color: #fff;
    border-radius: 10px;
    max-width: 450px;
    cursor: move
}

.add-instagram-page {
    width: 100%;
    text-align: left
}

.add-instagram-page img {
    vertical-align: text-bottom
}

.add-instagram-page span {
    margin-left: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #333
}

.add-instagram-page .page-elems-wrapper {
    margin-top: 0
}

.add-instagram-page .page-elem-box.selected {
    border: 2px solid #5aabe3
}

.fb-pages-modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 45px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700
}

.fb-pages-modal-body {
    padding: 15px
}

.fb-pages-modal-body .desc-span {
    text-align: center;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: #333;
    width: 100%;
    word-break: keep-all;
    word-wrap: break-word
}

.notAuth-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.notAuth-contents .fb-login-btn {
    margin-top: 15px;
    cursor: pointer
}

.noPages-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.noPages-contents > img {
    margin-bottom: 15px;
    cursor: pointer
}

.pages-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
    max-height: 450px
}

.proposal-ads-wrapper .modal.fb-pages-modal .animation-content {
    max-width: 450px
}

.proposal-ads-wrapper .page-elems-wrapper {
    width: 100%;
    margin-top: 15px
}

.proposal-ads-wrapper .page-elems-wrapper .page-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 0
}

.proposal-ads-wrapper .page-elems-wrapper .page-elem.disabled {
    cursor: not-allowed
}

.proposal-ads-wrapper .page-elems-wrapper .page-elem .page-elem-img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px
}

.proposal-ads-wrapper .page-elems-wrapper .page-elem label {
    width: 100%
}

.proposal-ads-wrapper .page-elems-wrapper .page-elem label .control-label {
    width: calc(100% - 20px)
}

.proposal-ads-wrapper .page-elems-wrapper .page-elem .page-elem-box {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f4f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.proposal-ads-wrapper .page-elems-wrapper .page-elem .page-name {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #333
}

.proposal-ads-wrapper .page-elems-wrapper .page-elem .page-url {
    font-size: 12px;
    color: #797d88;
    margin-left: 4px
}

.proposal-ads-wrapper .page-elems-wrapper .page-elem .custom-radio.selected input[type=radio] + .check {
    width: 20px;
    height: 20px;
    border: 2px solid #5aabe3
}

.proposal-ads-wrapper .page-elems-wrapper .page-elem .custom-radio.selected input[type=radio] + .check:before {
    width: 10px;
    height: 10px
}

.proposal-ads-wrapper .page-elems-wrapper .page-elem .custom-radio.selected .control-label .page-elem-box {
    border: 2px solid #5aabe3
}

.fb-pages-modal-body .adriel-buttons-wrapper.fb-pages-buttons {
    margin-top: 30px
}

.fb-pages-modal-body .adriel-buttons-wrapper.fb-pages-buttons.noPages .cancel, .fb-pages-modal-body .adriel-buttons-wrapper.fb-pages-buttons.notAuth .cancel {
    width: 100%;
    background-color: #5aabe3
}

.fb-pages-modal-body .noPages-contents a {
    padding: 0 2px;
    border-bottom: 1px solid #5aabe3;
    margin-left: 2px
}

.fb-pages-modal-body .noPages-contents a:hover {
    color: #5aabe3
}

.estimated-result-card .estimated-ad-views {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2b80ba;
    background: url(/img/proposal/estimation_view_icon.png);
    background-repeat: no-repeat;
    background-position: 0;
    padding-left: 20px
}

.estimated-result-card .estimated-ad-clicks {
    background: url(/img/proposal/click_icon.png);
    background-repeat: no-repeat;
    background-position: 0
}

.estimated-result-card .estimated-ad-audience, .estimated-result-card .estimated-ad-clicks {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #5aabe3;
    padding-left: 13px
}

.estimated-result-card .estimated-ad-audience {
    background-repeat: no-repeat;
    background-position: 0
}

.estimated-result-card .estimation-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -2.5px
}

.estimated-result-card .estimation-summary-elem-full, .estimated-result-card .estimation-summary-elem-half {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f2f4f5;
    margin: 0 2.5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.estimated-result-card .estimation-summary-elem-full {
    width: 300px
}

.estimated-result-card .estimation-summary-elem-half {
    width: 145px
}

.estimated-result-card .estimated-ad-audience-data, .estimated-result-card .estimated-ad-clicks-data, .estimated-result-card .estimated-ad-views-data {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    color: #333;
    margin-top: 3px;
    font-weight: 700
}

.estimated-result-card .estimated-warning {
    margin-top: 13px;
    font-size: 12px;
    line-height: 16px;
    color: #666;
    text-align: center
}

.optimization-toggle-card .card-view-body {
    height: calc(100% - 45px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.optimization-toggle-card .optimization-toggle-slot-header {
    position: absolute;
    right: 15px;
    top: 10px
}

.optimization-toggle-card .optimization-toggle-card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.optimization-toggle-card .optimization-toggle-card-body span {
    font-size: 12px;
    line-height: 16px;
    color: #333;
    text-align: center;
    margin-top: 15px;
    width: 100%
}

.optimization-toggle-card .optimization-toggle-card-body > img {
    width: 43.3px;
    height: 50.7px
}

.payment-method-list {
    max-height: 180px;
    overflow: auto
}

.BillingPlans .billing-plan {
    width: 49.3%;
    display: inline-block;
    border: 2px solid #eaedf2;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    text-align: center
}

.BillingPlans .billing-plan.selected {
    border-color: #59abe3
}

.BillingPlans .billing-plan small {
    font-size: 10px
}

.BillingPlans .billing-plan-budget {
    color: #59abe3;
    font-weight: 700
}

.before-korean-modal-wrapper {
    background-color: #fff;
    border-radius: 10px;
    width: 100%
}

.before-korean-modal-wrapper .before-korean-modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 45px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700
}

.before-korean-modal-wrapper .before-korean-modal-body {
    padding: 15px
}

.before-korean-modal-wrapper .before-korean-modal-body__each {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 15px
}

.before-korean-modal-wrapper .before-korean-modal-body__each:last-child {
    margin-bottom: 0
}

.before-korean-modal-wrapper .before-korean-modal-body__each .each-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #5aabe3
}

.before-korean-modal-wrapper .before-korean-modal-body__each .each-title > span {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #5aabe3;
    margin-right: 5px
}

.before-korean-modal-wrapper .before-korean-modal-body__each .each-title img {
    margin-right: 5px
}

.before-korean-modal-wrapper .before-korean-modal-body__each .each-content {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: #333;
    word-break: keep-all;
    word-wrap: break-word
}

.before-korean-modal-wrapper .before-korean-modal-body__each .each-content span.dummy-space {
    width: 100%;
    height: 10px;
    display: block
}

.before-korean-modal-wrapper .before-korean-modal-body__each .each-content span.highlight {
    color: #5aabe3
}

.before-korean-modal-wrapper .before-korean-modal-body .button-wrapper {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.before-korean-modal-wrapper .before-korean-modal-body .button-wrapper button {
    width: 420px;
    font-size: 14px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    background-color: #5aabe3
}

.VueCarousel.preview-carousel {
    width: 100%;
    height: 100%
}

.VueCarousel.preview-carousel.ko .slide-bottom .slide-title {
    font-size: 16px;
    font-weight: 700
}

.VueCarousel.preview-carousel .VueCarousel-wrapper {
    height: 600px
}

.VueCarousel.preview-carousel .VueCarousel-dot-container .VueCarousel-dot {
    border: 1px solid transparent
}

.VueCarousel.preview-carousel .VueCarousel-dot-container .VueCarousel-dot:focus {
    outline: none
}

.VueCarousel.preview-carousel .VueCarousel-pagination {
    margin-top: -20px
}

.VueCarousel.preview-carousel .slide-bottom {
    margin-top: 20px
}

.VueCarousel.preview-carousel .slide-bottom, .VueCarousel.preview-carousel .slide-bottom .slide-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.VueCarousel.preview-carousel .slide-bottom .slide-title {
    border-radius: 3px;
    background-color: #fff;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: -.4px;
    text-align: center;
    color: #5aabe3;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 94px;
    min-height: 95px;
    width: 145px;
    padding: 15px 15px;
    word-break: keep-all;
    word-wrap: break-word
}

.VueCarousel.preview-carousel .slide-bottom .slide-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 -2.5px 0;
    margin-left: 15px;
    width: calc(100% - 160px)
}

.VueCarousel.preview-carousel .slide-bottom .slide-contents > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.VueCarousel.preview-carousel .slide-bottom .slide-contents span {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: 2.5px 0;
    word-break: keep-all;
    word-wrap: break-word
}

.VueCarousel.preview-carousel .slide-bottom .slide-contents--head {
    width: 10px
}

.VueCarousel.preview-carousel .slide-bottom .slide-contents--each {
    width: calc(100% - 15px)
}

#app.jp .VueCarousel.preview-carousel .slide-bottom .slide-contents span, #app.jp .VueCarousel.preview-carousel .slide-bottom .slide-title {
    word-break: normal
}

.payment-preview-modal-wrapper {
    background-color: #fff;
    border-radius: 10px;
    width: 100%
}

.payment-preview-modal-wrapper .payment-preview-modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 45px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700
}

.payment-preview-modal-wrapper .payment-preview-modal-body {
    padding: 15px
}

.payment-preview-modal-wrapper .payment-preview-modal-body .payment-preview-modal-divider {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 1px;
    background-color: #ddd
}

.payment-preview-modal-wrapper .payment-preview-modal-body .adriel-buttons-wrapper {
    margin-top: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.payment-preview-modal-wrapper .payment-preview-modal-body .adriel-buttons-wrapper button {
    text-transform: uppercase;
    height: 50px
}

.payment-preview-carousel.VueCarousel.preview-carousel .VueCarousel-wrapper {
    height: 530px;
    overflow-y: visible
}

.payment-preview-carousel.VueCarousel.preview-carousel .slide-bottom .slide-title {
    background-color: #5aabe3;
    color: #fff
}

.payment-preview-carousel.VueCarousel.preview-carousel .slide-bottom .slide-contents span {
    color: #4d5058
}

.goToAdsBtn {
    background-color: #5aabe3;
    color: #fff;
    font-size: 14px;
    border-radius: 3px
}

.goToAdsBtn img {
    height: auto;
    margin-left: 2px;
    width: 5px
}

.no-ads-enabled {
    margin-bottom: 10px
}

.plan-wrapper {
    margin-top: 15px;
    width: 100%
}

.plan-wrapper .plan-cards-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -6px
}

.plan-wrapper .plan-cards-wrapper > div {
    margin: 0 6px
}

.plan-wrapper .highlight-span {
    font-size: 18px;
    font-weight: 700;
    color: #5aabe3;
    margin: 0 3px
}

.plan-wrapper .divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 15px 0
}

.budget-channel-input-field:before {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 6px;
    left: 10px
}

.budget-channel-input-field input.input {
    height: 30px;
    width: 65px;
    background-color: #8090a0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding-right: 10px;
    text-align: left;
    padding-left: 20px
}

.budget-channel-input-field input.input::-webkit-inner-spin-button, .budget-channel-input-field input.input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0
}

.budget-channel-input-field input.input::-webkit-input-placeholder {
    color: #fff;
    opacity: .5
}

.budget-channel-input-field input.input::-moz-placeholder {
    color: #fff;
    opacity: .5
}

.budget-channel-input-field input.input:-ms-input-placeholder {
    color: #fff;
    opacity: .5
}

.budget-channel-input-field input.input::-ms-input-placeholder {
    color: #fff;
    opacity: .5
}

.budget-channel-input-field input.input::placeholder {
    color: #fff;
    opacity: .5
}

.budget-channel-input-field.adriel-common-input {
    height: 30px;
    width: 65px
}

.plan-wrapper .schedule-radio .schedule-radio-elem {
    height: 22px
}

.plan-wrapper .schedule-radio-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 2.5px 0
}

.plan-wrapper .plan-big-card {
    width: 325px;
    height: 670px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.plan-wrapper .plan-big-card.card-schedule .card-view-body {
    padding: 15px
}

.plan-wrapper .plan-big-card.card-budget .budget-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.plan-wrapper .plan-big-card.card-budget .budget-summary > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.plan-wrapper .plan-big-card.card-budget .budget-summary > span .budget-label {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2b80ba
}

.plan-wrapper .plan-big-card.card-budget .budget-summary > span .budget-period {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #7c8392;
    letter-spacing: -1px
}

.plan-wrapper .plan-big-card.card-budget .budget-summary > span.budget-summary-daily-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.plan-wrapper .plan-big-card.card-budget .budget-summary > span.budget-summary-daily-wrapper .budget-label {
    color: #5aabe3
}

.plan-wrapper .plan-big-card.card-budget .budget-summary > span.budget-summary-daily-wrapper .budget-value {
    font-weight: 700;
    font-size: 18px;
    color: #5aabe3
}

.plan-wrapper .plan-big-card.card-budget .budget-summary > span.budget-summary-daily-wrapper .budget-etc {
    color: #7c8392;
    font-size: 14px;
    font-weight: 500
}

.plan-wrapper .plan-big-card.card-budget .budget-summary > span.budget-summary-total-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px
}

.plan-wrapper .plan-big-card.card-budget .budget-summary > span.budget-summary-total-wrapper .budget-label {
    color: #5aabe3
}

.plan-wrapper .plan-big-card.card-budget .budget-summary > span.budget-summary-total-wrapper .budget-value {
    font-weight: 700;
    font-size: 18px;
    color: #5aabe3
}

.plan-wrapper .plan-big-card.card-budget .card-view-body {
    padding: 15px 15px 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.plan-wrapper .plan-big-card.card-budget .card-view-body .payment-list-wrapper.method {
    margin-top: auto
}

.plan-wrapper .plan-big-card.card-budget .card-view-body .payment-list-wrapper h4 {
    font-weight: 700
}

.plan-wrapper .plan-big-card.card-budget .budget-each-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -2.5px
}

.plan-wrapper .plan-big-card.card-budget .budget-each-wrapper .budget-each-elem {
    width: 145px;
    height: 40px;
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    padding-left: 5px;
    margin: 2.5px
}

.plan-wrapper .plan-big-card.card-budget .budget-each-wrapper .budget-each-elem img {
    margin: 0 5px
}

.plan-wrapper .plan-big-card.card-budget .budget-each-wrapper .budget-each-elem.budget_facebook {
    background-color: #385c8e
}

.plan-wrapper .plan-big-card.card-budget .budget-each-wrapper .budget-each-elem.budget_google {
    background-color: #518ef8
}

.plan-wrapper .plan-big-card.card-budget .budget-each-wrapper .budget-each-elem.budget_instagram {
    background: -webkit-gradient(linear, left top, right top, color-stop(60%, #723ac8), color-stop(#cb2688), to(#f26d55));
    background: linear-gradient(90deg, #723ac8 60%, #cb2688, #f26d55)
}

.plan-wrapper .plan-big-card.card-budget .budget-each-wrapper .budget-each-elem.budget_apple {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1ac7fc), color-stop(66%, #1ba5f8), to(#1d70f2));
    background-image: linear-gradient(180deg, #1ac7fc, #1ba5f8 66%, #1d70f2)
}

.plan-wrapper .plan-big-card.card-budget .budget-each-wrapper .budget-each-elem .budget-channel-day-text {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-left: 8px
}

.plan-wrapper .plan-big-card.card-budget .budget-each-wrapper .budget-each-elem .trigger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.plan-wrapper .plan-big-card .schedule-calendar {
    color: #00f;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #f2f4f5;
    padding: 10px
}

.plan-wrapper .plan-big-card .schedule-calendar.end {
    margin-top: 10px
}

.plan-wrapper .plan-big-card .schedule-calendar .asap-box {
    margin-bottom: 5px
}

.plan-wrapper .plan-big-card .schedule-calendar .asap-box .control-label {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    color: #4d5058
}

.plan-wrapper .plan-big-card .schedule-calendar > .field.has-addons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.plan-wrapper .plan-big-card .schedule-calendar > .field.has-addons > div > span {
    margin-bottom: 8px;
    display: inline-block
}

.plan-wrapper .plan-big-card .schedule-calendar > .field.has-addons > div > span, .plan-wrapper .plan-big-card .schedule-calendar label.label {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    color: #7c8392
}

.plan-wrapper .plan-big-card .schedule-calendar label.label:not(:last-child) {
    margin-bottom: 8px
}

.plan-wrapper .plan-big-card .schedule-calendar input.input {
    background-color: #8090a0;
    font-size: 14px;
    font-weight: 500;
    color: #fff
}

.plan-wrapper .plan-big-card .schedule-calendar input.input::-webkit-input-placeholder {
    color: #fff
}

.plan-wrapper .plan-big-card .schedule-calendar input.input::-moz-placeholder {
    color: #fff
}

.plan-wrapper .plan-big-card .schedule-calendar input.input:-ms-input-placeholder {
    color: #fff
}

.plan-wrapper .plan-big-card .schedule-calendar input.input::-ms-input-placeholder {
    color: #fff
}

.plan-wrapper .plan-big-card .schedule-calendar input.input::placeholder {
    color: #fff
}

.plan-wrapper .plan-big-card .schedule-result {
    margin-top: 30px;
    width: 100%;
    text-align: center
}

.plan-wrapper .plan-big-card .schedule-result .result-amount {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: #4d5058
}

.plan-wrapper .plan-big-card .result-continuously {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 28px
}

.plan-wrapper .plan-big-card .result-continuously .result-amount {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: #4d5058;
    margin-top: 30px
}

.plan-wrapper .plan-big-card .service-preview-text {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.plan-wrapper .plan-big-card .service-preview-text span {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5aabe3;
    padding: 0 2px;
    border-bottom: 1px solid #5aabe3;
    cursor: pointer
}

.plan-wrapper .plan-big-card .service-preview-text.ko {
    margin-top: 30px
}

.plan-wrapper .plan-additionals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.plan-wrapper .plan-normal-card {
    width: 325px;
    height: 325px
}

.plan-wrapper .plan-normal-card .card-view-body {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.plan-wrapper .plan-small-card {
    width: 325px;
    height: 333px;
    margin-top: 12px
}

.plan-wrapper .plan-small-card .card-view-body {
    padding: 15px
}

.plan-wrapper .schedule-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.plan-wrapper .schedule-box .datepicker {
    width: 100%
}

.plan-wrapper .schedule-box .timepicker {
    width: 110px
}

.plan-wrapper .schedule-box .timepicker .field.is-grouped.is-grouped-centered {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.plan-wrapper .schedule-box .timepicker .control.is-colon {
    font-size: 1em;
    margin-bottom: 5px
}

.plan-wrapper .schedule-box .timepicker .control:first-child .select:before {
    font-size: 1.4rem;
    left: 35px
}

.plan-wrapper .schedule-box .timepicker .dropdown-menu {
    min-width: auto
}

.plan-wrapper .schedule-box .timepicker .icon {
    height: 100%;
    width: 33px
}

.plan-wrapper .schedule-box .timepicker .control .select {
    font-size: 1rem
}

.plan-wrapper .schedule-box.schedule-disabled .control input {
    background-color: transparent;
    border-color: #ccc;
    color: #999;
    cursor: not-allowed
}

.plan-wrapper .schedule-box.schedule-disabled span.icon > i {
    color: #999
}

.payment-list-wrapper {
    margin: 15px 0 15px 0
}

.payment-list-wrapper h4 {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    color: #4d5058
}

.payment-list-wrapper hr {
    margin: 3px -15px 10px -15px;
    color: #ddd
}

.payment-list-wrapper.price h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.payment-list-wrapper.price h4 span {
    margin-left: auto;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    color: #5aabe3;
    padding: 0 2px;
    cursor: pointer;
    border-bottom: 1px solid #5aabe3;
    line-height: 14px
}

.payment-list-wrapper.price hr {
    margin-top: 10px;
    margin-bottom: 0
}

.payment-list-wrapper.price .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.payment-list-wrapper.price .details-each {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px dotted #ddd
}

.payment-list-wrapper.price .details-each:last-child {
    border-bottom: none;
    padding-bottom: 0
}

.payment-list-wrapper.price .details-each .left {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    color: #4d5058;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.payment-list-wrapper.price .details-each .left > span {
    margin-left: 5px
}

.payment-list-wrapper.price .details-each .right {
    margin-left: auto
}

.payment-list-wrapper.price .details-each .right .total-amount {
    font-weight: 700
}

.payment-list-wrapper.price .details-each .right .amount, .payment-list-wrapper.price .details-each .right .total-amount {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: #4d5058
}

.payment-list-wrapper.price .details-each .right .unit {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    color: #7c8392
}

.payment-list-wrapper.price .details-each.tax button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #f2f4f5;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 11px;
    font-weight: 600;
    color: #666
}

.payment-list-wrapper.price .details-each.tax .left {
    margin: 0 -2.5px
}

.payment-list-wrapper.price .details-each.tax .left > span {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    color: #4d5058;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.payment-list-wrapper.price .details-each.tax .left > * {
    margin: 0 2.5px;
    font-size: 10px
}

@media screen and (max-width: 800px) {
    .payment-list-wrapper.price .details-each.tax .left {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.payment-list-wrapper.price .details-each.credit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.payment-list-wrapper.price .details-each.credit > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.payment-list-wrapper.price .details-each.credit .credit-used {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: #ef646f
}

.payment-list-wrapper.price .details-each.credit .credit-total {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: #666
}

.payment-list-wrapper.price .details-each.credit button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 25px;
    padding: 0 10px;
    background-color: #f2f4f5;
    border: 1px solid #ddd;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #666;
    margin-left: 5px
}

.payment-list-wrapper.price .details-each .coupon-text {
    font-size: 12px;
    color: #333;
    background-image: url(/img/proposal/credit_coupon_bg.png);
    background-repeat: no-repeat;
    padding: 15px 10px 10px 10px;
    height: 60px;
    background-size: 100%;
    margin-top: 5px;
    letter-spacing: -.3px
}

.payment-list-wrapper .default-payment-method .payment-method {
    border: none
}

.payment-list-wrapper .default-payment-method button.mt-15 {
    margin-top: 10px;
    border-radius: 3px
}

.plan-wrapper .budget-each-elem .input-currency-wrapper {
    position: relative
}

.plan-wrapper .budget-each-elem .input-currency-wrapper:before {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 6px;
    left: 10px;
    color: #000
}

.plan-wrapper .budget-each-elem .adriel-common-input {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 10px
}

.plan-wrapper .budget-each-elem .adriel-common-input::-webkit-inner-spin-button, .plan-wrapper .budget-each-elem .adriel-common-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0
}

.plan-wrapper .nav-above {
    margin-left: auto;
    margin-bottom: 10px
}

@media screen and (max-width: 800px) {
    #main-route-view .plan-wrapper .plan-cards-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding-top: 10px
    }

    #main-route-view .plan-wrapper .plan-cards-wrapper .card-view {
        overflow: hidden
    }

    #main-route-view .plan-wrapper .plan-cards-wrapper .plan-big-card {
        width: 100%;
        margin: 0 0 30px 0;
        height: auto
    }

    #main-route-view .plan-wrapper .plan-cards-wrapper .plan-normal-card, #main-route-view .plan-wrapper .plan-cards-wrapper .plan-small-card {
        height: auto
    }

    #main-route-view .plan-wrapper .plan-cards-wrapper .plan-additionals {
        width: 100%;
        margin: 0
    }

    #main-route-view .plan-wrapper .plan-cards-wrapper .plan-additionals .plan-normal-card, #main-route-view .plan-wrapper .plan-cards-wrapper .plan-additionals .plan-small-card {
        width: 100%
    }

    #main-route-view .plan-wrapper .plan-cards-wrapper .plan-additionals .plan-small-card {
        margin-top: 30px
    }

    #main-route-view .plan-wrapper .plan-cards-wrapper .estimation-summary-elem-full.estimation-summary-audience {
        width: 100%
    }
}

.newAndReturningWrapper .newAndReturn-slot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.newAndReturningWrapper .newAndReturn-slot > span {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    color: #666;
    margin-bottom: 7px
}

.newAndReturningWrapper .gender-content .gender-value {
    margin-top: -8px
}

.newAndReturningWrapper .gender-content .gender-value.man .gender-percentage {
    color: #7ebbd4
}

.newAndReturningWrapper .gender-content .gender-value.woman .gender-percentage {
    color: #3f937e
}

.objectives-no-values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 100%
}

.objectives-no-values > img {
    margin-top: 25px
}

.objectives-values {
    height: 100%;
    width: 100%;
    overflow: auto
}

.objectives-ment-guide {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 12px;
    color: #7c8392;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center
}

.objectives-ment-guide, .objectives-ment-guide p {
    font-family: Rubik, "sans-serif", Noto Sans
}

.objectives-ment-guide img {
    margin-bottom: 15px
}

.objectives-values .tags-container .tags-element {
    border: 1px solid #ddd;
    background-color: #f2f4f5
}

.objectives-values .tags-container .tags-element .tags-text {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 12px;
    font-weight: 700;
    color: #2b80ba
}

.objectives-no-values .no-contents {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%
}

.objectives-no-values .no-contents .profile-no-contents-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.objectives-no-values .no-contents .profile-no-contents-text p {
    font-family: Rubik, "sans-serif", Noto Sans
}

.objectives-no-values .no-contents .profile-no-contents-text > img {
    margin-bottom: 15px
}

.objectives-no-values .no-contents .tags-container {
    margin-top: 12.5px;
    width: 100%
}

.objectives-no-values .no-contents .tags-container .tags-element {
    border: 1px solid #ddd;
    background-color: #f2f4f5
}

.objectives-no-values .no-contents .tags-container .tags-element .tags-text {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 12px;
    font-weight: 700;
    color: #2b80ba
}

.visitors-no-tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto
}

.visitors-no-tools .no-contents {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.visitors-no-tools .profile-no-contents-text {
    width: 100%
}

.tracker-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: auto
}

.login-btn, .tracker-buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.login-btn {
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-top: 15px
}

.login-btn img {
    margin-right: 5px;
    width: 15px;
    height: 15px
}

.login-btn span {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    color: #333;
    font-weight: 400
}

.login-btn.pixel {
    background-color: #385c8e
}

.login-btn.pixel span {
    color: #fff
}

.ment-no-tools {
    color: #7c8392;
    text-align: center
}

.ment-no-help, .ment-no-tools {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-weight: 700;
    font-size: 12px
}

.ment-no-help {
    color: #5aabe3;
    text-decoration: underline;
    cursor: pointer
}

.visitors-has-tools {
    overflow-y: auto;
    overflow-x: hidden
}

.visitors-has-tools .tracker-container, .visitors-has-tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%
}

.visitors-has-tools.both > div:last-child {
    margin-top: 15px
}

.visitors-ment-guide {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-weight: 700;
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-bottom: 5px
}

.visitors-ment-guide + div {
    width: 100%
}

.page-elem-box {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f4f5;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.page-elem-box .adriel-ellipsis, .page-elem-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.page-elem-box .adriel-ellipsis > img {
    width: 15px;
    height: 15px;
    margin-right: 10px
}

.page-elem-box .page-name {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 12px;
    font-weight: 700;
    color: #333
}

.page-elem-box .page-url {
    font-size: 12px;
    color: #797d88;
    margin-left: 4px
}

.page-elem-box .not-found {
    font-size: 12px;
    color: #999
}

.page-elem-box > span {
    max-width: calc(100% - 15px)
}

.page-elem-box > img {
    margin-left: auto;
    cursor: pointer
}

.fb-app-container {
    width: 100%;
    height: 100%
}

.fb-app-container--no-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.fb-app-container--no-app--text {
    width: 284px;
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 12px;
    text-align: center;
    color: #7c8392
}

.website-visitors .card-view-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.visitors-no-tools .profile-no-contents-text {
    width: 100%
}

.visitors-no-tools .ment-no-tools span:first-child {
    font-weight: 700;
    color: #5aabe3
}

.visitors-no-tools .ment-no-tools span.space {
    display: block;
    margin-top: 10px
}

.visitors-tooltip {
    background-color: #eee;
    max-width: 295px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    font-family: Rubik, "sans-serif", Noto Sans;
    line-height: 16px;
    color: #797d88;
    width: 100%;
    text-align: center;
    padding: 5.6px 12px;
    position: relative;
    margin-top: 10px
}

.visitors-tooltip:after {
    content: "";
    border-width: 5px 5px 0 5px;
    border-style: solid;
    position: absolute;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
    border-color: #eee;
    z-index: 1
}

@media screen and (max-width: 800px) {
    .visitors-tooltip {
        margin-top: 10px
    }
}

.customers-no-values {
    width: 100%;
    height: 100%
}

.customers-values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.customers-values .customers-info {
    margin-bottom: 15px;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #7c8392
}

.customers-list-files {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin: -5px 0
}

.customers-list-files .customers-list-file {
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    color: #666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    margin: 5px 0
}

.customers-list-files .customers-list-file .excel-icon {
    margin-right: 5px
}

.customers-list-files .customers-list-file-name {
    height: 100%;
    line-height: 30px
}

.customers-list-files .customers-list-file-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto
}

.customers-list-files .customers-list-file-actions a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.customers-list-files .customers-list-file-actions img {
    cursor: pointer
}

.customers-list-files .customers-list-file-actions img:last-child {
    margin-left: 10px
}

.website-visitors .card-view .card-view-header .upload-draggable {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0 5px
}

.website-visitors .card-view .card-view-header .upload-draggable img {
    margin-right: 0
}

.size-decision-card .card-view-body {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.company-size-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 15px 20px 15px;
    margin: -3.5px 0;
    width: 100%
}

.company-size-wrapper:last-child .size-decision-element {
    width: 92px
}

.size-decision-element {
    margin: 3.5px 0;
    width: 145px;
    height: 35px;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #4d5058;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: #f2f4f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    cursor: pointer
}

.size-decision-element img {
    margin-right: 5px
}

.size-decision-element.selected-elem {
    color: #fff;
    background-color: #5aabe3
}

.size-decision-divider {
    width: 100%;
    height: 1px;
    background-color: #ddd
}

.sector-no-values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.sector-no-values .no-contents {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ment-no-tools {
    color: #7c8392;
    text-align: center
}

.ment-no-help, .ment-no-tools {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    font-size: 12px
}

.ment-no-help {
    color: #5aabe3;
    text-decoration: underline
}

.visitors-has-tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden
}

.sector-values {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
    overflow-y: auto
}

.sector-wrapper .card-view-body {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.sector-wrapper .card-view-body .tags-container .tags-element {
    background-color: #5da1a7
}

.conversions-modal-wrapper {
    position: fixed;
    background-color: #fff;
    border-radius: 10px;
    width: 450px;
    max-width: 100%;
    cursor: move
}

.conversions-modal-wrapper .buttons-wrapper {
    margin-top: 30px;
    padding: 0 15px 15px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.conversions-modal-wrapper .buttons-wrapper button {
    width: 205px;
    font-size: 18px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    height: 50px
}

.conversions-modal-wrapper .buttons-wrapper button:first-child {
    background-color: #999;
    margin-right: 5px
}

.conversions-modal-wrapper .buttons-wrapper button:last-child {
    background-color: #5aabe3;
    margin-left: 5px
}

.conversions-modal-wrapper .buttons-wrapper span {
    text-align: center;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    color: #333
}

.conversions-modal-editable-box {
    max-height: 305px;
    overflow-y: auto
}

.conversions-modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 45px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700
}

.conversions-modal-header + .conversions-modal-adder-wrapper {
    padding: 15px;
    padding-bottom: 0;
    margin: -5px 0
}

.conversions-modal-header + .conversions-modal-adder-wrapper .conversions-modal-divider {
    margin-top: 15px
}

.conversions-modal-header + .conversions-modal-adder-wrapper .page-elems {
    overflow-y: auto
}

.conversions-modal-header + .conversions-modal-adder-wrapper .page-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 0
}

.conversions-modal-header + .conversions-modal-adder-wrapper .page-elem label .control-label, .conversions-modal-header + .conversions-modal-adder-wrapper .page-elem label {
    width: 100%
}

.conversions-modal-header + .conversions-modal-adder-wrapper .page-elem .page-elem-box {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f4f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.conversions-modal-header + .conversions-modal-adder-wrapper .page-elem .page-name {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #333
}

.conversions-modal-header + .conversions-modal-adder-wrapper .page-elem .page-url {
    font-size: 12px;
    color: #797d88;
    margin-left: 4px
}

.conversions-modal-header + .conversions-modal-adder-wrapper .page-elem .not-found {
    font-size: 12px;
    color: #999
}

.conversions-modal-header + .conversions-modal-adder-wrapper .no-tracker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px
}

.conversions-modal-header + .conversions-modal-adder-wrapper .no-tracker .no-tracker-box {
    text-align: center;
    font-size: 13px;
    padding: 10px 0 30px;
    width: 100%
}

.conversions-modal-header + .conversions-modal-adder-wrapper .no-tracker span {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 13px;
    color: #333;
    display: block
}

.conversions-modal-header + .conversions-modal-adder-wrapper .no-tracker a {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 13px;
    color: #5aabe3;
    text-decoration: underline
}

.conversions-modal-wrapper .inputs-modal-adder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.conversions-modal-wrapper .inputs-modal-adder:not(.async-search) img {
    margin-left: 10px;
    cursor: pointer
}

.conversions-modal-wrapper .select-conversions {
    width: 93%;
    height: 33px;
    font-size: 14px;
    margin-bottom: 10px
}

.conversions-modal-wrapper .page-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.conversions-modal-wrapper .page-elem label {
    width: 100%
}

.conversions-modal-wrapper .page-elem label .control-label {
    width: calc(100% - 20px)
}

.conversions-modal-wrapper .page-elem .custom-radio input[type=radio] + .check {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc
}

.conversions-modal-wrapper .page-elem .custom-radio.selected input[type=radio] + .check {
    width: 20px;
    height: 20px;
    border: 2px solid #5aabe3
}

.conversions-modal-wrapper .page-elem .custom-radio.selected input[type=radio] + .check:before {
    width: 10px;
    height: 10px
}

.conversions-modal-wrapper .page-elem .custom-radio.selected .control-label .page-elem-box {
    border: 2px solid #5aabe3
}

.summary-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.summary-tags-text {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 500
}

.summary-tags-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: -6.5px
}

.summary-tags-elements > span {
    margin: 6.5px;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    background-color: #5aabe3;
    color: #fff;
    background-repeat: no-repeat;
    padding: 10px
}

.summary-tags-elements > span > span {
    word-break: break-word
}

.summary-tags-elements > span.age {
    background-color: #85c6cc;
    background-image: url(/img/proposal/summary_age_bg.png)
}

.summary-tags-elements > span.gender {
    background-color: #5aabe3;
    background-image: url(/img/proposal/summary_gender_men_bg.png)
}

.summary-tags-elements > span.gender.women {
    background-image: url(/img/proposal/summary_gender_women_bg.png);
    background-color: #ef646f
}

.summary-tags-elements > span.location {
    background-color: #f3b94d;
    background-image: url(/img/proposal/summary_location_bg.png)
}

.summary-tags-elements > span.income {
    background-color: #146e93;
    background-image: url(/img/proposal/summary_income_bg.png)
}

.summary-tags-elements > span.device {
    background-color: #5aabe3;
    background-image: url(/img/proposal/summary_device_bg.png)
}

.summary-tags-elements > span.relationship {
    background-color: #5aabe3;
    background-image: url(/img/proposal/summary_relationship_bg.png)
}

.summary-tags-elements > span.keyword {
    background-color: #337d83;
    background-image: url(/img/proposal/summary_search_keyword_bg.png)
}

.summary-tags-elements > span.interest {
    background-color: #2b80ba;
    background-image: url(/img/proposal/summary_interests_bg.png)
}

@media screen and (max-width: 800px) {
    .target-summary .summary-tags-elements > span span {
        font-size: 16px
    }
}

.targetWrapper {
    margin-top: 15px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.targetWrapper .card-view {
    height: 100%;
    max-height: 430px;
    min-height: 175px
}

.targetWrapper .card-view-body, .targetWrapper .target-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.targetWrapper .target-summary {
    margin-top: 5px
}

.targetWrapper .target-summary, .targetWrapper .target-summary .summary-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

.targetWrapper .target-summary .summary-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    line-height: 140%;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 20px;
    color: #333;
    text-align: center
}

.targetWrapper .target-summary .summary-contents b {
    font-weight: 400;
    color: #5aabe3
}

.targetWrapper .target-summary .toggleBtn {
    margin-top: 30px;
    margin-bottom: 24px;
    width: 180px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f2f4f5;
    border: 1px solid #ddd;
    border-radius: 5px
}

.targetWrapper .target-summary .toggleBtn span {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    color: #666;
    margin-right: 5px
}

.targetWrapper .components-group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    min-width: 1000px;
    margin: -4px 0;
    margin-top: 30px
}

.targetWrapper .components-group > div {
    margin: 4px;
    width: calc(50% - 8px)
}

.targetWrapper .inputs-modal-adder-wrapper .modal-adder-text {
    width: 100%;
    display: block;
    color: #666;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px
}

.targetWrapper .nav-above {
    margin-left: auto;
    margin-bottom: 30px
}

.proposalGender .gender-gauge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.proposalGender .gender-value.man .gender-percentage {
    color: #2b80ba
}

.proposalGender .gender-value.woman .gender-percentage {
    color: #ef646f
}

.proposalLocation .card-view-body {
    padding: 15px
}

.proposalLocation .location-card-body {
    height: 100%;
    background-color: #eee;
    border-radius: 45px;
    padding: 20px 10px
}

.targetWrapper .card-view-body .tags-container {
    margin-top: 0;
    margin-bottom: 0
}

@media screen and (max-width: 800px) {
    .targetWrapper .components-group {
        min-width: auto
    }

    .targetWrapper .components-group > div, .targetWrapper .components-group > div .card-view {
        height: auto;
        width: 100%
    }

    .targetWrapper .components-group > div .card-view .card-view-header {
        overflow: hidden
    }

    .targetWrapper .card-view.h240 {
        height: 240px
    }

    .targetWrapper .card-view.h210 {
        height: 210px
    }
}