.footer-wrapper {
    width: 100%;
    margin-top: auto;
    background-color: #4d5058;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100px
}

.footer-wrapper .footer-body {
    max-width: 1200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 0
}

.footer-wrapper .footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.footer-wrapper .footer-address {
    font-size: 16px;
    color: #5aabe3
}

.footer-wrapper .footer-detail {
    color: #999;
    line-height: 140%;
    font-size: 14px
}

.footer-wrapper .footer-detail a {
    color: #999;
    margin-top: 8px;
    line-height: 140%;
    font-size: 14px
}

.footer-wrapper .footer-sns {
    margin: 0 -5px
}

.footer-wrapper .footer-sns img {
    margin: 0 5px;
    cursor: pointer
}

.sign-wrapper {
    height: 99vh;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.sign-wrapper .sign-wrapper-top-container, .sign-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.sign-wrapper .sign-wrapper-top-container {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ddd;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.sign-wrapper .sign-wrapper-top {
    width: 95%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.sign-wrapper .sign-wrapper-top a {
    display: inline-block;
    margin: 0 auto
}

.sign-wrapper .sign-wrapper-top a img {
    width: 114.6px;
    height: 35.2px
}

@media (max-width: 800px) {
    .sign-wrapper .sign-wrapper-top a {
        margin: initial
    }
}

.sign-wrapper .sign-wrapper-top .sign-lang-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.sign-wrapper .sign-wrapper-top .sign-lang-wrapper span {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 5.31;
    letter-spacing: -.2px;
    text-align: center;
    color: rgba(76, 80, 88, .4);
    cursor: pointer;
    margin: 0 5px
}

.sign-wrapper .sign-wrapper-top .sign-lang-wrapper span.active, .sign-wrapper .sign-wrapper-top .sign-lang-wrapper span:hover {
    color: #4c5058
}

@media (min-height: 800px) {
    .sign-wrapper {
        height: 100vh
    }
}

.VueCarousel.preview-carousel {
    width: 100%;
    height: 100%
}

.VueCarousel.preview-carousel.ko .slide-bottom .slide-title {
    font-size: 16px;
    font-weight: 700
}

.VueCarousel.preview-carousel .VueCarousel-wrapper {
    height: 600px
}

.VueCarousel.preview-carousel .VueCarousel-dot-container .VueCarousel-dot {
    border: 1px solid transparent
}

.VueCarousel.preview-carousel .VueCarousel-dot-container .VueCarousel-dot:focus {
    outline: none
}

.VueCarousel.preview-carousel .VueCarousel-pagination {
    margin-top: -20px
}

.VueCarousel.preview-carousel .slide-bottom {
    margin-top: 20px
}

.VueCarousel.preview-carousel .slide-bottom, .VueCarousel.preview-carousel .slide-bottom .slide-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.VueCarousel.preview-carousel .slide-bottom .slide-title {
    border-radius: 3px;
    background-color: #fff;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: -.4px;
    text-align: center;
    color: #5aabe3;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 94px;
    min-height: 95px;
    width: 145px;
    padding: 15px 15px;
    word-break: keep-all;
    word-wrap: break-word
}

.VueCarousel.preview-carousel .slide-bottom .slide-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 -2.5px 0;
    margin-left: 15px;
    width: calc(100% - 160px)
}

.VueCarousel.preview-carousel .slide-bottom .slide-contents > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.VueCarousel.preview-carousel .slide-bottom .slide-contents span {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: 2.5px 0;
    word-break: keep-all;
    word-wrap: break-word
}

.VueCarousel.preview-carousel .slide-bottom .slide-contents--head {
    width: 10px
}

.VueCarousel.preview-carousel .slide-bottom .slide-contents--each {
    width: calc(100% - 15px)
}

#app.jp .VueCarousel.preview-carousel .slide-bottom .slide-contents span, #app.jp .VueCarousel.preview-carousel .slide-bottom .slide-title {
    word-break: normal
}

.oauth-btn {
    width: 100%;
    height: 51px;
    border-radius: 3px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 10px;
    -webkit-transition: background .3s;
    transition: background .3s
}

.oauth-btn span {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center
}

.oauth-btn.facebook {
    background-image: url(/img/icons/facebook_logo.png);
    background-color: #4267b2
}

.oauth-btn.facebook:hover {
    background-color: #29487d
}

.oauth-btn.facebook span {
    color: #fff
}

.oauth-btn.google {
    background-image: url(/img/icons/google_logo.png);
    background-color: #fff;
    border: 1px solid #ccc
}

.oauth-btn.google:hover {
    background-color: #eee
}

.oauth-btn.google span {
    color: #666
}

.join-adriel-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: .7px .7px 10px 0 rgba(0, 0, 0, .15);
    box-shadow: .7px .7px 10px 0 rgba(0, 0, 0, .15);
    background-color: #fff;
    margin-top: 80px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 50px;
    max-width: 100%
}

.join-adriel-container .join-adriel-preview {
    width: 640px;
    min-height: 600px;
    background-color: #5aabe3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px
}

.join-adriel-container .join-adriel-preview--title {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: -.5px;
    color: #fff;
    margin-bottom: 15px
}

.join-adriel-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media screen and (max-width: 800px) {
    .join-adriel-wrapper {
        max-width: 90%;
        margin: 0 auto
    }
}

.join-adriel-wrapper .join-adriel-title {
    font-weight: 700;
    font-size: 24px;
    color: #4d5058;
    text-align: center;
    margin-bottom: 30px
}

.join-adriel-wrapper .join-adriel-title > .additional-text {
    color: #ef646f;
    display: block;
    font-size: 15px;
    margin-top: 10px
}

.join-adriel-wrapper .join-adriel-title__top {
    position: relative
}

.join-adriel-wrapper .join-adriel-title__top > img {
    position: absolute;
    left: calc(100% + 18px);
    top: 0
}

.join-adriel-wrapper > span {
    text-align: center;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: #666;
    cursor: pointer
}

.join-adriel-wrapper > span.mb-10:hover {
    text-decoration: underline
}

.join-adriel-wrapper .join-adriel {
    width: 440px;
    border-radius: 10px;
    padding: 30px 15px 15px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.join-adriel-wrapper .join-adriel button {
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    height: 50px;
    background-color: #5aabe3
}

.join-adriel-wrapper .join-adriel button:hover {
    background-color: #4ea1da
}

.join-adriel-wrapper .join-adriel .sign-inputs {
    margin: -5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

.join-adriel-wrapper .join-adriel .sign-inputs > span {
    width: 100%;
    margin: 5px 0;
    position: relative
}

.join-adriel-wrapper .join-adriel .sign-inputs > span .control {
    width: 100%
}

.join-adriel-wrapper .join-adriel .sign-inputs > span .control input.input {
    height: 40px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #8090a0;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif
}

.join-adriel-wrapper .join-adriel .sign-inputs > span .control input.input::-webkit-input-placeholder {
    color: hsla(0, 0%, 100%, .5)
}

.join-adriel-wrapper .join-adriel .sign-inputs > span .control input.input:-moz-placeholder, .join-adriel-wrapper .join-adriel .sign-inputs > span .control input.input::-moz-placeholder {
    color: hsla(0, 0%, 100%, .5)
}

.join-adriel-wrapper .join-adriel .sign-inputs.signUp > span > span {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #797d88
}

.join-adriel-wrapper .join-adriel .sign-inputs.signUp .control input.input {
    font-size: 14px;
    font-weight: 500;
    color: #fff
}

.join-adriel-wrapper .join-adriel .optional {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    color: #999;
    font-size: 12px;
    font-weight: 700
}

.join-adriel-wrapper .join-adriel hr {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 13px 0
}

.join-adriel-wrapper .modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.join-adriel-wrapper .join-agree-terms-en {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0;
    cursor: pointer
}

.join-adriel-wrapper .join-agree-terms-en > span {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #393c3f
}

.join-adriel-wrapper .join-agree-terms-en > span > span {
    text-decoration: underline;
    color: #5aabe3
}

.join-adriel-wrapper .join-agree-terms-en.hasError {
    border: 1px solid #ef646f;
    padding: 5px
}

.join-adriel-wrapper .join-agree-terms-ko {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    cursor: pointer
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 7px
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row > div:first-child > img:first-child {
    width: 21px;
    height: 21px
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row > div:first-child > img:last-child {
    margin-left: auto
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row > div:first-child > span {
    margin-left: 10px;
    font-size: 12px;
    color: #666;
    line-height: 14px;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row > div:first-child > span > .required {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    color: #5aabe3;
    font-size: 12px;
    font-weight: 700
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #ddd;
    background-color: #f2f4f5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 7px;
    max-height: 100px;
    overflow-y: auto
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row .details__content, .join-adriel-wrapper .join-agree-terms-ko .terms-row .details__title {
    font-size: 12px;
    color: #666
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row .details__table {
    margin-top: 5px;
    margin-bottom: 10px
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row .details__table > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #ddd
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row .details__table span {
    height: 30px;
    font-size: 12px;
    color: #666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row .details__table span:first-child {
    width: 120px;
    font-weight: 700;
    background-color: #f2f4f5;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row .details__table span:last-child {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 120px);
    border-left: 1px solid #ddd
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row.total {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 8px
}

.join-adriel-wrapper .join-agree-terms-ko .terms-row.total > div > span {
    font-weight: 700;
    font-size: 14px;
    color: #4d5058
}

@media (max-width: 600px) {
    .join-adriel-wrapper .join-adriel {
        width: 100%
    }
}

.join-adriel-wrapper .join-adriel .sign-inputs.signUp .control.disabled-code input.input {
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f2f4f5;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: #4d5058
}

@media (max-width: 600px) {
    .join-adriel-container {
        margin-top: 20px
    }
}

@media (min-width: 1080px) {
    .join-adriel-container {
        min-height: 600px;
        margin-bottom: 80px;
        border-radius: 5px;
        -webkit-box-shadow: .7px .7px 10px 0 rgba(0, 0, 0, .15);
        box-shadow: .7px .7px 10px 0 rgba(0, 0, 0, .15)
    }

    .join-adriel-container .join-adriel-preview {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px
    }

    .join-adriel-container .join-adriel-wrapper {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px
    }

    .join-adriel-container .join-adriel-wrapper .join-adriel {
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

@media (max-width: 1079px) {
    .join-adriel-wrapper > span {
        margin-top: 15px
    }

    .join-adriel-container {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent
    }

    .join-adriel-container .join-adriel-preview {
        display: none
    }
}

.login-adriel-wrapper {
    margin-bottom: 50px;
    margin-top: 80px;
    max-width: 100%
}

.login-adriel-wrapper .join-adriel-title {
    font-weight: 700;
    font-size: 24px;
    color: #4d5058;
    text-align: center;
    margin-bottom: 40px
}

.login-adriel-wrapper .login-additionals {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%
}

.login-adriel-wrapper .login-additionals span {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 14px;
    color: #666;
    cursor: pointer
}

.login-adriel-wrapper .login-additionals span span {
    text-decoration: underline;
    font-weight: 700;
    color: #5aabe3;
    margin-left: 3px
}

.login-adriel-wrapper .login-adriel {
    width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.login-adriel-wrapper .login-adriel .login-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%
}

.login-adriel-wrapper .login-adriel .login-middle > span {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 3px;
    font-size: 14px;
    font-weight: 500;
    color: #666
}

.login-adriel-wrapper .login-adriel .remember-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.login-adriel-wrapper .login-adriel .remember-me img {
    margin-right: 5px
}

.login-adriel-wrapper .login-adriel .remember-me span {
    font-size: 14px;
    font-weight: 500;
    color: #666
}

.login-adriel-wrapper .login-adriel button {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    height: 50px;
    background-color: #5aabe3;
    -webkit-transition: background .3s;
    transition: background .3s
}

.login-adriel-wrapper .login-adriel button:hover {
    background-color: #4ea1da
}

.login-adriel-wrapper .login-adriel .sign-inputs {
    margin: -5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

.login-adriel-wrapper .login-adriel .sign-inputs > span {
    width: 100%;
    margin: 5px 0;
    position: relative
}

.login-adriel-wrapper .login-adriel > hr {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 13px 0
}

@media (max-width: 600px) {
    .login-adriel-wrapper .login-adriel {
        max-width: 90%;
        margin: 0 auto
    }
}

.forgot-adriel-wrapper {
    margin-top: 80px;
    margin-bottom: 50px
}

.forgot-adriel-wrapper .forgot-modal-title {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-bottom: 15px
}

.forgot-adriel-wrapper .message-modal-wrapper span:not(.forgot-modal-title) {
    font-size: 14px
}

.forgot-adriel-wrapper .forgot-adriel {
    width: 450px;
    border-radius: 10px;
    padding: 30px 15px 15px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.forgot-adriel-wrapper .forgot-adriel button {
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    height: 50px;
    background-color: #5aabe3
}

.forgot-adriel-wrapper .forgot-adriel .sign-inputs {
    margin: -5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

.forgot-adriel-wrapper .forgot-adriel .sign-inputs > span {
    width: 100%;
    margin: 5px 0;
    position: relative
}

.forgot-adriel-wrapper .forgot-adriel .sign-inputs > span .control {
    width: 100%
}

.forgot-adriel-wrapper .forgot-adriel .sign-inputs > span .control input.input {
    height: 40px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #8090a0;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif
}

.forgot-adriel-wrapper .forgot-adriel .sign-inputs > span .control input.input::-webkit-input-placeholder {
    color: hsla(0, 0%, 100%, .5)
}

.forgot-adriel-wrapper .forgot-adriel .sign-inputs > span .control input.input:-moz-placeholder, .forgot-adriel-wrapper .forgot-adriel .sign-inputs > span .control input.input::-moz-placeholder {
    color: hsla(0, 0%, 100%, .5)
}

.forgot-adriel-wrapper .forgot-adriel .sign-inputs.login img {
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 10px
}

.forgot-adriel-wrapper .forgot-adriel .sign-inputs.login .control input.input {
    padding-left: 37px
}

.forgot-adriel-wrapper .forgot-info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 15px
}

.forgot-adriel-wrapper .forgot-info-wrapper .forgot-info-title {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #4d5058;
    text-align: center
}

.forgot-adriel-wrapper .forgot-info-wrapper .forgot-info {
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: 30px;
    white-space: pre-line
}

.reset-adriel-wrapper {
    margin-top: 80px
}

.reset-adriel-wrapper .message-modal-wrapper span:not(.forgot-modal-title) {
    font-size: 14px
}

.reset-adriel-wrapper .reset-adriel {
    width: 450px;
    border-radius: 10px;
    padding: 30px 15px 15px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.reset-adriel-wrapper .reset-adriel button {
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    height: 50px;
    background-color: #5aabe3
}

.reset-adriel-wrapper .reset-adriel .sign-inputs {
    margin: -5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

.reset-adriel-wrapper .reset-adriel .sign-inputs > span {
    width: 100%;
    margin: 5px 0;
    position: relative
}

.reset-adriel-wrapper .reset-adriel .sign-inputs > span > span {
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #797d88
}

.reset-adriel-wrapper .reset-adriel .sign-inputs > span .control {
    width: 100%
}

.reset-adriel-wrapper .reset-adriel .sign-inputs > span .control input.input {
    height: 40px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #8090a0;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    font-family: Roboto, Nanum Gothic, Noto Sans, sans-serif
}

.reset-adriel-wrapper .reset-adriel .sign-inputs > span .control input.input::-webkit-input-placeholder {
    color: hsla(0, 0%, 100%, .5)
}

.reset-adriel-wrapper .reset-adriel .sign-inputs > span .control input.input:-moz-placeholder, .reset-adriel-wrapper .reset-adriel .sign-inputs > span .control input.input::-moz-placeholder {
    color: hsla(0, 0%, 100%, .5)
}

.reset-adriel-wrapper .forgot-info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 15px
}

.reset-adriel-wrapper .forgot-info-wrapper .forgot-info-title {
    font-family: Saira, Nanum Gothic, Noto Sans, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #4d5058;
    text-align: center
}

.reset-adriel-wrapper .forgot-info-wrapper .forgot-info {
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: 30px
}

.verify-adriel-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 80px
}

.verify-adriel-wrapper .verify-info-title {
    font-family: Rubik, "sans-serif", Noto Sans;
    font-size: 24px;
    font-weight: 700;
    color: #5aabe3;
    margin-top: 15px
}

.verify-adriel-wrapper .verify-adriel {
    margin-top: 20px;
    width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff
}

.verify-adriel-wrapper .verify-adriel, .verify-adriel-wrapper .verify-adriel > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.verify-adriel-wrapper .verify-adriel > span {
    font-family: Rubik, "sans-serif", Noto Sans;
    color: #333;
    font-size: 16px
}

.verify-adriel-wrapper .verify-adriel > span.verify-adriel-info {
    margin: 15px 0
}

.verify-adriel-wrapper .verify-adriel + button, .verify-adriel-wrapper .verify-adriel > span > span {
    font-weight: 700;
    font-family: Rubik, "sans-serif", Noto Sans
}

.verify-adriel-wrapper .verify-adriel + button {
    padding: 5px 20px;
    border-radius: 3px;
    background-color: #5aabe3;
    font-size: 16px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px
}

@media screen and (max-width: 800px) {
    .verify-adriel-wrapper {
        width: 90%;
        margin-top: 40px
    }

    .verify-adriel-wrapper .verify-adriel {
        max-width: 100%
    }
}
label.error {
    display:block;
    color:red;
    font-size:0.8em;
    margin-top:2px;
}